<section id="author-component" class="{{if errors 'has-error'}}">
  <h2>{{authorHeaderText}}</h2>
  {{#if errors}}
    <ul class="list-unstyled has-error">
      {{#each errors as |item|}}
        <li><i class="fa fa-info-circle"></i> {{item}}</li>
      {{/each}}
    </ul>
  {{/if}}

  {{#if fieldHelptext}}
    <span id={{GUID}} class="help-block">{{linkify (t fieldHelptext)}}</span>
  {{/if}}
  {{#each authorArr as |item|}}
    {{author-row
        item=item
        setMsgHeader=setMsgHeader
        institutions=institutions
        removeAuthor=(action 'removeAuthorRow')
        isThisTheOnlyAuthorRow=isThisTheOnlyAuthorRow
        moveUp=(action 'moveUp')
        moveDown=(action 'moveDown')
        queryAuthorsResult=(action 'queryAuthorsResult')
        submitCallbacks=submitCallbacks
    }}
  {{/each}}
  <div class="row">
    <div class="col-md-9">
      <div class="dotted-line"></div>
      <button class="btn btn-primary" {{action 'addEmptyAuthorRow'}}>{{t 'edit.form.btnAddNewAuthor'}} <i class="fa fa-plus"></i></button>
    </div>
  </div>
</section>
