<div class="row bottom-spacing-20">
	<div class="dotted-line"></div>
	<div class="col-xs-10">
		{{#if item.transformedToNewAuthor}}
			<div class="row bottom-spacing-20">
				<div class="col-xs-12">
					<div class="row bottom-spacing-20">
						<div class="col-xs-6">
							<label>{{t 'edit.createNewAuthor.form.labels.firstname'}}</label>
							{{input type="text" class="form-control" value=item.newAuthorForm.firstName placeholder=(t 'edit.createNewAuthor.form.labels.firstname')}}
						</div>
						<div class="col-xs-6">
							<label>{{t 'edit.createNewAuthor.form.labels.lastname'}}</label>
							{{input type="text" class="form-control" value=item.newAuthorForm.lastName placeholder=(t 'edit.createNewAuthor.form.labels.lastname')}}
						</div>
					</div>
					<div class="row bottom-spacing-20">
						<div class="col-xs-3">
							<label>{{t 'edit.createNewAuthor.form.labels.birthyear'}}</label>
							{{input type="text" class="form-control" value=item.newAuthorForm.year_of_birth placeholder=(t 'edit.createNewAuthor.form.labels.birthyear')}}
						</div>

						<div class="col-xs-3">
							<label>{{t 'edit.createNewAuthor.form.labels.xaccount'}}</label>
							{{input type="text" class="form-control" value=item.newAuthorForm.xaccount placeholder=(t 'edit.createNewAuthor.form.labels.xaccount')}}
						</div>
						<div class="col-xs-6">
							<label>{{t 'edit.createNewAuthor.form.labels.orcid'}}</label>
							{{input type="text" class="form-control" value=item.newAuthorForm.orcid placeholder=(t 'edit.createNewAuthor.form.labels.orcid')}}
						</div>
					</div>
					<div class="btn-toolbar">
						<button type="submit"  {{action 'createAuthor' item}} class="btn btn-success">{{t 'edit.createNewAuthor.form.actions.btnSave'}}</button>
						<button {{action "toggleAddNewAuthor" item}}class="btn btn-danger">{{t 'edit.createNewAuthor.form.actions.btnCancel'}}</button>
					</div>
				</div>
			</div>
		{{else}}
			<div class="row">
				<div class="col-xs-5">
					<label>{{t 'edit.form.selectAuthor.label'}}</label>
					{{select2-adjusted
					    placeholder=(t 'edit.form.selectAuthor.placeholder')
					    value=item.selectedAuthor
					    optionLabelPath="last_name"
					    typeaheadSearchingText=(t 'edit.form.selectAuthor.typeaheadSearchingText')
					   	typeaheadNoMatchesText=(t 'edit.form.selectAuthor.typeaheadNoMatchesText')
					   	minimumInputLength=3
					    query="queryAuthors"
					    allowClear=true
					    zeroResult=item.transformedToNewAuthor
					    cssClass=item.id
					}}
				</div>
				<div class="col-xs-7">
					<div class="how-to-sort">
						<a href="javascript:void();">{{t 'edit.form.selectInstitutions.sortingLink'}}</a>
						<div class="outer-wrapper">
							<div class="message">
							</div>
						</div>
					</div>	
					<label>{{t 'edit.form.selectInstitutions.placeholder'}}</label>
					{{select2-adjusted-sortable
					    content=institutions
					    optionLabelPath="name"
					    value=item.selectedInstitution
					    placeholder=(t 'edit.form.selectInstitutions.placeholder')
					    allowClear=true
					    multiple=true
					}}
				</div>
			</div>
		{{/if}}
	</div>
	<div class="col-xs-1 compensate-for-label-on-top">
		<button {{bind-attr class=":btn :btn-danger isThisTheOnlyAuthorRow:disabled"}} {{action 'remove' item.id}}><i class="fa fa-trash-o"></i></button>
	</div>
	<div class="col-xs-1 compensate-for-label-on-top">
		{{#unless isThisTheOnlyAuthorRow}}
		<div class="sort-control">
			<div class="sort-control-up">
				<a href="javascript:void()" {{action 'moveUpOne' item.id}}><i class="fa fa-chevron-up"></i></a>
			</div>
			<div class="sort-control-down">
				<a href="javascript:void()" {{action 'moveDownOne' item.id}}><i class="fa fa-chevron-down"></i></a>
			</div>
		</div>
		{{/unless}}
	</div>
</div>