{{#if category.children}}
  <a href="#" class="toggle-icon {{if children.length '' 'leaf'}}" {{action 'toggle'}}>
    {{#if isExpanded}}
      <!--<i class="fa fa-folder-open-o"></i>-->
      <i class="fa fa-minus-square-o text-muted"></i>
    {{else}}
      <!--<i class="fa fa-folder-o"></i>-->
      <i class="fa fa-plus-square-o text-muted"></i>
    {{/if}}
  </a>

{{else}}
  <i class="fa fa-tag text-muted"></i>
{{/if}}


{{#unless isRoot}}
  {{#unless isSelected}}
  <a href="#" style="color:black;"{{action 'addSelectedCategory' category.id}}>{{category.name}} <i class="fa fa-square-o"></i></a>
  {{else}}
    <a href="#" {{action 'removeSelectedCategory' category.id}}>{{category.name}} <i class="fa fa-check-square-o"></i></a>
  {{/unless}}
  {{else}}
  {{category.name}}
{{/unless}}


{{#if isExpanded}}
  {{#each category.children as |child|}}
  <div style="padding-left:10px">
    {{category-item category=child categoryList=categoryList}}
  </div>
  {{/each}}
{{/if}}
