<div class="row">
  <div class="col-xs-12">
    {{#each selectedCategory in categoryObjects}}
    {{selectedCategory.sv_name_path}}
    <br/>
    {{/each}}
  </div>
</div>


<!-- Button trigger modal -->
<button type="button"class="btn btn-primary" data-toggle="modal" data-target="#myModal">
  Lägg till ämnesord
</button>

<div class="modal" id="myModal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h3>Välj 3 ämnen ({{numberLeft}} kvar)</h3>
        <h5>Valda ämnesord:</h5>
        {{#each selectedCategory in categoryObjects}}
        {{selectedCategory.sv_name_path}}
        <a href="#" {{action 'removeSelectedCategory' selectedCategory.svepid}}><i class="fa fa-times"></i></a>
        <br/>
        {{else}}
        Inga ämnesord valda
        {{/each}}
      </div>
      <div class="modal-body">
        <h5>Filtrera ämnesordslistan</h5>
        {{debounced-input type="text" class="form-control" value=filterString debounceWait=200 fireAtStart=false}}
      </div>
      <div class="modal-body">
        {{#each category in categories}}
        {{category-item category=category categoryList=categoryList}}
        {{/each}}
      </div>
      <div class="modal-footer">
        <button type="button"class="btn btn-primary" data-toggle="modal" data-target="#myModal">Stäng</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
