<div class="row">
  <div class="col-xs-12">
    {{#if categoryObjects.length}}
      <p class="form-control-static">
      {{#each categoryObjects as |selectedCategory|}}
        {{selectedCategory.name_path}}<br/>
      {{/each}}
      </p>
    {{else}}
      <p>{{t 'edit.form.selectCategory.noCategoriesSelected'}}</p>
    {{/if}}
  </div>
</div>


<!-- Button trigger modal -->
<button type="button"class="btn btn-primary" data-toggle="modal" data-target="#myModal">
  {{t 'edit.form.selectCategory.addCategory'}}
</button>

<div class="modal" id="myModal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h3>{{t 'edit.form.selectCategory.modalHeader'}} ({{numberLeft}} {{t 'edit.form.selectCategory.left'}})</h3>
      </div>
      <div class="modal-body">
        <p>
        <strong>{{t 'edit.form.selectCategory.selectedCategories'}}</strong><br/>
          {{#each categoryObjects as |selectedCategory|}}
          {{selectedCategory.name_path}}
          <a href="#" {{action 'removeSelectedCategory' selectedCategory.svepid}}><i class="fa fa-times text-danger"></i></a>
          <br/>
          {{else}}
          {{t 'edit.form.selectCategory.noCategoriesSelected'}}
          {{/each}}
        </p>
        <strong>{{t 'edit.form.selectCategory.subjectTerms'}}</strong>
        <div class="form-group form-inline">
          <label for="categoryFilter"><i class="fa fa-search"></i></label>
          {{debounced-input type="text" name="categoryFilter" class="form-control form-inline" value=filterString debounceWait=200 fireAtStart=false}}
          <a href="#" {{action 'clearSearch'}}>{{t 'edit.form.selectCategory.clear'}}</a>
        </div>
        <p>
          {{#each categories as |category|}}
            {{category-item category=category categoryList=categoryList}}
          {{else}}
            <p>{{t 'edit.form.selectCategory.noFilteredSubjectTerms'}}</p>
          {{/each}}
        </p>
      </div>
      <div class="modal-footer">
        <button type="button"class="btn btn-primary" data-toggle="modal" data-target="#myModal">{{t 'edit.form.selectCategory.close'}}</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
