<!-- Button-->
{{#if isDelayed}}
<button class="pull-right btn btn-default" title="{{publication.bibl_review_delay_comment}}">Fördröjd till <strong>{{startDate}}</strong></button>
{{else}}
<a type="button" class={{buttonClass}} style={{buttonStyle}} data-toggle="modal" data-target="#delayReviewModal">
  {{t 'biblreview.delay'}} <i class="fa fa-clock-o"></i>
</a>
{{/if}}

<!-- Modal -->
<div class="modal fade" id="delayReviewModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel3">{{t 'biblreview.delayHeader'}}</h4>
      </div>
      <div class="modal-body">
        <div class="input-group">
        <h4>{{t 'biblreview.date'}}</h4>
        {{#radio-button value="calendar" groupValue=optDate changed="dateOptionChanged"}}Kalender{{/radio-button}}
        {{#radio-button value="onemonth" groupValue=optDate changed="dateOptionChanged"}}1 mån{{/radio-button}}
        {{#radio-button value="threemonths" groupValue=optDate changed="dateOptionChanged"}}3 mån{{/radio-button}}
        {{#radio-button value="sixmonths" groupValue=optDate changed="dateOptionChanged"}}6 mån{{/radio-button}}
          {{date-picker date=date class="form-control" valueFormat='YYYY-MM-DD' allowBlank='false' firstDay=1 placeholder="YYYY-MM-DD" disabled=datePickerDisabled}}
        </div>
        <div class="input-group">
        <h4>{{t 'biblreview.comment'}}</h4>

          <div class="radio">
            {{#radio-button value="e-pub-ahead" groupValue=optText changed="textOptionChanged"}}E-pub ahead of print{{/radio-button}}
          </div>
          <div class="radio">
            {{#radio-button value="freetext" groupValue=optText changed="textOptionChanged"}}Fritext{{/radio-button}}
          </div>
          {{textarea value=comment cols=80 rows=6 classNames='form-control' disabled=commentFieldDisabled}}
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary navbar-btn" data-dismiss="modal" {{action 'sendDelay'}}>{{t 'biblreview.btnDelay'}}</button>
      </div>
    </div>
  </div>
</div>
