
{{#if isVisible}}
  {{#if isPresentation}}
  <label>
    {{getLabel}}
  </label>
  {{else}}
  <label class="control-label">
    {{#if errors}}
      {{error-feedback errors}}
    {{/if}}
    {{getLabel}}
    {{#if isMandatory}}
      <span style="color:red">*</span>
    {{/if}}
    {{#if showWarningSymbol}}
      <span style="color:#bbbb00" class="fa fa-exclamation-triangle"></span>
    {{/if}}
  </label>
  {{/if}}
  {{#if isTypeText}}
    {{#if isPresentation}}
      {{value}}
    {{else}}
      {{input classBinding=":form-control" disabled=disabled value=value}}
    {{/if}}
  {{else}}
    {{#if isTypeISSN}}
      {{input classBinding=":form-control" disabled=disabled value=value}}
    {{/if}}
    {{#if isTypeISBN}}
      {{input classBinding=":form-control" value=value}}
    {{/if}}
    {{#if isTypeDate}}
      {{date-picker date=value class="form-control" valueFormat='YYYY-MM-DD' allowBlank='true' firstDay=1 placeholder="YYYY-MM-DD"}}
    {{/if}}
    {{#if isTypeTextarea}}
      {{#if isPresentation}}
      <p>{{value}}</p>
      {{else}}
      {{textarea classBinding=":form-control" value=value}}
      {{/if}}
    {{/if}}
    {{#if isTypeCategorySelector}}
      {{#if isPresentation}}
        <ul>{{#each category in value}}
          <li>{{category.name_path}}</li>
        {{/each}}</ul>
      {{else}}
        {{category-selector categoryList=value categoryObjects=categoryObjects}}
      {{/if}}
    {{/if}}
    {{#if isTypeMultiSelect}}
      {{#if isPresentation}}
        <ul>
          {{#each item in value}}
          <li>{{item}}</li>
          {{/each}}
        </ul>
      {{else}}
      {{select-2
          multiple=true
          value=value
          content=selectValues
          optionLabelSelectedPath="title"
          optionLabelPath="title"
          optionDescriptionPath="null"
      }}
      {{/if}}
    {{/if}}
    {{#if isTypeSelect}}
      {{view "select"
      content=selectValues
      optionValuePath="content.value"
      optionLabelPath="content.label"
      value=value
      class="form-control"
      prompt=prompt}}
    {{/if}}
    {{#if isTypeJournal}}
      {{select-2
          placeholder="Choose from our many journals"
          value=selectedJournal
          typeaheadSearchingText="Searching journals"
          typeaheadNoMatchesText="No journals found for '%@'"
          typeaheadErrorText="Loading failed: %@"
          minimumInputLength=3
          maximumInputLength=100
          optionDescriptionPath="issn"
          optionLabelSelectedPath="title"
          optionLabelPath="title"
          query="queryJournals"
      }}
      {{#if journal_id}}
        <button class="btn btn-primary" {{action "manual_journal"}} ><i class="fa fa-chain-broken"></i>Manuell redigering av tidskrifts-uppgifter</button> 
      {{/if}}
    {{/if}}
  {{/if}}
{{/if}}
