<!-- S_NOT-READY -->
<!-- T_NOT-READY -->
{{#if isVisible}}
  <label class="control-label">
    {{#if errorsold}}
      {{error-feedback errors}}
    {{/if}}
    {{getLabel}}
    {{#if isMandatory}}
      <span class="text-danger">(obligatoriskt)</span>
    {{/if}}
    {{#if showWarningSymbol}}
      <span style="color:#bbbb00" class="fa fa-exclamation-triangle"></span>
    {{/if}}
  </label>
  {{#if fieldHelptext}} 
    <span id={{GUID}} class="help-block">{{linkify (t fieldHelptext)}}</span>
  {{/if}}
  {{#if errors}}
    <div class="text-danger">
      {{#each errors as |error|}}
        {{error}}
      {{/each}}
    </div>
  {{/if}}
  {{#if isTypeText}}
      {{input classBinding=":form-control" disabled=disabled value=value}}
  {{else}}
    {{#if isTypeISSN}}
      {{input classBinding=":form-control" disabled=disabled value=value}}
    {{/if}}
    {{#if isTypeISBN}}
      {{input classBinding=":form-control" value=value}}
    {{/if}}
    {{#if isTypeDate}}
      {{pikaday-input value=value class="form-control" format='YYYY-MM-DD' allowBlank=true firstDay=1 placeholder="YYYY-MM-DD" onSelection=(action (mut value))}}
    {{/if}}
    {{#if isTypeTextarea}}
      {{textarea classBinding=":form-control" value=value}}
    {{/if}}
    {{#if isTypeCategorySelector}}
      {{category-selector categoryList=value categoryObjects=categoryObjects}}
    {{/if}}
    {{#if isTypeMultiSelect}}
      {{select-2
          multiple=true
          value=value
          content=selectValues
          optionLabelSelectedPath="title"
          optionLabelPath="title"
          optionDescriptionPath="null"
      }}      
    {{/if}}
    {{#if isTypeSelect}}
      {{#x-select value=value class="form-control"}}
      {{#if prompt}}{{#x-option}}{{prompt}}{{/x-option}}{{/if}}
        {{#each selectValues as |selectValue|}}
          {{#x-option value=selectValue.value}}{{selectValue.label}}{{/x-option}}
        {{/each}}
      {{/x-select}}
    {{/if}}
    {{#if isTypeJournal}}
      <div class="form-group">
      <div class="radio-inline">
        {{#radio-button value="journal" groupValue=sourceTitleType changed="sourceTitleTypeChanged"}}Välj från lista{{/radio-button}}
      </div>
      <div class="radio-inline">
        {{#radio-button value="freetext" groupValue=sourceTitleType changed="sourceTitleTypeChanged"}}Ange som fritext{{/radio-button}}
      </div>
      {{#if sourceTitleTypeJournal}}
      {{select-2
          placeholder=(t fieldPlaceholder)
          value=selectedJournal
          typeaheadSearchingText="Searching journals"
          typeaheadNoMatchesText="No journals found for '%@'"
          typeaheadErrorText="Loading failed: %@"
          minimumInputLength=3
          maximumInputLength=100
          optionDescriptionPath="issn"
          optionLabelSelectedPath="title"
          optionLabelPath="title"
          query="queryJournals"
      }}
      {{else}}
        {{input type="text" placeholder=(t fieldPlaceholder) class="form-control" value=sourcetitle}}
      {{/if}}
      </div>
    {{/if}}
  {{/if}}
{{/if}}
