
{{#if isVisible}}
	<label class="control-label">
		{{#if errors}}
			{{error-feedback errors}}
		{{/if}}
		{{getLabel}}
		{{#if isMandatory}}
		<span style="color:red">*</span>
		{{/if}}
	</label>
	{{#if isTypeText}}
			{{input classBinding=":form-control" value=value}}
	{{else}}
		{{#if isTypeTextarea}}
			{{textarea classBinding=":form-control" value=value}}
		{{/if}}
    {{#if isTypeCategorySelector}}
      {{category-selector categoryList=value categoryObjects=categoryObjects}}
    {{/if}}
    {{#if isTypeSelect}}
      {{view "select"
        content=selectValues
        optionValuePath="content.value"
        optionLabelPath="content.label"
        value=value
        class="form-control"
				prompt=prompt}}
    {{/if}}
	{{/if}}
{{/if}}
