<button {{action "showUploadModal"}} type="button" class="btn btn-link"><i class="fa {{faIconClass}}" aria-hidden="true"></i> {{openModalLabel}}</button>
{{#bs-modal open=isShowingUploadModal header=false footer=false closeAction=(action "didCancel")}}
  {{#bs-modal-header}}
    <h4 class="modal-title">{{modalTitle}}</h4>
  {{/bs-modal-header}}
  {{#bs-modal-body}}
    {{#each errors as |error|}}
      <div class="alert alert-danger" role="alert">
        {{error}}
      </div>
    {{/each}}
    {{file-upload
      id=(concat id "-file-upload")
      class="gup-input-upload"
      fileUploadProgress=fileUploadProgress
      fileDidChange=(action "fileDidChange")
      uploadUrl=uploadUrl
      parentResetState=(mut resetFileUploadState)
      parentUploadFile=(mut parentUploadFile)
      uploadExtraData=uploadExtraData}}
    <label for="{{id}}-file-upload"><i class="fa fa-paperclip" aria-hidden="true"></i> {{chooseFileLabelOrFileLabel}}</label>
    {{#if fileUploadProgress }}
      {{#bs-progress}}
        {{bs-progress-bar value=fileUploadProgress minValue=0 maxValue=100 showLabel=false id=(concat id "-progress")}}
      {{/bs-progress}}
    {{/if}}
    {{yield}}
  {{/bs-modal-body}}
  {{#bs-modal-footer as |footer|}}
    {{#if cancelButtonIsVisible}}
    {{#bs-button action=(action "close" target=footer) type=cancelButtonStyle}}{{cancelLabel}}{{/bs-button}}
    {{/if}}
    {{#if submitButtonIsVisible}}
      <button type="button" class="btn btn-primary" {{action "didSave"}} disabled={{submitButtonIsDisabled}}>{{submitLabel}}</button>
    {{/if}}
  {{/bs-modal-footer}}
{{/bs-modal}}
