<label class="control-label">{{t 'publicationIdentifier.label'}}</label>
<div class="row">
  <div class="col-md-9">
    <table class="table table-hover">
    <thead>
      <tr>
        <th>{{t 'publicationIdentifier.code'}}</th>
        <th>{{t 'publicationIdentifier.value'}}</th>
      </tr>
    </thead>
    <tbody>
      {{#each publicationIdentifiers as |publicationIdentifier|}}
        <tr>
          <td>{{publicationIdentifier.identifier_code}}</td>
          <td>{{publicationIdentifier.identifier_value}}</td>
          <td><button {{action 'deleteIdentifier' publicationIdentifier}} class="btn btn-md btn-danger">{{t 'publicationIdentifier.delete'}}</button></td>
        </tr>
      {{/each}}
      <tr>
        <td>{{view "select"
            content=publicationIdentifierCodes
            optionValuePath="content.code"
            optionLabelPath="content.code"
            value=identifierCode
            class='form-control'}}
          </td>
        <td>{{input class='input-group' value=identifierValue}}</td>
        <td><button {{action 'createIdentifier' identifierCode identifierValue}} class="btn btn-md btn-success">{{t 'publicationIdentifier.create'}}</button></td>
      </tr>
      </tbody>
      </table>
  </div>
</div>
