<!-- S_NOT-READY -->
<th scope="row">
  {{fieldLabel}}
</th>
<td>
  {{#if isTypeList}}
    <ul class="list-unstyled">
      {{#each listValueArray as |listItem|}}
        <li>{{listItem}}</li>
      {{/each}}
    </ul>
  {{else if isTypeAuthors}}
    <ul class="list-unstyled">
    {{#each fieldValue as |author|}}
    <li>{{author.first_name}} {{author.last_name}}
      {{#if author.departments}}
      <ul>
        {{#each author.departments as |department|}}
        <li>{{department.name}}</li>
        {{/each}}
      </ul>
      {{/if}}
    </li>
    {{/each}}
  </ul>
  {{else if isTypeCollapsible}}

    {{#if collapsedValue}}
      {{#if isCollapsed}}
        {{linkify collapsedValue}}
        <a href="javacsript:void();" {{action 'toggleCollapsed'}}>Mer</a>
      {{else}}
        {{linkify fieldValue}}
        <a href="javacsript:void();" {{action 'toggleCollapsed'}}>Mindre</a>
      {{/if}}
    {{else}}
      {{linkify fieldValue}}
    {{/if}}

  {{else}}
    {{linkify fieldValue}}
  {{/if}}
</td>
