<div class="row">
  <div class="col-xs-12">
    <h3>{{#link-to link item.id (query-params other_version=null)}} {{titleString}}{{/link-to}}</h3>
  </div>
  <div class="col-xs-12">
    <p>{{bibliographicInfoString}}{{#if item.authors}}, {{authors-string authors=item.authors}}{{/if}}</p>
    {{#if showMetaData}}
    <dl class="dl-horizontal">
      <dt>Publikationens id:</dt><dd>{{item.id}}</dd>
      <dt>Publikationstyp:</dt><dd>{{item.publication_type_label}}</dd>
      {{#if item.content_type}}<dt>Innehållsmärkning:</dt><dd>{{item.content_type_label}}</dd>{{/if}}
      <dt>Skapad:</dt><dd>{{format-date item.created_at}}</dd>
      {{#if item.published_at}}<dt>Publicerad:</dt><dd>{{format-date item.published_at}}</dd>{{/if}}
    </dl>
    {{/if}}
  </div>
  
</div>
