<!-- S_NOT-READY -->
<!-- T_NOT-READY -->
<div class="row">
  <div class="col-sm-9">
    <label class="control-label">{{t 'publicationIdentifier.label'}}</label>
    {{#if fieldHelptext}}
      <span id={{GUID}} class="help-block">{{linkify (t fieldHelptext)}}</span>
    {{/if}}
  </div>
</div>
<div class="row">
  <div class="col-md-9">
    <table class="table table-hover">
    <thead>
      <tr>
        <th>{{t 'publicationIdentifier.code'}}</th>
        <th>{{t 'publicationIdentifier.value'}}</th>
      </tr>
    </thead>
    <tbody>
      {{#each publicationIdentifiers as |publicationIdentifier|}}
        <tr>
          <td><p class="form-control-static">{{publicationIdentifier.identifier_label}}</p></td>
          <td><p class="form-control-static">{{publicationIdentifier.identifier_value}}</p></td>
          <td><button {{action 'deleteIdentifier' publicationIdentifier}} class="btn btn-md btn-danger">{{t 'publicationIdentifier.delete'}}</button></td>
        </tr>
      {{/each}}
      <tr>
        <td>
        {{#x-select value=identifierCode class="form-control"}}
          {{#x-option}}Välj typ{{/x-option}}
          {{#each publicationIdentifierCodes as |identifier|}}
            {{#x-option value=identifier.code}}{{identifier.label}}{{/x-option}}
          {{/each}}
        {{/x-select}}
        </td>
        <td>{{input class='form-control' value=identifierValue}}</td>
        <td><button {{action 'createIdentifier' identifierCode identifierValue}} class="btn btn-md btn-success">{{t 'publicationIdentifier.create'}}</button></td>
      </tr>
      </tbody>
      </table>
  </div>
</div>
