<div class="row">
  <div class="col-xs-12">
    <h3>{{#link-to link item.id (query-params other_version=null)}} {{titleString}}{{/link-to}}</h3>
  </div>
  <div class="col-xs-12">
    <p>{{bibliographicInfoString}}{{#if item.authors}} {{authors-string authors=item.authors}}{{/if}}</p>
    {{#if showMetaData}}
    <dl class="dl-horizontal">
      <dt>{{t 'components.publicationListRow.publicationID'}}</dt><dd>{{item.id}}</dd>
      <dt>{{t 'components.publicationListRow.publicationType'}}</dt><dd>{{item.publication_type_label}}</dd>
      {{#if item.ref_value}}<dt>{{t 'components.publicationListRow.contentMarker'}}</dt><dd>{{item.ref_value_label}}</dd>{{/if}}
      <dt>{{t 'components.publicationListRow.publicationYear'}}</dt><dd>{{item.pubyear}}</dd>
    </dl>
    {{/if}}
  </div>
  
</div>
