<label class="control-label">{{t 'publicationIdentifier.label'}}</label>
<div class="row">
  <div class="col-md-9">
    <table class="table table-hover">
    <thead>
      <tr>
        <th>{{t 'publicationIdentifier.code'}}</th>
        <th>{{t 'publicationIdentifier.value'}}</th>
      </tr>
    </thead>
    <tbody>
      {{#each publicationIdentifiers as |publicationIdentifier|}}
        <tr>
          <td><p class="form-control-static">{{publicationIdentifier.identifier_code}}</p></td>
          <td><p class="form-control-static">{{publicationIdentifier.identifier_value}}</p></td>
          <td><button {{action 'deleteIdentifier' publicationIdentifier}} class="btn btn-md btn-danger">{{t 'publicationIdentifier.delete'}}</button></td>
        </tr>
      {{/each}}
      <tr>
        <td>
        {{#x-select value=identifierCode class="form-control"}}
          {{#x-option}}Välj typ{{/x-option}}
          {{#each publicationIdentifierCodes as |identifierCode|}}
            {{#x-option value=identifierCode.code}}{{identifierCode.code}}{{/x-option}}
          {{/each}}
        {{/x-select}}
        </td>
        <td>{{input class='form-control' value=identifierValue}}</td>
        <td><button {{action 'createIdentifier' identifierCode identifierValue}} class="btn btn-md btn-success">{{t 'publicationIdentifier.create'}}</button></td>
      </tr>
      </tbody>
      </table>
  </div>
</div>
