{{#if isReviewMode}}
  <table class="table table-striped table-bordered">
    <tbody>

      {{publication-field-bibl-review fieldLabel='Publikations-ID' fieldValue=publication.id}}

      {{publication-field-bibl-review fieldLabel=(t 'publication.labels.publicationType') fieldValue=publication.publication_type_label}}

      {{publication-field-bibl-review fieldLabel=(t 'edit.form.selectContentTypeLabel') fieldValue=publication.ref_value_label}}

      {{#if allFieldObjects.title}}
        {{publication-field-bibl-review fieldLabel=allFieldObjects.title.label fieldValue=publication.title}}
      {{/if}}

      {{#if allFieldObjects.alt_title}}
        {{publication-field-bibl-review fieldLabel=allFieldObjects.alt_title.label fieldValue=publication.alt_title}}
      {{/if}}

      {{#if allFieldObjects.abstract}}
        {{publication-field-bibl-review fieldLabel=allFieldObjects.abstract.label fieldValue=publication.abstract type='collapsed'}}
      {{/if}}

      {{#if allFieldObjects.pubyear}}
        {{publication-field-bibl-review fieldLabel=allFieldObjects.pubyear.label fieldValue=publication.pubyear}}
      {{/if}}

      {{#if allFieldObjects.publanguage}}
        {{publication-field-bibl-review fieldLabel=allFieldObjects.publanguage.label fieldValue=publication.publanguage_label}}
      {{/if}}

      {{publication-field-bibl-review fieldLabel=allFieldObjects.category_hsv_local.label fieldValue=publication.category_objects listValue='name_path' type='list'}}

      {{#if allFieldObjects.url}}
        {{publication-field-bibl-review fieldLabel=allFieldObjects.url.label fieldValue=publication.url}}
      {{/if}}

      {{#if publication.publication_identifiers}}
        {{publication-field-bibl-review fieldLabel=(t 'publicationIdentifier.label') fieldValue=publication.publication_identifiers listLabel='identifier_label' listValue='identifier_value' type='list'}}
      {{/if}}

      {{#if allFieldObjects.links}}
        {{publication-field-bibl-review fieldLabel=allFieldObjects.links.label fieldValue=publication.links}}
      {{/if}}

      {{#if allFieldObjects.keywords}}
        {{publication-field-bibl-review fieldLabel=allFieldObjects.keywords.label fieldValue=publication.keywords}}
      {{/if}}

      {{#if allFieldObjects.project}}
        {{publication-field-bibl-review fieldLabel=allFieldObjects.project.label fieldValue=publication.project_objects listValue='title' type='list'}}
      {{/if}}

      {{#if allFieldObjects.pub_notes}}
        {{publication-field-bibl-review fieldLabel=allFieldObjects.pub_notes.label fieldValue=publication.pub_notes}}
      {{/if}}

      {{#if allFieldObjects.author}}
        {{publication-field-bibl-review fieldLabel=allFieldObjects.author.label fieldValue=publication.authors type='authors'}}
      {{/if}}

      {{#if allFieldObjects.journal_id}}
        {{publication-field-bibl-review fieldLabel=allFieldObjects.journal_id.label fieldValue=publication.journal_id}}
      {{/if}}

      {{#if allFieldObjects.sourcechooser}}
        {{publication-field-bibl-review fieldLabel=allFieldObjects.sourcechooser.label fieldValue=publication.sourcechooser}}
      {{/if}}

      {{#if allFieldObjects.sourcetitle}}
        {{publication-field-bibl-review fieldLabel=allFieldObjects.sourcetitle.label fieldValue=publication.sourcetitle}}
      {{/if}}

      {{#if allFieldObjects.sourcevolume}}
        {{publication-field-bibl-review fieldLabel=allFieldObjects.sourcevolume.label fieldValue=publication.sourcevolume}}
      {{/if}}

      {{#if allFieldObjects.sourceissue}}
        {{publication-field-bibl-review fieldLabel=allFieldObjects.sourceissue.label fieldValue=publication.sourceissue}}
      {{/if}}

      {{#if allFieldObjects.sourcepages}}
        {{publication-field-bibl-review fieldLabel=allFieldObjects.sourcepages.label fieldValue=publication.sourcepages}}
      {{/if}}

      {{#if allFieldObjects.issn}}
        {{publication-field-bibl-review fieldLabel=allFieldObjects.issn.label fieldValue=publication.issn}}
      {{/if}}

      {{#if allFieldObjects.eissn}}
        {{publication-field-bibl-review fieldLabel=allFieldObjects.eissn.label fieldValue=publication.eissn}}
      {{/if}}

      {{#if allFieldObjects.article_number}}
        {{publication-field-bibl-review fieldLabel=allFieldObjects.article_number.label fieldValue=publication.article_number}}
      {{/if}}

      {{#if allFieldObjects.extent}}
        {{publication-field-bibl-review fieldLabel=allFieldObjects.extent.label fieldValue=publication.extent}}
      {{/if}}

      {{#if allFieldObjects.publisher}}
        {{publication-field-bibl-review fieldLabel=allFieldObjects.publisher.label fieldValue=publication.publisher}}
      {{/if}}

      {{#if allFieldObjects.place}}
        {{publication-field-bibl-review fieldLabel=allFieldObjects.place.label fieldValue=publication.place}}
      {{/if}}

      {{#if allFieldObjects.series}}
        {{publication-field-bibl-review fieldLabel=allFieldObjects.series.label fieldValue=publication.series_objects listValue='title' type='list'}}
      {{/if}}

      {{#if allFieldObjects.isbn}}
        {{publication-field-bibl-review fieldLabel=allFieldObjects.isbn.label fieldValue=publication.isbn}}
      {{/if}}

      {{#if allFieldObjects.editor}}
        {{publication-field-bibl-review fieldLabel=allFieldObjects.editor.label fieldValue=publication.editor}}
      {{/if}}

      {{#if allFieldObjects.dissdate}}
        {{publication-field-bibl-review fieldLabel=allFieldObjects.dissdate.label fieldValue=publication.dissdate}}
      {{/if}}

      {{#if allFieldObjects.dissopponent}}
        {{publication-field-bibl-review fieldLabel=allFieldObjects.dissopponent.label fieldValue=publication.dissopponent}}
      {{/if}}

      {{#if allFieldObjects.patent_applicant}}
        {{publication-field-bibl-review fieldLabel=allFieldObjects.patent_applicant.label fieldValue=publication.patent_applicant}}
      {{/if}}

      {{#if allFieldObjects.patent_application_number}}
        {{publication-field-bibl-review fieldLabel=allFieldObjects.patent_application_number.label fieldValue=publication.patent_application_number}}
      {{/if}}

      {{#if allFieldObjects.patent_application_date}}
        {{publication-field-bibl-review fieldLabel=allFieldObjects.patent_application_date.label fieldValue=publication.patent_application_date}}
      {{/if}}

      {{#if allFieldObjects.patent_number}}
        {{publication-field-bibl-review fieldLabel=allFieldObjects.patent_number.label fieldValue=publication.patent_number}}
      {{/if}}

      {{#if allFieldObjects.patent_date}}
        {{publication-field-bibl-review fieldLabel=allFieldObjects.patent_date.label fieldValue=publication.patent_date}}
      {{/if}}

      {{#if allFieldObjects.artwork_type}}
        {{publication-field-bibl-review fieldLabel=allFieldObjects.artwork_type.label fieldValue=publication.artwork_type}}
      {{/if}}

      {{#if publication.files }}
        {{publication-field-files}}
      {{/if}}

    </tbody>
  </table>
  {{else if isCompareMode}}
  <table class="table table-striped table-bordered compare-table">

    <thead>
      <tr>
        <th></th>
        <th>
          {{t 'compare.currentVersion'}},
          {{format-date publication.version_created_at}}
          {{#if publication.version_created_by}}
            {{t 'compare.versionBy'}} {{publication.version_created_by}}
          {{/if}}
        </th>
        <th>
          {{#x-select value=other_version action='fetchVersion' class="form-control"}}
          {{#x-option}}{{t 'compare.selectVersion'}}{{/x-option}}
            {{#each comparableVersions as |version|}}
            {{#x-option value=version.item.id}}
              {{t 'compare.version'}} {{version.index}},
              {{format-date version.item.created_at}}{{#if version.item.created_by}},
                {{t 'compare.versionBy'}} {{version.item.created_by}}
              {{/if}}
            {{/x-option}}
            {{/each}}
          {{/x-select}}
        </th>
      </tr>
      </thead>
      <tbody>
      {{publication-field-compare fieldLabel='Publikations-ID' fieldValue=publication.id otherIsSelected=otherIsSelected otherFieldValue=otherPublication.id}}

      {{publication-field-compare fieldLabel=(t 'publication.labels.publicationType') fieldValue=publication.publication_type_label otherIsSelected=otherIsSelected otherFieldValue=otherPublication.publication_type_label}}

      {{publication-field-compare fieldLabel=(t 'edit.form.selectContentTypeLabel') otherIsSelected=otherIsSelected otherFieldValue=otherPublication.ref_value_label fieldValue=publication.ref_value_label}}

      {{#if allFieldObjects.title}}
        {{publication-field-compare fieldLabel=allFieldObjects.title.label otherIsSelected=otherIsSelected otherFieldValue=otherPublication.title fieldValue=publication.title}}
      {{/if}}

      {{#if allFieldObjects.alt_title}}
        {{publication-field-compare fieldLabel=allFieldObjects.alt_title.label otherIsSelected=otherIsSelected otherFieldValue=otherPublication.alt_title fieldValue=publication.alt_title}}
      {{/if}}

      {{#if allFieldObjects.abstract}}
        {{publication-field-compare fieldLabel=allFieldObjects.abstract.label otherIsSelected=otherIsSelected otherFieldValue=otherPublication.abstract type='collapsed' fieldValue=publication.abstract type='collapsed'}}
      {{/if}}

      {{#if allFieldObjects.pubyear}}
        {{publication-field-compare fieldLabel=allFieldObjects.pubyear.label otherIsSelected=otherIsSelected otherFieldValue=otherPublication.pubyear fieldValue=publication.pubyear}}
      {{/if}}

      {{#if allFieldObjects.publanguage}}
        {{publication-field-compare fieldLabel=allFieldObjects.publanguage.label otherIsSelected=otherIsSelected otherFieldValue=otherPublication.publanguage_label fieldValue=publication.publanguage_label}}
      {{/if}}

        {{publication-field-compare fieldLabel=allFieldObjects.category_hsv_local.label otherIsSelected=otherIsSelected otherFieldValue=otherPublication.category_objects listValue='name_path' type='list' fieldValue=publication.category_objects listValue='name_path' type='list'}}

      {{#if allFieldObjects.url}}
        {{publication-field-compare fieldLabel=allFieldObjects.url.label otherIsSelected=otherIsSelected otherFieldValue=otherPublication.url fieldValue=publication.url}}
      {{/if}}

      {{#if publication.publication_identifiers}}
        {{publication-field-compare fieldLabel=(t 'publicationIdentifier.label') otherIsSelected=otherIsSelected otherFieldValue=otherPublication.publication_identifiers listLabel='identifier_label' listValue='identifier_value' type='list' fieldValue=publication.publication_identifiers listLabel='identifier_label' listValue='identifier_value' type='list'}}
      {{/if}}

      {{#if allFieldObjects.links}}
        {{publication-field-compare fieldLabel=allFieldObjects.links.label otherIsSelected=otherIsSelected otherFieldValue=otherPublication.links fieldValue=publication.links}}
      {{/if}}

      {{#if allFieldObjects.keywords}}
        {{publication-field-compare fieldLabel=allFieldObjects.keywords.label otherIsSelected=otherIsSelected otherFieldValue=otherPublication.keywords fieldValue=publication.keywords}}
      {{/if}}

      {{#if allFieldObjects.project}}
        {{publication-field-compare fieldLabel=allFieldObjects.project.label otherIsSelected=otherIsSelected otherFieldValue=otherPublication.project_objects listValue='title' type='list' fieldValue=publication.project_objects listValue='title' type='list'}}
      {{/if}}

      {{#if allFieldObjects.pub_notes}}
        {{publication-field-compare fieldLabel=allFieldObjects.pub_notes.label otherIsSelected=otherIsSelected otherFieldValue=otherPublication.pub_notes fieldValue=publication.pub_notes}}
      {{/if}}

      {{#if allFieldObjects.author}}
        {{publication-field-compare fieldLabel=allFieldObjects.author.label otherIsSelected=otherIsSelected otherFieldValue=otherPublication.authors type='authors' fieldValue=publication.authors type='authors'}}
      {{/if}}

      {{#if allFieldObjects.journal_id}}
        {{publication-field-compare fieldLabel=allFieldObjects.journal_id.label otherIsSelected=otherIsSelected otherFieldValue=otherPublication.journal_id fieldValue=publication.journal_id}}
      {{/if}}

      {{#if allFieldObjects.sourcechooser}}
        {{publication-field-compare fieldLabel=allFieldObjects.sourcechooser.label otherIsSelected=otherIsSelected otherFieldValue=otherPublication.sourcechooser fieldValue=publication.sourcechooser}}
      {{/if}}

      {{#if allFieldObjects.sourcetitle}}
        {{publication-field-compare fieldLabel=allFieldObjects.sourcetitle.label otherIsSelected=otherIsSelected otherFieldValue=otherPublication.sourcetitle fieldValue=publication.sourcetitle}}
      {{/if}}

      {{#if allFieldObjects.sourcevolume}}
        {{publication-field-compare fieldLabel=allFieldObjects.sourcevolume.label otherIsSelected=otherIsSelected otherFieldValue=otherPublication.sourcevolume fieldValue=publication.sourcevolume}}
      {{/if}}

      {{#if allFieldObjects.sourceissue}}
        {{publication-field-compare fieldLabel=allFieldObjects.sourceissue.label otherIsSelected=otherIsSelected otherFieldValue=otherPublication.sourceissue fieldValue=publication.sourceissue}}
      {{/if}}

      {{#if allFieldObjects.sourcepages}}
        {{publication-field-compare fieldLabel=allFieldObjects.sourcepages.label otherIsSelected=otherIsSelected otherFieldValue=otherPublication.sourcepages fieldValue=publication.sourcepages}}
      {{/if}}

      {{#if allFieldObjects.issn}}
        {{publication-field-compare fieldLabel=allFieldObjects.issn.label otherIsSelected=otherIsSelected otherFieldValue=otherPublication.issn fieldValue=publication.issn}}
      {{/if}}

      {{#if allFieldObjects.eissn}}
        {{publication-field-compare fieldLabel=allFieldObjects.eissn.label otherIsSelected=otherIsSelected otherFieldValue=otherPublication.eissn fieldValue=publication.eissn}}
      {{/if}}

      {{#if allFieldObjects.article_number}}
        {{publication-field-compare fieldLabel=allFieldObjects.article_number.label otherIsSelected=otherIsSelected otherFieldValue=otherPublication.article_number fieldValue=publication.article_number}}
      {{/if}}

      {{#if allFieldObjects.extent}}
        {{publication-field-compare fieldLabel=allFieldObjects.extent.label otherIsSelected=otherIsSelected otherFieldValue=otherPublication.extent fieldValue=publication.extent}}
      {{/if}}

      {{#if allFieldObjects.publisher}}
        {{publication-field-compare fieldLabel=allFieldObjects.publisher.label otherIsSelected=otherIsSelected otherFieldValue=otherPublication.publisher fieldValue=publication.publisher}}
      {{/if}}

      {{#if allFieldObjects.place}}
        {{publication-field-compare fieldLabel=allFieldObjects.place.label otherIsSelected=otherIsSelected otherFieldValue=otherPublication.place fieldValue=publication.place}}
      {{/if}}

      {{#if allFieldObjects.series}}
        {{publication-field-compare fieldLabel=allFieldObjects.series.label otherIsSelected=otherIsSelected otherFieldValue=otherPublication.series_objects listValue='title' type='list' fieldValue=publication.series_objects listValue='title' type='list'}}
      {{/if}}

      {{#if allFieldObjects.isbn}}
        {{publication-field-compare fieldLabel=allFieldObjects.isbn.label otherIsSelected=otherIsSelected otherFieldValue=otherPublication.isbn fieldValue=publication.isbn}}
      {{/if}}

      {{#if allFieldObjects.editor}}
        {{publication-field-compare fieldLabel=allFieldObjects.editor.label otherIsSelected=otherIsSelected otherFieldValue=otherPublication.editor fieldValue=publication.editor}}
      {{/if}}

      {{#if allFieldObjects.dissdate}}
        {{publication-field-compare fieldLabel=allFieldObjects.dissdate.label otherIsSelected=otherIsSelected otherFieldValue=otherPublication.dissdate fieldValue=publication.dissdate}}
      {{/if}}

      {{#if allFieldObjects.dissopponent}}
        {{publication-field-compare fieldLabel=allFieldObjects.dissopponent.label otherIsSelected=otherIsSelected otherFieldValue=otherPublication.dissopponent fieldValue=publication.dissopponent}}
      {{/if}}

      {{#if allFieldObjects.patent_applicant}}
        {{publication-field-compare fieldLabel=allFieldObjects.patent_applicant.label otherIsSelected=otherIsSelected otherFieldValue=otherPublication.patent_applicant fieldValue=publication.patent_applicant}}
      {{/if}}

      {{#if allFieldObjects.patent_application_number}}
        {{publication-field-compare fieldLabel=allFieldObjects.patent_application_number.label otherIsSelected=otherIsSelected otherFieldValue=otherPublication.patent_application_number fieldValue=publication.patent_application_number}}
      {{/if}}

      {{#if allFieldObjects.patent_application_date}}
        {{publication-field-compare fieldLabel=allFieldObjects.patent_application_date.label otherIsSelected=otherIsSelected otherFieldValue=otherPublication.patent_application_date fieldValue=publication.patent_application_date}}
      {{/if}}

      {{#if allFieldObjects.patent_number}}
        {{publication-field-compare fieldLabel=allFieldObjects.patent_number.label otherIsSelected=otherIsSelected otherFieldValue=otherPublication.patent_number fieldValue=publication.patent_number}}
      {{/if}}

      {{#if allFieldObjects.patent_date}}
        {{publication-field-compare fieldLabel=allFieldObjects.patent_date.label otherIsSelected=otherIsSelected otherFieldValue=otherPublication.patent_date fieldValue=publication.patent_date}}
      {{/if}}

      {{#if allFieldObjects.artwork_type}}
        {{publication-field-compare fieldLabel=allFieldObjects.artwork_type.label otherIsSelected=otherIsSelected otherFieldValue=otherPublication.artwork_type fieldValue=publication.artwork_type}}
      {{/if}}
    </tbody>
  </table>
{{else if isPreviewMode}}
  <dl class="dl-horizontal">

    {{publication-field-preview fieldLabel='Publikations-ID' fieldValue=publication.id}}

    {{publication-field-preview fieldLabel=(t 'publication.labels.publicationType') fieldValue=publication.publication_type_label}}

    {{#if publication.ref_value_label}}
      {{publication-field-preview fieldLabel=(t 'edit.form.selectContentTypeLabel') fieldValue=publication.ref_value_label}}
    {{/if}}

    {{#if allFieldObjects.title}}
      {{#if publication.title}}
        {{publication-field-preview fieldLabel=allFieldObjects.title.label fieldValue=publication.title}}
      {{/if}}
    {{/if}}

    {{#if allFieldObjects.alt_title}}
      {{#if publication.alt_title}}
        {{publication-field-preview fieldLabel=allFieldObjects.alt_title.label fieldValue=publication.alt_title}}
      {{/if}}
    {{/if}}

    {{#if allFieldObjects.abstract}}
      {{#if publication.abstract}}
        {{publication-field-preview fieldLabel=allFieldObjects.abstract.label fieldValue=publication.abstract}}
      {{/if}}
    {{/if}}

    {{#if allFieldObjects.pubyear}}
      {{#if publication.pubyear}}
        {{publication-field-preview fieldLabel=allFieldObjects.pubyear.label fieldValue=publication.pubyear}}
      {{/if}}
    {{/if}}

    {{#if allFieldObjects.author}}
      {{#if publication.authors}}
        {{publication-field-preview fieldLabel=allFieldObjects.author.label fieldValue=publication.authors type='authors'}}
      {{/if}}
    {{/if}}

    {{#if allFieldObjects.editor}}
      {{#if publication.editor}}
        {{publication-field-preview fieldLabel=allFieldObjects.editor.label fieldValue=publication.editor}}
      {{/if}}
    {{/if}}

    {{#if allFieldObjects.dissdate}}
      {{#if publication.dissdate}}
        {{publication-field-preview fieldLabel=allFieldObjects.dissdate.label fieldValue=(format-date publication.dissdate "YYYY-MM-DD")}}
      {{/if}}
    {{/if}}

    {{#if allFieldObjects.dissopponent}}
      {{#if publication.dissopponent}}
        {{publication-field-preview fieldLabel=allFieldObjects.dissopponent.label fieldValue=publication.dissopponent}}
      {{/if}}
    {{/if}}

    {{#if allFieldObjects.sourcetitle}}
      {{#if publication.sourcetitle}}
        {{publication-field-preview fieldLabel=allFieldObjects.sourcetitle.label fieldValue=publication.sourcetitle}}
      {{/if}}
    {{/if}}

    {{#if allFieldObjects.journal_id}}
      {{#if publication.journal_id}}
        {{publication-field-preview fieldLabel=allFieldObjects.journal_id.label fieldValue=publication.journal_id}}
      {{/if}}
    {{/if}}

    {{#if allFieldObjects.issn}}
      {{#if publication.issn}}
        {{publication-field-preview fieldLabel=allFieldObjects.issn.label fieldValue=publication.issn}}
      {{/if}}
    {{/if}}

    {{#if allFieldObjects.eissn}}
      {{#if publication.eissn}}
        {{publication-field-preview fieldLabel=allFieldObjects.eissn.label fieldValue=publication.eissn}}
      {{/if}}
    {{/if}}

    {{#if allFieldObjects.sourcevolume}}
      {{#if publication.sourcevolume}}
        {{publication-field-preview fieldLabel=allFieldObjects.sourcevolume.label fieldValue=publication.sourcevolume}}
      {{/if}}
    {{/if}}

    {{#if allFieldObjects.sourceissue}}
      {{#if publication.sourceissue}}
        {{publication-field-preview fieldLabel=allFieldObjects.sourceissue.label fieldValue=publication.sourceissue}}
      {{/if}}
    {{/if}}

    {{#if allFieldObjects.sourcepages}}
      {{#if publication.sourcepages}}
        {{publication-field-preview fieldLabel=allFieldObjects.sourcepages.label fieldValue=publication.sourcepages}}
      {{/if}}
    {{/if}}

    {{#if allFieldObjects.article_number}}
      {{#if publication.article_number}}
        {{publication-field-preview fieldLabel=allFieldObjects.article_number.label fieldValue=publication.article_number}}
      {{/if}}
    {{/if}}

    {{#if allFieldObjects.isbn}}
      {{#if publication.isbn}}
        {{publication-field-preview fieldLabel=allFieldObjects.isbn.label fieldValue=publication.isbn}}
      {{/if}}
    {{/if}}

    {{#if allFieldObjects.publanguage}}
      {{#if publication.publanguage}}
        {{publication-field-preview fieldLabel=allFieldObjects.publanguage.label fieldValue=publication.publanguage_label}}
      {{/if}}
    {{/if}}

    {{#if allFieldObjects.url}}
      {{#if publication.url}}
        {{publication-field-preview fieldLabel=allFieldObjects.url.label fieldValue=publication.url}}
      {{/if}}
    {{/if}}

    {{#if allFieldObjects.links}}
      {{#if publication.links}}
        {{publication-field-preview fieldLabel=allFieldObjects.links.label fieldValue=publication.links}}
      {{/if}}
    {{/if}}

    {{#if allFieldObjects.extent}}
      {{#if publication.extent}}
        {{publication-field-preview fieldLabel=allFieldObjects.extent.label fieldValue=publication.extent}}
      {{/if}}
    {{/if}}

    {{#if allFieldObjects.publisher}}
      {{#if publication.publisher}}
        {{publication-field-preview fieldLabel=allFieldObjects.publisher.label fieldValue=publication.publisher}}
      {{/if}}
    {{/if}}

    {{#if allFieldObjects.place}}
      {{#if publication.place}}
        {{publication-field-preview fieldLabel=allFieldObjects.place.label fieldValue=publication.place}}
      {{/if}}
    {{/if}}

    {{#if allFieldObjects.series}}
      {{#if publication.series}}
        {{publication-field-preview fieldLabel=allFieldObjects.series.label fieldValue=publication.series_objects listValue='title' type='list'}}
      {{/if}}
    {{/if}}

        {{publication-field-preview fieldLabel=allFieldObjects.category_hsv_local.label fieldValue=publication.category_objects listValue='name_path' type='list'}}

    {{#if allFieldObjects.keywords}}
      {{#if publication.keywords}}
        {{publication-field-preview fieldLabel=allFieldObjects.keywords.label fieldValue=publication.keywords}}
      {{/if}}
    {{/if}}

    {{#if allFieldObjects.project}}
      {{#if publication.project}}
        {{publication-field-preview fieldLabel=allFieldObjects.project.label fieldValue=publication.project_objects listValue='title' type='list'}}
      {{/if}}
    {{/if}}

    {{#if allFieldObjects.pub_notes}}
      {{#if publication.pub_notes}}
        {{publication-field-preview fieldLabel=allFieldObjects.pub_notes.label fieldValue=publication.pub_notes}}
      {{/if}}
    {{/if}}

    {{#if allFieldObjects.artwork_type}}
      {{#if publication.artwork_type}}
        {{publication-field-preview fieldLabel=allFieldObjects.artwork_type.label fieldValue=publication.artwork_type}}
      {{/if}}
    {{/if}}

    {{#if allFieldObjects.patent_applicant}}
      {{#if publication.patent_applicant}}
        {{publication-field-preview fieldLabel=allFieldObjects.patent_applicant.label fieldValue=publication.patent_applicant}}
      {{/if}}
    {{/if}}

    {{#if allFieldObjects.patent_application_number}}
      {{#if publication.patent_application_number}}
        {{publication-field-preview fieldLabel=allFieldObjects.patent_application_number.label fieldValue=publication.patent_application_number}}
      {{/if}}
    {{/if}}

    {{#if allFieldObjects.patent_application_date}}
      {{#if publication.patent_application_date}}
        {{publication-field-preview fieldLabel=allFieldObjects.patent_application_date.label fieldValue=publication.patent_application_date}}
      {{/if}}
    {{/if}}

    {{#if allFieldObjects.patent_number}}
      {{#if publication.patent_number}}
        {{publication-field-preview fieldLabel=allFieldObjects.patent_number.label fieldValue=publication.patent_number}}
      {{/if}}
    {{/if}}

    {{#if allFieldObjects.patent_date}}
      {{#if publication.patent_date}}
        {{publication-field-preview fieldLabel=allFieldObjects.patent_date.label fieldValue=publication.patent_date}}
      {{/if}}
    {{/if}}

    {{#if publication.publication_identifiers}}
      {{publication-field-preview fieldLabel=(t 'publicationIdentifier.label') fieldValue=publication.publication_identifiers listLabel='identifier_label' listValue='identifier_value' type='list'}}
    {{/if}}
  
    {{#if publication.files }}
      {{publication-field-files refreshModelAction=refreshModelAction publication=publication fieldLabel="Filer" fieldValue=publication.files}}
    {{/if}}

  </dl>
{{/if}}
