<div class="publication-list-row">
  <div class="row">
    <div class="col-xs-12">
      <meta name="citation_title" content="{{titleString}}">
      <h3>{{#link-to link item.id (query-params other_version=null)}} {{titleString}}{{/link-to}}</h3>

    </div>
    <div class="col-xs-12">
      <p>
        {{#if showExtraData}}
            {{#if item.pubyear}}
              <div><strong>{{t 'components.publicationListRow.publicationYear'}}:</strong> {{item.pubyear}}</div>
            {{/if}}
            {{#if item.sourcetitle}}
              <div><strong>{{t 'components.publicationListRow.publishedInLabel'}}:</strong> {{item.sourcetitle}}</div>
            {{/if}}
        {{/if}}
        {{#if item.authors}}
            <div><strong>{{t 'components.publicationListRow.authorLabel'}}:</strong> {{#if item.authors}} {{format-authors item.authors}}{{/if}}</div>
        {{/if}}
      </p>
      {{#if showMetaData}}
      <table class="table">
        <tr>
          <th>{{t 'components.publicationListRow.publicationID'}}:</th><td>{{item.id}}</td>
        </tr>
        <tr>
        <th>{{t 'components.publicationListRow.publicationType'}}:</th><td>{{item.publication_type_label}}{{#if isRef}}, {{item.ref_value_label}}{{/if}}

        </td>
        </tr>
        <tr>
        <meta name="citation_publication_date" content="{{item.pubyear}}">
        <th>{{t 'components.publicationListRow.publicationYear'}}:</th><td>{{item.pubyear}}</td>
        </tr>
      </table>
      {{/if}}
    </div>
  </div>
</div>
