<div class="row">
  <div class="col-xs-10">

  <div class="panel panel-warning">
    <div class="panel-heading">
      <h3 class="panel-title">{{t 'review.reviewDetailsHeader'}}</h3>
    </div>
    <div class="panel-body">
      {{#if item.diff_since_review.reviewed_at}}
      <div class="alert alert-info">
        <strong>{{t 'review.lastReview'}}</strong> {{format-date item.diff_since_review.reviewed_at}}
      </div>
      {{/if}}
      <dl class="dl-horizontal">
        <dt>{{t 'review.publicationType'}}</dt>
        <dd>{{item.publication_type_label}}</dd>
        <dd>
          {{#if item.diff_since_review.publication_type}}
          <del class="text-danger">{{item.diff_since_review.publication_type.from}}</del>
          {{/if}}
        </dd>

        <dt>{{t 'review.contentType'}}</dt>
        <dd>{{item.content_type_label}}</dd>
        <dd>
          {{#if item.diff_since_review.content_type}}
          <del class="text-danger">{{item.diff_since_review.content_type.from}}</del>
          {{/if}}
        </dd>

        <dt>{{t 'review.affiliation'}}</dt>
        {{#if item.diff_since_review.affiliation}}
          {{#each department in diffDepartments}}
            {{#if department.added}}
            <dd class="text-success">{{department.name}}</dd>
            {{/if}}
            {{#if department.removed}}
            <dd><del class="text-danger">{{department.name}}</del></dd>
            {{/if}}
            {{#if department.same}}
            <dd>{{department.name}}</dd>
          {{/if}}
          {{/each}}
          {{else}}
          {{#each department in item.affiliation.departments}}
          <dd>{{department.name}}</dd>
          {{/each}}
        {{/if}}

        <dt>{{t 'review.categories'}}</dt>

        {{#if item.diff_since_review.category_hsv_local}}
          {{#each category in diffCategories}}
            {{#if category.added}}
              <dd class="text-success">{{category.name_path}}</dd>
            {{/if}}
            {{#if category.removed}}
              <dd><del class="text-danger">{{category.name_path}}</del></dd>
            {{/if}}
            {{#if category.same}}
              <dd>{{category.name_path}}</dd>
            {{/if}}
          {{/each}}
        {{else}}
          {{#each category in item.category_objects}}
            <dd>{{category.name_path}}</dd>
          {{/each}}
        {{/if}}

      </dl>
    </div>
  </div>
</div>
<div class="col-xs-2">
  <div class="btn-toolbar col-xs-12">
    {{#unless isApproved}}
      <button {{action 'approve' item}} class="col-xs-12 btn btn-success">{{t 'review.approve'}}</button>
    {{else}}
      <span class="text-success btn btn-fake col-xs-12">{{t 'review.approved'}} <i class="fa fa-check"></i></span>
    {{/unless}}
  </div>
  <div class="btn-toolbar col-xs-12">
    <button {{action 'reviewEdit' item}} class="col-xs-12 btn btn-primary">{{t 'review.edit'}}</button>
  </div>
  <div class="btn-toolbar col-xs-12">
    {{mailer-modal publication=item buttonClass="col-xs-12 btn btn-default" buttonStyle="margin-left:5px"}}
  </div>
 </div>
</div>
