<div class="row">
  <div class="col-xs-12">
    <div class="pull-right">
      {{#gup-file-upload-widget
        id="gup-file-import-upload"
        faIconClass="fa-upload"
        uploadExtraData=(hash todo="todo")
        uploadUrl=importDataBaseUrl
        fileDidChange=(action "importDataFileDidChange")
        didUploadFile=(action "didUploadImportDataFile")
        parentUploadFile=uploadImportDataFile
        submitButtonIsVisible=uploadSubmitButtonIsVisible
        fileUploadIsVisible=uploadFileUploadIsVisible
        cancelLabel=uploadCancelButtonLabel
        submitLabel=(t "publications.dashboard.manage.fileImports.uploadSubmitLabel")
        submitButtonIsDisabled=uploadSubmitButtonIsDisabled
        cancelButtonStyle=uploadCancelButtonStyle
        didSave=(action "didSaveImportData")
        didCancel=(action "didCancelImportData")}}
        {{#if hasSuccessfullUpload}}
          <div class="alert alert-success">
            {{t 'publications.dashboard.manage.fileImports.successfulFileUpload' filename=fileImport.name}}
          </div>
          <button {{action "resetFileImportUploadState"}} type="button" class="btn btn-primary">
            {{t 'publications.dashboard.manage.fileImports.uploadAnotherFile'}}
          </button>
        {{/if}}
      {{/gup-file-upload-widget}}
    </div>
  </div>
  {{#if model}}
  <div class="col-xs-12">
    <table class="table">
      <thead>
        <tr>
          <th></th>
          <th>{{t 'publications.dashboard.manage.fileImports.filenameHeader'}}</th>
          <th>{{t 'publications.dashboard.manage.fileImports.importedDateHeader'}}</th>
          <th></th>
        </tr>
      </thead>
      {{#collapsible-items accordion=false tagName="tbody" items=model as |fileImport collapsibleItem|}}
        <tr>
          <td>
            <button
              {{action collapsibleItem.toggleIsActive}}
              type="button"
              class="btn btn-link"
              aria-label="{{if collapsibleItem.isActive (t "publications.dashboard.manage.fileImports.collapse") (t "publications.dashboard.manage.fileImports.expand")}}"
              aria-expanded="{{collapsibleItem.isActive}}">
              <i
                class="fa fa-lg fa-{{if collapsibleItem.isActive "minus" "plus"}}"
                aria-hidden="true"
                title="{{if collapsibleItem.isActive (t "publications.dashboard.manage.fileImports.collapse") (t "publications.dashboard.manage.fileImports.expand")}}">
              </i>
            </button>
          </td>
          <td>
            <h4>{{fileImport.name}}</h4>
          </td>
          <td>{{formatDate fileImport.updated_at}}</td>
          <td>
            {{#confirmation-modal openModalText=(t 'publications.dashboard.manage.fileImports.delete') confirmText=(t 'publications.dashboard.manage.fileImports.confirmDelete') didConfirm=(action "didDeleteFileImport" fileImport)}}
              {{t 'publications.dashboard.manage.fileImports.deleteFileConfirmation' filename=fileImport.name}}
            {{/confirmation-modal}}
          </td>
        </tr>
        {{#if collapsibleItem.isActive}}
        <tr>
          <td></td>
          <td colspan=3>
            <table class="table">
              <thead>
                <tr>
                  <th>{{t 'publications.dashboard.manage.fileImports.publicationTitleHeader'}}</th>
                  <th>{{t 'publications.dashboard.manage.fileImports.publicationIdHeader'}}</th>
                </tr>
              </thead>
              <tbody>
              {{#each fileImport.endnote_records as |record|}}
                <tr class="file-import-publication {{if record.publication_id "file-import-publication-imported"}}" >
                  <td>{{record.title}}</td>
                  <td>{{record.doi_url}}</td>
                </tr>
              {{/each}}
              </tbody>
            </table>
          </td>
        </tr>
        {{/if}}
      {{/collapsible-items}}
    </table>
  </div>
  {{/if}}
</div>
{{outlet}}
