<div class="row bottom-spacing-20">
  <div class="col-xs-12">
    <a href="javascript:history.back()"><i class="fa fa-chevron-left"></i> {{t 'labels.back'}}</a>
  </div>
</div>
<div class="row bottom-spacing-20">
  <div class="col-xs-12">
    <h1>{{t 'newPub.header'}}</h1>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 col-md-10 col-md-offset-1">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="row bottom-spacing-40">
          <div class="col-xs-9">
            <h2>{{t 'newPub.importPub.header'}}</h2>
            <p>{{t 'newPub.importPub.ingress'}}</p>
          </div>
          <div class="create-icon-background" />
        </div>
        <div class="row bottom-spacing-20">
          <div class="col-xs-12 center-content">
            <form class="gup-form-import">
              {{#x-select value=selectedSource class="form-control input-lg gup-form-input-xselect" id="source-selector"}}
                {{#x-option}}{{t 'newPub.importPub.form.selectImportSourcePrompt'}}{{/x-option}}
                {{#each dataSources as |dataSource|}}
                  {{#x-option value=dataSource.value}}{{dataSource.label}}{{/x-option}}
                {{/each}}
              {{/x-select}}
              <div class="input-group input-group-lg gup-form-input-id">
                {{input class='form-control manageFields' id="source-value-input" value=sourceId placeholder=idPlaceholderString}}
                <span class="input-group-btn">
                  <button {{action 'fetchSource'}} id="source-fetch" class="btn btn-primary {{if fetchButtonIsActive '' 'disabled'}}">{{t 'newPub.importPub.form.fetchButton'}}</button>
                </span>
              </div>
            </form>
          </div>
        </div>

        {{#if error}}
        <div class="row">
          <div class="col-xs-12">
            <div class="alert alert-danger" role="alert">{{error.msg}}</div>
          </div>
        </div>
        {{/if}}

        {{#if importData}}
        <div class="row">
          <div class="col-xs-12">
            <h4 id="import-confirm-header">{{t 'newPub.importPub.importConfirmation.header'}}</h4>
            <dl>
              <dt>{{t 'newPub.importPub.importConfirmation.title'}}</dt>
              <dd>{{importData.title}}</dd>
              <dt>{{t 'newPub.importPub.importConfirmation.author'}}</dt>
              <dd>{{importData.author}}</dd>
            </dl>
          </div>

          {{#if importData.publication_identifier_duplicates}}
            <div class="row">
              <div class="col-xs-12">
                <div class="alert alert-warning">
                  <h4>{{t 'newPub.importPub.importConfirmation.duplicateMessage'}}</h4>
                  <ul>
                  {{#each importData.publication_identifier_duplicates as |duplicate|}}
                    <li>
                    {{duplicate.identifier_code}}: {{duplicate.identifier_value}} - {{#link-to 'publications.dashboard.manage.show' duplicate.publication_id}}{{duplicate.publication_title}}{{/link-to}}
                    </li>
                    {{/each}}
                  </ul>
                </div>
              </div>
            </div>
          {{/if}}
          <div class="row">
            <div class="col-xs-12 center-content">
              <button id="import-confirm-button" {{action 'createPublication' importData}} class="btn btn-lg btn-success">{{t 'newPub.importPub.importConfirmation.btnImport'}}</button>
            </div>
          </div>
        </div>
        {{/if}}

      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-md-4 col-md-offset-4">
    <div class="row">
      <div class="col-xs-12">
        <h4>{{t 'newPub.manualPub.header'}}</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-8">
        <p>{{t 'newPub.manualPub.ingress'}}</p>
      </div>
      <div class="col-xs-4">
        <button class="btn btn-primary" {{action 'createPublication'}}>{{t 'newPub.manualPub.btnNew'}}</button>
      </div>
    </div>
  </div>
</div>
