<div class="row bottom-spacing-20">
  <div class="col-xs-12">
    {{#link-to 'publications.manage.dashboard.drafts'}}<i class="fa fa-chevron-left"></i> Tillbaka{{/link-to}}
  </div>
</div>
<div class="row bottom-spacing-20">
  <div class="col-xs-12">
    <h1>Registrera ny publikation</h1>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 col-md-6 col-md-offset-3">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="row bottom-spacing-40">
          <div class="col-xs-9">
            <h2>Importera</h2>
            <p>Importera publikationsuppgifter från extern källa, tex PubMed, Scopus eller Web of Science.</p>
          </div>
          <div class="create-icon-background" />          
        </div>
        <div class="row bottom-spacing-40">
          <div class="col-xs-12 center-content">
            <form class="form-inline">
              {{
                view Ember.Select
                classNames="form-control input-lg"
                content=sources
                value=selectedSource
                optionValuePath="content.value"
                optionLabelPath="content.label" prompt="Välj källa"
              }}
              {{input class='form-control input-lg manageFields' value=sourceId placeholder="ID"}}
              <button {{action 'fetchSource'}} {{bind-attr class=":btn :btn-lg :btn-primary fetchButtonIsActive::disabled"}}>Hämta</button>
            </form>
          </div>
        </div>

        {{#if error}}
        <div class="row">
          <div class="col-xs-12">
            <div class="alert alert-danger" role="alert">{{error.error.msg}}</div>
          </div>
        </div>
        {{/if}}

        {{#if importData}}
        <div class="row">
          <div class="col-xs-12">
            <h5>{{importData.title}}</h5>
            <h6>{{importData.author}}</h6>
          </div>
          <div class="row">
            <div class="col-xs-12 center-content">
              <button {{action 'import'}} class="btn btn-lg btn-success">Importera</button>
            </div>
          </div>
        </div>
        {{/if}}

      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-md-4 col-md-offset-4">
    <div class="row">
      <div class="col-xs-12">
        <h4>Har du ingen källa att importera från?</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-8">
        <p>Skapa en ny publikation och mata in informationen manuellt.</p>
      </div>
      <div class="col-xs-4">
        {{#link-to 'publications.manage.new'class="btn btn-primary"}}Skapa ny{{/link-to}}
      </div>
    </div>
  </div>
</div>
