<div class="container">
  <div class='row'>
		<div class='col-xs-offset-8'></div>
    <div class='col-xs-4'>
      {{view Ember.TextField
        type='file'
        value='Höddö!'
      }}
    </div>
  </div>
  <div class='row'>
    <div class='col-xs-4'>
      <button {{action 'cancel' model}}  class='btn btn-default'>Skapa ny</button>  
    </div>
    <div class='col-xs-4'>
      Importera från: 
    </div>
    <div class='col-xs-4'>
      {{view Ember.Select content=sources
                            value=sourceData.selectedSource
                  optionValuePath="content.value"
                  optionLabelPath="content.label"
      }}
    </div>
    <div class='col-xs-4'>
      {{input value=sourceData.sourceId}}
    </div>
    <div class='col-xs-4'>
    <button {{action 'import' sourceData}}  class='btn btn-default'>Import</button>  
    </p>
  </div>
  <div>
  <p>
  Importera från publikationslista: 
  </label>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    {{input value=sourceData.sourceId}}
    <button {{action 'import' sourceData}}  class='btn btn-default'>Import</button>  
  </p>
  </div>
  <div>
  <p>
  Redigera publikation:
  </label>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  &nbsp;&nbsp;&nbsp;&nbsp;
    {{input value=sourceData.sourceId}}
    <button {{action 'import' sourceData}}  class='btn btn-default'>Redigera</button>  
  </p>
  </div>
</div>
