<div>
{{#unless showMesgHeader}}
  <div class="alert neutral">
  <h4>
      <a href="#" class="btn btn-default btn-sm btninvisible" {{action 'hideMesgHeader'}}><i class="fa fa-check last"></i>OK</a>
  </h4>
</div>
{{else}}
  {{#if hasErrors}}
    <div class="alert alert-danger">
      <h4>{{errors}}
        <a href="#" class="btn btn-default btn-sm " {{action 'hideMesgHeader'}}><i class="fa fa-check last"></i>OK</a>
      </h4>
    </div>
  {{else}}
    <div class="alert alert-success">
      <h4>{{mesg}}
        <a href="#" class="btn btn-default btn-sm " {{action 'hideMesgHeader'}}><i class="fa fa-check last"></i>OK</a>
      </h4>
    </div>
  {{/if}}
{{/unless}}
  <div class='row myvalign'>
    <div class='col-xs-3'>Importera från:</div>
    <div class='col-xs-3'>
      {{view Ember.Select content=sources
                            value=sourceData.selectedSource
                  optionValuePath="content.value"
                  optionLabelPath="content.label"
      }}
		</div>
    <div class='col-xs-3'>
      {{input class='manageFields' value=sourceData.sourceId}}
		</div>
    <div class='col-xs-3'>
      <button {{action 'import' sourceData}}  class='btn btn-primary btn-lg btn-block'>Importera</button>  
    </div>
  </div> <!-- row -->
	<br />
	<br />

  <div class='row myvalign'>
    <div class='col-xs-3'>Ny registrering:</div>
    <div class='col-xs-3'></div>
    <div class='col-xs-3'></div>
    <div class='col-xs-3'>
      <button {{action 'create' model}}  class='btn btn-primary btn-lg btn-block'>Registrera</button>  
    </div>
  </div> <!-- row -->
		<br />
	<br />

  <div class='row myvalign'>
    <div class='col-xs-3'>Importera lista från fil:</div>
    <div class='col-xs-6'></div>
    <div class='col-xs-3'>
	      <button type="button" {{action 'uploadFile'}} class="btn btn-primary btn-lg btn-block">Ladda upp</button>
      {{file-uploader id='fileUploader' class="hide-element"}}
    </div>
  </div>
    <br />
	  <br />
		<hr />

  <div class='row myvalign'>
    <div class='col-xs-6'>Redigera befintlig registrering:</div>
    <div class='col-xs-3'>
      {{input class='manageFields' value=sourceData.pubid}}
		</div>
    <div class='col-xs-3'>
      <button {{action 'edit' sourceData }}  class='btn btn-primary btn-lg btn-block'>Redigera</button>  
    </div>
  </div> <!-- row -->

</div>
