<div>
  <div class='row'>
    <div class='col-xs-3'>Importera från:</div>
    <div class='col-xs-3'>
      {{view Ember.Select content=sources
                            value=sourceData.selectedSource
                  optionValuePath="content.value"
                  optionLabelPath="content.label"
      }}
		</div>
    <div class='col-xs-3'>
      {{input value=sourceData.sourceId}}
		</div>
    <div class='col-xs-3'>
      <button {{action 'import' sourceData}}  class='btn btn-default'>Import</button>  
    </div>
  </div> <!-- row -->
	<hr />

  <div class='row'>
    <div class='col-xs-3'>Redigera:</div>
    <div class='col-xs-3'></div>
    <div class='col-xs-3'>
      {{input value=sourceData.pubid}}
		</div>
    <div class='col-xs-3'>
      <button {{action 'edit' sourceData}}  class='btn btn-default'>Redigera</button>  
    </div>
  </div> <!-- row -->
	<hr />

  <div class='row'>
    <div class='col-xs-3'>Skapa ny:</div>
    <div class='col-xs-3'></div>
    <div class='col-xs-3'></div>
    <div class='col-xs-3'>
      <button {{action 'create' model}}  class='btn btn-default'>Skapa ny</button>  
    </div>
  </div> <!-- row -->
		<hr />

  <div class='row'>
    <div class='col-xs-3'>Importera lista från fil:</div>
    <div class='col-xs-3'></div>
    <div class='col-xs-6'>
      {{file-uploader}}
    </div>
  </div>
		<hr />
</div>
