
  <div class='col-xs-8'>
    <div class="row">
      <div class="col-xs-12">
              {{#if drafts.length}}
              <h3>Mina drafts</h3>
              <ul class="list-unstyled dashboard-list">
                {{#each item in drafts}} 
                  <li>
                    <div class="row">
                      <div class="col-xs-10">
                        {{#if item.title}}
                          <div class="row">
                            <div class="col-xs-12"><h3>{{#link-to 'publications.manage.show' item.pubid }}{{item.title}}{{/link-to}}</h3></div>
                          </div>
                          <div class="row">
                            <div class="col-xs-12"><strong>Författare:</strong> {{item.author}}</div>
                          </div>
                          
                        {{else}}
                          <h3>{{#link-to 'publications.manage.show' item.pubid }}Titel ej angiven{{/link-to}}</h3>
                        {{/if}}
                      </div>
                      <div class="col-xs-2">
                        <div class="btn-toolbar pull-right">
                            {{#link-to  'publications.manage.show' item.pubid classNames="btn btn-primary btn-sm"}}Visa{{/link-to}}
                        </div>
                      </div>
                    </div>

                  </li>
                  <!--
                    <table class="table table-condensed">
                      <tbody>
                          <tr>
                            <td colspan="2">{{item.title}}</td>

                          </tr>
                          <tr>
                            <th>Författare</th>
                            <td>{{item.author}}</td>
                          </tr>
                          <tr>
                            <th>Publikationsår</th>
                            <td>{{item.pubyear}}</td>
                          </tr>
                          <tr>
                            <td colspan="2">
                              <div class="btn-toolbar pull-right">
                                {{#link-to  'publications.manage.show' item.pubid classNames="btn btn-primary btn-sm"}}Visa{{/link-to}}
                              </div>
                            </td>
                          </tr>
                      </tbody>
                    </table>
                  </li>-->
                {{/each}}
              </ul>
              {{else}}    
                Du har inga utkast.
              {{/if}}
      </div>
      <div class="col-xs-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Mina registrerade publikationer</h3>
          </div>
          <div class="panel-body">
              {{#if publications.length}}
                  <ul class="list-unstyled dashboard-list">
                    {{#each item in publications}} 
                      <li>
                        <table class="table table-condensed">
                          <tbody>
                              <tr>
                                <td colspan="2">{{item.title}}</td>
                              </tr>
                              <tr>
                                <th>Författare</th>
                                <td>{{item.author}}</td>
                              </tr>
                              <tr>
                                <th>Publikationsår</th>
                                <td>{{item.pubyear}}</td>
                              </tr>
                              <tr>
                                <td colspan="2">
                                  <div class="btn-toolbar pull-right">
                                    {{#link-to  'publications.manage.show' item.pubid classNames="btn btn-primary btn-sm"}}Visa{{/link-to}}
                                  </div>
                                </td>
                              </tr>
                          </tbody>
                        </table>
                      </li>
                    {{/each}}
                  </ul>
              {{else}}    
                Du har inga publikationer.
              {{/if}}
          </div>
        </div>
      </div>
    </div> <!-- row -->    
  </div>


  <div class='col-xs-4'>
   
  </div>

