<div class="col-xs-8">
<div style="border:1px solid silver;">
  <div style='border:silver 1px solid;margin:0.5em;padding:0.5em'>
  {{#link-to 'publications.manage.show.edit' model class='btn btn-default'}}Redigera{{/link-to}}
  <button {{action 'cancel'       }}  class='btn btn-default'>Avbryt</button>  
  <button {{action 'delete' model }}  class='deletebtn btn btn-default'>Radera</button>  
</div>
</div>
<div style="border:1px solid silver;padding: 1em;border-top:0px;">

	{{#if model.title}}
		<p>
			<h4>{{model.title}}</h4>
		</p>
	{{/if}}
	{{#if model.alt_title}}
		<p>
			<b>Alternativ titel:</b><br />
			{{model.alt_title}}
		</p>
	{{/if}}
	{{#if model.author}}
		<p>
			<b>Författare och institution:</b><br />
			{{model.author}}
		</p>
	{{/if}}
	{{#if model.editor}}
		<p>
			<b>Redaktör:</b><br />
			{{model.editor}}
		</p>
	{{/if}}
	{{#if model.pubid}}
		<p>
			<b>Pubid:</b><br />
			{{model.pubid}}
		</p>
	{{/if}}

	{{#if model.publication_type_id}}
		<p>
			<b>Pubtype:</b><br />
			{{publicationType}}
		</p>
	{{/if}}

	{{#if model.abstract}}
		<p>
			<b>Sammanfattning:</b><br />
			{{model.abstract}}
		</p>
	{{/if}}
	{{#if model.category_hsv_local}}
		<p>
			<b>Ämne:</b><br />
			{{model.category_hsv_local}}
		</p>
	{{/if}}
	{{#if model.dissdate}}
		<p>
			<b>Disputationsdatum:</b><br />
			{{model.dissdate}}
		</p>
	{{/if}}
	{{#if model.disslocation}}
		<p>
			<b>Disputationsplats:</b><br />
			{{model.disslocation}}
		</p>
	{{/if}}
	{{#if model.dissopponent}}
		<p>
			<b>Opponent:</b><br />
			{{model.dissopponent}}
		</p>
	{{/if}}
	{{#if model.disstime}}
		<p>
			<b>Disputationstidpunkt:</b><br />
			{{model.disstime}}
		</p>
	{{/if}}
	{{#if model.eissn}}
		<p>
			<b>eISSN:</b><br />
			{{model.eissn}}
		</p>
	{{/if}}
	{{#if model.article_number}}
		<p>
			<b>Artikelnummer:</b><br />
			{{model.article_number}}
		</p>
	{{/if}}	
	{{#if model.email_supplier}}
		<p>
			<b>E-postadress:</b><br />
			{{model.email_supplier}}
		</p>
	{{/if}}
	{{#if model.extent}}
		<p>
			<b>Omfång:</b><br />
			{{model.extent}}
		</p>
	{{/if}}
	{{#if model.extid}}
		<p>
			<b>Externa ID:</b><br />
			{{model.extid}}
		</p>
	{{/if}}
	{{#if model.isbn}}
		<p>
			<b>ISBN:</b><br />
			{{model.isbn}}
		</p>
	{{/if}}
	{{#if model.issn}}
		<p>
			<b>ISSN:</b><br />
			{{model.issn}}
		</p>
	{{/if}}
	{{#if model.journal}}
		<p>
			<b>Tidsskrift (journal):</b><br />
			{{model.journal}}
		</p>
	{{/if}}
	{{#if model.keywords}}
		<p>
			<b>Nyckelord:</b><br />
			{{model.keywords}}
		</p>
	{{/if}}
	{{#if model.links}}
		<p>
			<b>Länkar:</b><br />
			<a href="{{model.links}}">{{model.links}}</a>
		</p>
	{{/if}}
	{{#if model.patent_applicant}}
		<p>
			<b>Patentansökare:</b><br />
			{{model.patent_applicant}}
		</p>
	{{/if}}
	{{#if model.patent_application_date}}
		<p>
			<b>Ansökningsdatum:</b><br />
			{{model.patent_application_date}}
		</p>
	{{/if}}
	{{#if model.patent_application_number}}
		<p>
			<b>Ansökningsnummer:</b><br />
			{{model.patent_application_number}}
		</p>
	{{/if}}
	{{#if model.patent_date}}
		<p>
			<b>Patenteringsdatum:</b><br />
			{{model.patent_date}}
		</p>
	{{/if}}
	{{#if model.patent_number}}
		<p>
			<b>Patenteringsnummer:</b><br />
			{{model.patent_number}}
		</p>
	{{/if}}
	{{#if model.place}}
		<p>
			<b>Ort:</b><br />
			{{model.place}}
		</p>
	{{/if}}
	{{#if model.project}}
		<p>
			<b>Projekt:</b><br />
			{{model.project}}
		</p>
	{{/if}}
	{{#if model.publanguage}}
		<p>
			<b>Språk:</b><br />
			{{model.publanguage}}
		</p>
	{{/if}}
	{{#if model.publisher}}
		<p>
			<b>Förläggare:</b><br />
			{{model.publisher}}
		</p>
	{{/if}}
	{{#if model.pub_notes}}
		<p>
			<b>Kommentar:</b><br />
			{{model.pub_notes}}
		</p>
	{{/if}}
	{{#if model.pubyear}}
		<p>
			<b>Publiceringsår:</b><br />
			{{model.pubyear}}
		</p>
	{{/if}}
	{{#if model.series}}
		<p>
			<b>Serie:</b><br />
			{{model.series}}
		</p>
	{{/if}}
	{{#if model.sourceissue}}
		<p>
			<b>Sourceissue:</b><br />
			{{model.sourceissue}}
		</p>
	{{/if}}
	{{#if model.sourcepages}}
		<p>
			<b>Sidor:</b><br />
			{{model.sourcepages}}
		</p>
	{{/if}}
	{{#if model.sourcetitle}}
		<p>
			<b>Sourcetitel:</b><br />
			{{model.sourcetitle}}
		</p>
	{{/if}}
	{{#if model.sourcevolume}}
		<p>
			<b>Volym:</b><br />
			{{model.sourcevolume}}
		</p>
	{{/if}}
	{{#if model.url}}
		<p>
			<b>Fulltextlänk:</b><br />
			<a href="{{model.url}}">{{model.url}}</a>
		</p>
	{{/if}}
	{{#if model.artwork_essay}}
		<p>
			<b>Artwork essay:</b><br />
			{{model.artwork_essay}}
		</p>
	{{/if}}
	{{#if model.artworkincluded}}
		<p>
			<b>Artwork included:</b><br />
			{{model.artworkincluded}}
		</p>
	{{/if}}
	{{#if model.artwork_process}}
		<p>
			<b>Artwork process:</b><br />
			{{model.artwork_process}}
		</p>
	{{/if}}
	{{#if model.artwork_type}}
		<p>
			<b>Artwork type:</b><br />
			{{model.artwork_type}}
		</p>
	{{/if}}
	{{#if model.created_at}}
		<p>
			<b>Posten skapad:</b><br />
			{{format-date model.created_at}}
		</p>
	{{/if}}


</div>

</div>
{{outlet}}
