<div class="row">
  <div class="col-xs-12">
    <nav id="sub-nav">
      <ul class="nav">
        <li>{{#link-to 'publications.dashboard.start'}}Start{{/link-to}}</li>
        <li>{{#link-to 'publications.dashboard.drafts'}}{{t 'text.drafts'}}{{/link-to}}</li>
        <li>{{#link-to 'publications.dashboard.published'}}{{t 'text.published'}}{{/link-to}}</li>
        <li>{{#link-to 'publications.dashboard.touched'}}{{t 'text.registeredOrEditedByMe'}}{{/link-to}}</li>
        <li>
          {{#link-to 'publications.dashboard.review'}}{{t 'text.forReview'}}
          {{#if showReviewCount}}
            <span class="badge badge-red">{{application.userdata.counts.review}}</span>
          {{/if}}
          {{/link-to}}
        </li>
        {{#if session.content.can_bibreview}}
          <li>{{#link-to 'publications.dashboard.biblreview'}}{{t 'text.forBReview'}}{{/link-to}}</li>
        {{/if}}
      </ul>
    </nav>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    {{outlet}}
  </div>
</div>
