{{#if hasErrors}}
<h4 class="alert alert-danger">Publikationen kunde inte sparas.</h4>
{{/if}}



<div {{bind-attr class=":form-group errors.publication_type_id:has-error"}}>
 <label class="control-label">Publikationstyp:<br/>
  {{view Ember.Select content=controllers.publications.model 
                      value=selectedPublicationType
                      optionValuePath="content.publication_type_code"
                      optionLabelPath="content.publication_type_code"
  }}
 </label>
 <label class="control-label">Innehållstyp:<br/>
  {{view Ember.Select content=selectedPublicationTypeAspects
                      selection=selectedAspect
                      optionValuePath="content.id"
                      optionLabelPath="content.content_type"
  }}
 </label>

</div> 

{{partial formPartial}}

<br/>
<br/>
<p>Debuginfo:</p>
<p>formPartial: {{formPartial}} </p>
<p>selectedAspect: {{model.publication_type_id}} </p>
