{{#if hasErrors}}
<h4 class="alert alert-danger">Publikationen kunde inte sparas.</h4>
{{/if}}



<div {{bind-attr class=":form-group errors.title:has-error"}}>
 <label class="control-label">Publikationstyp:<br/>
  {{view Ember.Select content=controllers.publications.model 
                      value=selectedName
                      optionValuePath="content.pubType"
                      optionLabelPath="content.pubTypeLabel"
  }}
 </label>
</div> 

  <p>
  Debuginfo:<br/>
  Title: {{model.title}}<br/>
  Author: {{model.author}}<br/>
  Pubyear: {{model.pubyear}}<br/>
  ISSN: {{model.issn}}<br/>
  Journal Title: {{model.journaltitle}}<br/>
  ISBN: {{model.isbn}}<br/>
  </p>
  <p>
  Abstract: {{model.abstract}}<br/>
  </p>



  {{partial formPartial}}


