{{#if model.hasErrors}}
<h4 class="alert alert-danger">{{model.errors}}</h4>
{{else}}
<h4>{{model.title}}</h4>
<em>
{{model.author}}
[{{model.pubyear}}]
</em>
<p>Journal title: {{model.journaltitle}}</p>
<p>ISSN: {{model.issn}}</p>
<p>ISBN: {{model.isbn}}</p>

<p>{{model.abstract}}</p>
{{/if}}
