<div class="bibl-review-list">
  <div class="row">
    <div class="col-xs-12">
      <div class="form-inline pull-right">
        <div class="checkbox">
          <label> {{t 'publications.dashboard.biblreview.showDelayedOnly'}} {{input type="checkbox" checked=only_delayed}}</label>
        </div>

        {{#x-select value=faculty class="form-control"}}
          {{#x-option}}{{t 'publications.dashboard.biblreview.selectFacultyPrompt'}}{{/x-option}}
          {{#each faculties as |selectValue|}}
            {{#x-option value=selectValue.id}}{{selectValue.name}}{{/x-option}}
          {{/each}}
        {{/x-select}}

        {{#x-select value=pubyear class="form-control"}}
          {{#each pubyears as |selectValue|}}
            {{#x-option value=selectValue.id}}{{selectValue.pubyear}}{{/x-option}}
          {{/each}}
        {{/x-select}}

        {{#power-select
	      options=publicationTypes
              selected=selectedPublicationType
              placeholder=(t 'publications.dashboard.biblreview.selectPublicationTypePrompt')
              onchange=(action "publicationTypeChanged")
              searchField="name" as |publicationType|
        }}
          {{#if publicationType.id}}
            {{publicationType.name}} ({{publicationType.publications_count}})
          {{else}}
            {{t 'publications.dashboard.biblreview.selectPublicationTypePrompt'}}
          {{/if}}
        {{/power-select}}
      </div>
    </div>
  </div>

  <div class="row number-of-results">
    <div class="col-xs-12 text-center">
      <strong>{{t 'publications.dashboard.biblreview.numberOfHits'}}: {{model.meta.query.total}}</strong>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      {{#if model.length}}
      <ul class="list-unstyled dashboard-list">
        {{#each model as |item|}}
        <li>
          {{publication-list-row item=item link='publications.dashboard.manage.show'}}
        </li>
        {{/each}}
      </ul>
      {{else}}
        {{t 'publications.dashboard.biblreview.noPublicationsForReview'}}
      {{/if}}
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      {{pagination-pager pagination=model.meta.pagination}}
    </div>
  </div>
</div>
