<div class="container ub-reports">
  <div class="row ub-reports-filter">
    <div class="col-xs-12">
      <p>{{t 'publications.dashboard.reports.description'}}</p>
    </div>
    <div class="col-xs-12">
      <h3>{{t 'publications.dashboard.reports.filter'}}</h3>
    </div>
    <div class="col-md-5">
        <div class="row">
          <div class="col-xs-6">
            <label>{{t 'publications.dashboard.reports.start_year'}}</label>
            {{input value=filter.start_year class="form-control" placeholder=(t 'publications.dashboard.reports.start_year')}}
          </div>
          <div class="col-xs-6">
            <label>{{t 'publications.dashboard.reports.end_year'}}</label>
            {{input value=filter.end_year class="form-control" placeholder=(t 'publications.dashboard.reports.end_year')}}
          </div>
        </div>
    </div>
    <div class="col-md-3">
        <label for="faculty-filter-select">{{t 'publications.dashboard.reports.faculty'}}</label>
        {{#x-select value=filter.faculties class="form-control" id="faculty-filter-select"}}
        {{#x-option}}{{t 'publications.dashboard.reports.select_faculty'}}{{/x-option}}
          {{#each selectableFaculties as |selectValue|}}
          {{#x-option value=selectValue.id}}{{selectValue.name}}{{/x-option}}
          {{/each}}
        {{/x-select}}
    </div>
    <div class="col-md-3">
        <label for="department-filter-select">{{t 'publications.dashboard.reports.department'}}</label>
        {{select2-adjusted
        id="department-filter-select"
        content=selectableDepartments
        optionLabelPath="presentation_name"
        optionValuePath="id"
        value=filter.departments
        placeholder=(t 'publications.dashboard.reports.select_department')
        allowClear=true
        multiple=true
        }}
    </div>
    <div class="col-xs-12 col-md-1">
      {{#if hasFilterData}}
        <label class="visible-md visible-lg" style="visibility:hidden">-</label>
        <button class="btn btn-link ub-reports-btn-clear" {{action 'resetFilter'}}><i class="fa fa-times" aria-hidden="true"></i> {{t 'publications.dashboard.reports.clearBtn'}}</button>
      {{/if}}
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h3>{{t 'publications.dashboard.reports.groupingHeader'}}</h3>
    </div>
    <div class="col-xs-12">
        <label class="checkbox-inline">
          {{input type="checkbox" checked=columns.year}}
          {{t 'publications.dashboard.reports.year'}}
        </label>
        <label class="checkbox-inline">
          {{input type="checkbox" checked=columns.faculty}}
          {{t 'publications.dashboard.reports.faculty'}}
        </label>
        <label class="checkbox-inline">
          {{input type="checkbox" checked=columns.department}}
          {{t 'publications.dashboard.reports.department'}}
        </label>
        <label class="checkbox-inline">
          {{input type="checkbox" checked=columns.ref_value}}
          {{t 'publications.dashboard.reports.ref_value'}}
        </label>
        <label class="checkbox-inline">
          {{input type="checkbox" checked=columns.publication_type}}
          {{t 'publications.dashboard.reports.publication_type'}}
        </label>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6">
        <div class="btn-toolbar" style="margin-top:8px">
          <button class="btn btn-primary"
            {{action 'createReport' filterData columnArray}}>{{t 'publications.dashboard.reports.create'}}</button>
        </div>
    </div>
    <div class="col-xs-6">
      {{#if hasReportRows}}
        <div class="btn-toolbar pull-right" style="margin-top:8px">
          <a href="{{csvUrl}}" class="btn btn-success"><i class="fa fa-table" aria-hidden='true'></i> {{t 'publications.dashboard.reports.export_csv'}}</a>
        </div>
      {{/if}}
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      {{#if reportRows}}
      <table class="table table-striped">
        <thead>
          <tr>
            {{#each model.columns as |column|}}
            <th>{{column}}</th>
            {{/each}}
            <th></th>
          </tr>
        </thead>
        <tbody>
          {{#each reportRows as |row|}}
          <tr>
            {{#each row.columns as |col|}}
            <td>{{col}}</td>
            {{/each}}
            <td><a href="{{row.xls_url}}" title="{{t 'publications.dashboard.reports.export_csv'}}" class="text-success pull-right"><i class="fa fa-table" aria-hidden='true'></i> </a></td>
          </tr>
          {{/each}}
        </tbody>
      </table>
      {{/if}}
    </div>
  </div>
</div>
