<div style="border:1px solid black;">
  <h3>edit.hbs</h3>
  <div style='border: black 2px solid;padding:2px;margin:2px'>
    {{#link-to 'publications.manage.show.edit' model class='btn btn-default'}}Spara{{/link-to}}
    {{#link-to 'publications.manage.show.edit' model class='btn btn-default'}}Spara utkast{{/link-to}}
    <button {{action 'cancel' model}}  class='btn btn-default'>Avbryt</button>  
  </div>
</div>
<div style="border:1px solid black;">


{{#if hasErrors}}
  {{#if showErrorHeader}}
    <h4 class="alert alert-danger">Publikationen kunde inte sparas.
      <a href="#" class="btn btn-default btn-sm" {{action 'hideErrorHeader'}}><i class="fa fa-check last"></i>OK</a>
    </h4>
  {{/if}}
{{/if}}


<div {{bind-attr class=":form-group errors.publication_type_id:has-error"}}>
  <label class="control-label">Publikationstyp:<br/>
    {{view Ember.Select content=controllers.publications.model 
                      value=selectedPublicationType
                      optionValuePath="content.publication_type_code"
                      optionLabelPath="content.publication_type_code"
    }}
  </label>
  <label class="control-label">Innehållstyp:<br/>
    {{view Ember.Select content=selectedPublicationTypeAspects
                      selection=selectedAspect
                      optionValuePath="content.id"
                      optionLabelPath="content.content_type"
    }}
  </label>
</div> 

{{partial formPartial}}



	<div style='margin:0.5em;padding:0.5em;border-bottom:1px solid black;background-color:aliceblue;'>
	<span><button class='btn btn-default'  {{action 'cancel' model      }}>Avbryt</button></span>
	<span><button class='btn btn-default'  {{action 'save' model 'draft'}}>Spara utkast</button></span>
	<span><button class='btn btn-default'  {{action 'save' model        }}>Spara och publicera</button></span>
	</div>
</div>

{{outlet}}
