<div class="row bottom-spacing-20">
  <div class="col-xs-8 col-xs-offset-2">
    <label>{{t 'edit.createNewAuthor.form.labels.id'}}</label><br/>
    {{model.id}}
  </div>
</div>

<div class="row bottom-spacing-20">
  <div class="col-xs-8 col-xs-offset-2">
    <div class="row bottom-spacing-20">
      <div class="col-xs-12">
	<span class="form-group {{if errors.first_name 'has-error'}}">
	  <label class="control-label">								
	    {{#if errors.first_name}}
	      {{error-feedback errors.first_name}}
	    {{/if}} {{t 'edit.createNewAuthor.form.labels.firstname'}}
	  </label>
	  {{input type="text" class="form-control" value=model.first_name placeholder=(t 'edit.createNewAuthor.form.labels.firstname')}}
	</span>
      </div>
    </div>
    <div class="row bottom-spacing-20">
      <div class="col-xs-12">
	<span class="form-group {{if errors.last_name 'has-error'}}">
	  <label class="control-label">								
	    {{#if errors.last_name}}
	      {{error-feedback errors.last_name}}
	    {{/if}} {{t 'edit.createNewAuthor.form.labels.lastname'}} <span style="color:red">*</span>
	  </label>
	  {{input type="text" class="form-control" value=model.last_name placeholder=(t 'edit.createNewAuthor.form.labels.lastname')}}
	</span>
      </div>
    </div>
    <div class="row bottom-spacing-20">
      <div class="col-xs-3">
	<span class="form-group {{if errors.birthyear 'has-error'}}">
	  <label class="control-label">								
	    {{#if errors.year_of_birth}}
	      {{error-feedback errors.year_of_birth}}
	    {{/if}} {{t 'edit.createNewAuthor.form.labels.birthyear'}}
	  </label>
	  {{input type="text" class="form-control" value=model.year_of_birth placeholder=(t 'edit.createNewAuthor.form.labels.birthyear')}}
	</span>
      </div>

      <div class="col-xs-3">
	<span class="form-group {{if errors.xaccount 'has-error'}}">
	  <label class="control-label">								
	    {{#if errors.xaccount}}
	      {{error-feedback errors.xaccount}}
	    {{/if}} {{t 'edit.createNewAuthor.form.labels.xaccount'}}
	  </label>
	  {{input type="text" class="form-control" value=model.xaccount placeholder=(t 'edit.createNewAuthor.form.labels.xaccount')}}
	</span>
      </div>
      <div class="col-xs-6">
	<span class="form-group {{if errors.orcid 'has-error'}}">
	  <label class="control-label">								
	    {{#if errors.orcid}}
	      {{error-feedback errors.orcid}}
	    {{/if}} {{t 'edit.createNewAuthor.form.labels.orcid'}}
	  </label>
	  {{input type="text" class="form-control" value=model.orcid placeholder=(t 'edit.createNewAuthor.form.labels.orcid')}}
	</span>
      </div>
    </div>
    <div class="btn-toolbar">
      <button type="submit"  {{action 'savePerson' model}} class="btn btn-success">
        {{t 'edit.createNewAuthor.form.actions.btnSave'}}
      </button>
      {{#link-to 'admin.people' (query-params qp=lastQuery) class="btn btn-danger"}}
        {{t 'edit.createNewAuthor.form.actions.btnCancel'}}
      {{/link-to}}
    </div>
  </div>
</div>
