
  <div class="row">
      <div class="publication-form col-xs-12">
          {{partial 'publications/publicationtypes/form'}}
      </div>
  </div>
 {{#if actionButtonsAreVisible}}
 <div class="row">
   <div class="col-xs-12">
   <div class="pull-right">
     <button type="button" class='btn btn-link'  {{action 'cancelEdit'}}>{{t 'edit.actions.btnCancel'}}</button>
     {{#unless publication.published_at}}
       <button type="button" class='btn btn-primary'  {{action 'saveDraft' model }}>{{t 'edit.actions.btnSaveDraft'}}</button>
     {{/unless}}
     <button type="button" class='btn btn-success'  {{action 'savePublish' publication }}>{{t 'edit.actions.btnSaveAndPublish'}}</button>
   </div>
   </div>
</div>
{{/if}}
