  <div class="row bottom-spacing-20">
    <div class="col-xs-12">
        <h1>{{t 'edit.header'}}</h1>
    </div>
  </div>

  <div class="row">
      <div class="publication-form col-xs-12">
          {{partial 'publications/publicationtypes/-form'}}
          {{#if actionButtonsAreVisible}}
              <div class="row">
                <div class="col-xs-12">
                  <div id="toolbar" {{bind-attr class=":btn-toolbar :pull-right getClassNameForSelectedPublicationTypeAndContentType"}}>
                    <button class='btn btn-default'  {{action 'cancelEdit'}}>{{t 'edit.actions.btnCancel'}}</button>
                    {{#unless publication.published_at}}
                      <button class='btn btn-success'  {{action 'saveDraft' model }}>{{t 'edit.actions.btnSaveDraft'}}</button>
                    {{/unless}}
                    <button class='btn btn-primary'  {{action 'savePublish' publication }}>{{t 'edit.actions.btnSaveAndPublish'}}</button>
                  </div>
                </div>
              </div>
          {{/if}}
      </div>
      <div class="col-xs-2">
      </div>
  </div> <!-- end row -->
