<div class="row">
  <div class="col-xs-3">
    <a href="javascript:void();" {{action 'goBack'}}><i class="fa fa-chevron-left"></i> Tillbaka</a>
  </div>
  <div class="col-xs-9">
    <div id="publication-toolbar">
      {{#if session.content.can_delete_published}}
        <button {{action 'deletePublication' model.id}} class="btn btn-link pull-right">{{t 'publication.show.delete'}} <i class="fa fa-trash" title=""></i></button>
      {{/if}}
      {{#link-to  'publications.show.edit' model class='btn btn-link pull-right'}}{{t 'publication.show.edit'}} <i class="fa fa-pencil"></i>{{/link-to}}
      {{mailer-modal publication=model buttonClass="btn btn-link pull-right"}}
      {{#if applicationController.isViewModeAdvanced}}
        {{#if model.published_at}}
          {{#unless model.biblreviewed_at}}
            {{delay-review-modal publication=model buttonClass="btn btn-link pull-right"}}
            <button {{action 'approvePublication' model.id}} class='btn btn-link pull-right'>{{t 'publication.show.biblreview'}} <i class="fa fa-check"></i></button>
          {{/unless}}
        {{/if}}
      {{/if}}
    </div>
  </div>
  <div class="col-xs-10">
    <div class="row">
      <div class="col-xs-12">
      <h2>{{model.pubid}}: {{model.title}}</h2>
      <dl class="dl-horizontal">
      <dt>PubID</dt> <dd>{{model.pubid}}</dd>
      <dt>Publikationstyp</dt><dd>{{model.publication_type_label}}</dd>
      {{field-component selectedPublicationType=getPublicationTypeObject fieldName="title" type="textarea" value=model.title format='presentation' viewMode=viewMode}}
      {{field-component selectedPublicationType=getPublicationTypeObject fieldName="alt_title" type="textarea" value=model.alt_title format='presentation' viewMode=viewMode}}
      {{field-component selectedPublicationType=getPublicationTypeObject fieldName="abstract" type="textarea" value=model.abstract format='presentation' viewMode=viewMode}}
      {{field-component selectedPublicationType=getPublicationTypeObject fieldName="content_type" type="text" value=model.content_type_label label=(t 'edit.form.selectContentTypeLabel') format='presentation' viewMode=viewMode}}
      {{field-component selectedPublicationType=getPublicationTypeObject fieldName="pubyear" type="text" value=model.pubyear format='presentation' viewMode=viewMode}}
      {{field-component selectedPublicationType=getPublicationTypeObject fieldName="editor" type="text" value=model.editor format='presentation' viewMode=viewMode}}
      {{field-component selectedPublicationType=getPublicationTypeObject fieldName="dissdate" type="text" value=model.dissdate format='presentation' viewMode=viewMode}}
      {{field-component selectedPublicationType=getPublicationTypeObject fieldName="dissopponent" type="text" value=model.dissopponent format='presentation' viewMode=viewMode}}
      {{field-component selectedPublicationType=getPublicationTypeObject fieldName="sourcetitle" type="text" value=model.sourcetitle format='presentation' viewMode=viewMode}}
      {{field-component selectedPublicationType=getPublicationTypeObject fieldName="journal_id" type="text" value=model.journal_id format='presentation' viewMode=viewMode}}
      {{field-component selectedPublicationType=getPublicationTypeObject fieldName="issn" type="text" value=model.issn format='presentation' viewMode=viewMode}}
      {{field-component selectedPublicationType=getPublicationTypeObject fieldName="eissn" type="text" value=model.eissn format='presentation' viewMode=viewMode}}
      {{field-component selectedPublicationType=getPublicationTypeObject fieldName="sourcevolume" type="text" value=model.sourcevolume format='presentation' viewMode=viewMode}}
      {{field-component selectedPublicationType=getPublicationTypeObject fieldName="sourceissue" type="text" value=model.sourceissue format='presentation' viewMode=viewMode}}
      {{field-component selectedPublicationType=getPublicationTypeObject fieldName="sourcepages" type="text" value=model.sourcepages format='presentation' viewMode=viewMode}}
      {{field-component selectedPublicationType=getPublicationTypeObject fieldName="article_number" type="text" value=model.article_number format='presentation' viewMode=viewMode}}
      {{field-component selectedPublicationType=getPublicationTypeObject fieldName="isbn" type="text" value=model.isbn format='presentation' viewMode=viewMode}}
      {{field-component selectedPublicationType=getPublicationTypeObject fieldName="publanguage" type="text" value=model.publanguage_label format='presentation' viewMode=viewMode}}
      {{field-component selectedPublicationType=getPublicationTypeObject fieldName="extid" type="text" value=model.extid format='presentation' viewMode=viewMode}}
      {{field-component selectedPublicationType=getPublicationTypeObject fieldName="url" type="text" value=model.url format='presentation' viewMode=viewMode}}
      {{field-component selectedPublicationType=getPublicationTypeObject fieldName="links" type="text" value=model.links format='presentation' viewMode=viewMode}}
      {{field-component selectedPublicationType=getPublicationTypeObject fieldName="extent" type="text" value=model.extent format='presentation' viewMode=viewMode}}
      {{field-component selectedPublicationType=getPublicationTypeObject fieldName="publisher" type="text" value=model.publisher format='presentation' viewMode=viewMode}}
      {{field-component selectedPublicationType=getPublicationTypeObject fieldName="place" type="text" value=model.place format='presentation' viewMode=viewMode}}
      {{field-component selectedPublicationType=getPublicationTypeObject fieldName="series" type="multiselect" value=model.series_objects format='presentation' viewMode=viewMode}}
      {{field-component selectedPublicationType=getPublicationTypeObject fieldName="category_hsv_local" type="category-selector" value=model.category_objects format='presentation' viewMode=viewMode}}
      {{field-component selectedPublicationType=getPublicationTypeObject fieldName="keywords" type="textarea" value=model.keywords format='presentation' viewMode=viewMode}}
      {{field-component selectedPublicationType=getPublicationTypeObject fieldName="project" type="multiselect" value=model.project_objects format='presentation' viewMode=viewMode}}
      {{field-component selectedPublicationType=getPublicationTypeObject fieldName="pub_notes" type="textarea" value=model.pub_notes format='presentation' viewMode=viewMode}}
      {{field-component selectedPublicationType=getPublicationTypeObject fieldName="artwork_type" type="text" value=model.artwork_type format='presentation' viewMode=viewMode}}
      {{field-component selectedPublicationType=getPublicationTypeObject fieldName="patent_applicant" type="text" value=model.patent_applicant format='presentation' viewMode=viewMode}}
      {{field-component selectedPublicationType=getPublicationTypeObject fieldName="patent_application_number" type="text" value=model.patent_application_number format='presentation' viewMode=viewMode}}
      {{field-component selectedPublicationType=getPublicationTypeObject fieldName="patent_application_date" type="text" value=model.patent_application_date format='presentation' viewMode=viewMode}}
      {{field-component selectedPublicationType=getPublicationTypeObject fieldName="patent_number" type="text" value=model.patent_number format='presentation' viewMode=viewMode}}
      {{field-component selectedPublicationType=getPublicationTypeObject fieldName="patent_date" type="text" value=model.patent_date format='presentation' viewMode=viewMode}}
      {{#if model.authors}}
        <dt>{{t 'edit.form.authorHeaderTextStrong'}}</dt>
        <dd><ul class="list-unstyled">
        {{#each model.authors as |author|}} 
          <li>{{author.first_name}} {{author.last_name}}
            {{#if author.departments}}
              <ul>
              {{#each author.departments as |department|}}
                <li>{{department.name}}</li>
              {{/each}}
              </ul>
            {{/if}}
          </li>
        {{/each}}
        </ul></dd>
      {{/if}}

      {{#if model.publication_identifiers}}
      <dt>{{t 'publicationIdentifier.label'}}</dt>
      <dd><ul class="list-unstyled">
      {{#each model.publication_identifiers as |identifier|}}
        <li>{{identifier.identifier_code}}: {{identifier.identifier_value}}</li>
      {{/each}}
      </ul></dd>
      {{/if}}
      </dl>

      {{#if advancedMode}}
      <hr/>
        <dl class="dl-horizontal">
          <dt>DB-ID</dt><dd>{{model.db_id}}</dd>
          <dt>{{t 'publication.labels.createdAt'}}</dt><dd>{{format-date model.created_at}}</dd>
          <dt>{{t 'publication.labels.createdBy'}}</dt><dd>{{model.created_by}}</dd>
          {{#if model.published_at}}<dt>{{t 'publication.labels.updatedAt'}}</dt><dd>{{format-date model.updated_at}}</dd>{{/if}}
          {{#if model.updated_by}}<dt>{{t 'publication.labels.updatedBy'}}</dt><dd>{{model.updated_by}}</dd>{{/if}}
          {{#if model.published_at}}<dt>{{t 'publication.labels.publishedAt'}}</dt><dd>{{format-date model.published_at}}</dd>{{/if}}
          {{#if model.bibl_review_start_time}}<dt>{{t 'publication.labels.reviewStart'}}</dt><dd>{{format-date model.bibl_review_start_time}}</dd>{{/if}}
          {{#if model.bibl_review_delay_comment}}<dt>{{t 'publication.labels.delayComment'}}</dt><dd>{{model.bibl_review_delay_comment}}</dd>{{/if}}
          {{#if model.biblreviewed_by}}<dt>{{t 'publication.labels.reviewedBy'}}</dt><dd>{{model.biblreviewed_by}}</dd>{{/if}}
          {{#if model.biblreviewed_at}}<dt>{{t 'publication.labels.reviewedAt'}}</dt><dd>{{format-date model.biblreviewed_at}}</dd>{{/if}}
        </dl>
      {{/if}}
      </div>
    </div>
  </div>
  <div class="col-xs-2">
  </div>
</div>
