<div class="row">
  <div class="col-xs-6">
    <a href="javascript:void();" {{action 'goBack'}}><i class="fa fa-chevron-left"></i> Tillbaka</a>
  </div>
  <div class="col-xs-6">
    <div id="publication-toolbar">
      {{#if session.content.can_delete_published}}
        <button {{action 'deletePublication' model.id}} class='btn btn-danger pull-right'>{{t 'publication.show.delete'}} <i class="fa fa-trash-o"></i></button>
      {{/if}}
      {{#link-to  'publications.show.edit' model class='btn btn-primary pull-right'}}{{t 'publication.show.edit'}} <i class="fa fa-edit"></i>{{/link-to}}
      {{mailer-modal publication=model buttonClass="btn btn-info pull-right"}}
      {{#if session.content.can_bibreview}}
        {{#unless model.biblreviewed_at}}
          {{delay-review-modal publication=model buttonClass="btn btn-info pull-right"}}
          <button {{action 'approvePublication' model.id}} class='btn btn-success pull-right'>{{t 'publication.show.biblreview'}} <i class="fa fa-check"></i></button>
        {{/unless}}
      {{/if}}
    </div>
  </div>
  <div class="col-xs-10">
    <div class="row">
      <div class="col-xs-12">
        {{display-publication publication=model advancedMode=advancedMode}}
      </div>
    </div>
  </div>
  <div class="col-xs-2">
  </div>
</div>
