<div class="container messages">
	{{partial 'msgheader'}}
</div>

<div id="{{if pageIsDisabled "page-disabled-overlay"}}">
	{{partial 'main-menu'}}

	<div class="container">
		{{#if messages.alert_message.message}}
		<div class="row">
			<div class="col-xs-12 news-flash">
			  <div class="alert alert-warning alert-message">
			    <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
			    <p class="news-text">{{messages.alert_message.message}}</p>
			  </div>
			</div>
		</div>
		{{/if}}

		{{#if messages.news_message.message}}
		<div class="row">
			<div class="col-xs-12 news-flash">
				<div class="alert alert-info" role="alert">
					<p class="header">{{messages.news_message.start_date}}</p>
				  <p class="news-text">{{messages.news_message.message}}</p>
				</div>
			</div>
		</div>
		{{/if}}

		{{outlet}}
	</div>
</div>


{{#if currentlyLoading }}
	<div class="spinner">
		<span class="fa-stack fa-lg">
			<i class="fa fa-square fa-stack-2x"></i>
			<i class="fa fa-spinner fa-inverse fa-stack-1x fa-spin"></i>
		</span>
	</div>
{{/if}}
