<div class="container">

<!--
  <div class="row">
    <div class="col-xs-12 news-flash">
      <div class="alert alert-warning alert-message">
        <p class="news-text"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i><br/> {{t 'login.extraLoginMessage'}}</p>
      </div>
    </div>
  </div>
-->

  <div class="col-xs-offset-1 col-xs-10 col-sm-offset-2 col-sm-8 col-md-offset-3 col-md-6 col-lg-offset-3 col-lg-6">
    <form {{action 'authenticate' on='submit'}} role="form">
      <div class="row info-box-body">
        {{#if invalidCredentials}}
          <div class="alert alert-danger col-xs-12">
          {{t 'login.loginError'}}
          </div>
        {{/if}}
        {{#if errorMessage}}
          <div class="alert alert-danger col-xs-12">
            {{errorMessage}}
          </div>
        {{/if}}
        <div class="form-group">
          <label for="identification">{{t 'login.username'}}</label>
          {{input value=identification classBinding=":form-control" placeholder=(t 'login.usernamePlaceholder')}}
        </div>
        <div class="form-group">
          <label for="password">{{t 'login.password'}}</label>
          {{input value=password classBinding=":form-control" placeholder=(t 'login.passwordPlaceholder') type='password'}}
        </div>
        <div class="form-group">
          <button class="btn btn-primary" type="submit" disabled={{loginDisabled}}>{{t 'login.button'}}</button>
          {{#if application.casLoginUrl}}<a href="{{application.casLoginUrl}}">{{t 'login.casLogin'}}</a>{{/if}}
          {{#unless loginDisabled}}
            <a href="javascript:void()" onclick={{action "authenticateOAuth2" bubbles=false}}>Login with github</a>
          {{/unless}}
        </div>
      </div>
    </form>
  </div>
</div>
