<h1>{{t 'publications_list.header_text'}}</h1>
{{#unless session.isAuthenticated}}
{{#link-to "login" class="pull-right"}}<i class="fa fa-lock" aria-hidden="true"></i> {{t 'login.button'}}{{/link-to}}
{{/unless}}
<div class="gup-published">
  <div class="gup-published-filter">
    <div class="row bottom-spacing-10">
      <div class="col-xs-12">
        <div class="gup-published-filter-time-range row">
          <div class="col-sm-3">
            <label>{{t 'publications_list.startYearLabel'}}<</label>
            {{#x-select value=start_year class="form-control start"}}
              {{#x-option}}{{t 'publications_list.startYearLabel'}}{{/x-option}}
              {{#each rangeYear as |year|}}
                {{#x-option value=year}}{{year}}{{/x-option}}
              {{/each}}
            {{/x-select}}
          </div>
          <div class="col-sm-3">
            <label>{{t 'publications_list.endYearLabel'}}<</label>
            {{#x-select value=end_year class="form-control end"}}
              {{#x-option}}{{t 'publications_list.endYearLabel'}}{{/x-option}}
              {{#each rangeYear as |year|}}
                {{#x-option value=year}}{{year}}{{/x-option}}
              {{/each}}
            {{/x-select}}
          </div>

          <div class="col-sm-6 ref-value">
              <label>
              {{t 'publications_list.onlyRefLabel'}}
              {{input type="checkbox" name="isRef" checked=isRef}}
              </label>
          </div>
        </div>
      </div>
    </div>
    <div class="row bottom-spacing-10">
          <div class="col-sm-6">
            <label>{{t 'publications_list.searchAuthorLabel'}}</label>
            {{#power-select-multiple
              search=(action "searchAuthor")
              selected=selectedAuthors
              onchange=(action (mut selectedAuthors))
              as |person|
            }}
              {{person.full_name}} {{#if person.xaccount}}({{person.xaccount}}){{/if}}
            {{/power-select-multiple}}
          </div>
          <div class="col-sm-6">
            <label>{{t 'publications_list.searchPublicationsType'}}</label>
            {{#power-select-multiple
              options=publicationTypes
              searchField="name"
              selected=selectedPublicationTypes
              onchange=(action (mut selectedPublicationTypes))
              as |publication_type|
            }}
              {{publication_type.name}}
            {{/power-select-multiple}}
          </div>
    </div>
    <div class="row bottom-spacing-10">
          <div class="col-sm-6">
            <label>{{t 'publications_list.searchDepartmentLabel'}}</label>
            {{#power-select-multiple
              options=selectableDepartments
              searchField="name"
              selected=selectedDepartments
              onchange=(action (mut selectedDepartments))
              as |department|
            }}
              {{department.name}}
            {{/power-select-multiple}}
          </div>
          <div class="col-sm-6">
            <label for="faculty-filter-select">{{t 'publications_list.selectFacultyLabel'}}</label>
            {{#x-select value=selectedFacultyID class="form-control" id="faculty-filter-select"}}
            {{#x-option}}{{t 'publications_list.selectFacultyDropdown'}}{{/x-option}}
              {{#each selectableFaculties as |selectValue|}}
              {{#x-option value=selectValue.id}}{{selectValue.name}}{{/x-option}}
              {{/each}}
            {{/x-select}}
          </div>
    </div>
    <div class="row">
          <div class="col-sm-6">
            <label>{{t 'publications_list.searchSerie'}}</label>
            {{#power-select-multiple
              options=series
              searchField="title"
              selected=selectedSeries
              onchange=(action (mut selectedSeries))
              as |serie|
            }}
              {{serie.title}}
            {{/power-select-multiple}}
          </div>
          <div class="col-sm-6">
            <label>{{t 'publications_list.searchProject'}}</label>
            {{#power-select-multiple
              options=projects
              searchField="title"
              selected=selectedProjects
              onchange=(action (mut selectedProjects))
              as |project|
            }}
              {{project.title}}
            {{/power-select-multiple}}
          </div>
    </div>
</div>
  {{#if resultIsVisible}}
  <div class="row">
    <div class="col-xs-12">
      {{#if model.length}}
        <div class="row number-of-results">
          <div class="col-xs-12 text-center">
            <strong>{{t 'publications_list.numberOfHits'}}: {{model.meta.query.total}}</strong>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-6">
            <form class="form-inline">
              <label>{{t 'publications_list.sortByPreLabel'}}</label>
               {{#x-select value=sort_by class="form-control"}}
                  {{#if prompt}}{{#x-option}}{{prompt}}{{/x-option}}{{/if}}
                    {{#each sortSelectValues as |selectValue|}}
                      {{#x-option value=selectValue.value}}{{selectValue.label}}{{/x-option}}
                    {{/each}}
                {{/x-select}}
            </form>
          </div>
          <div class="col-xs-6">
            <a class="btn btn-success pull-right" target="_bland" href="{{getDownloadLink}}"><i class="fa fa-table" aria-hidden="true"></i> {{t 'publications_list.export_as_ris'}}</a>
          </div>
        </div>
        <ul class="list-unstyled dashboard-list">
          {{#each model as |item|}}
            <li>
              {{publication-list-row item=item link=getLink}}
            </li>
          {{/each}}
        </ul>
        <div class="row">
          <div class="col-xs-12">
            {{pagination-pager pagination=model.meta.pagination}}
          </div>
        </div>
      {{else}}
        {{no-result displaytext=(t 'publications_list.zeroPublications')}}
      {{/if}}
    </div>
  </div>
  {{/if}}
</div>
