<div class="row">
  <div class="col-xs-12">
    {{#if model.length}}
      <div class="row number-of-results">
        <div class="col-xs-12 text-center">
          <strong>{{t 'publications.dashboard.manage.drafts.numberOfHits'}}: {{model.meta.query.total}}</strong>
        </div>
      </div>
      <ul class="list-unstyled dashboard-list">
        {{#each model as |item|}}
          <li>
            <div class="row">
              <div class="col-xs-10">
                {{publication-list-row item=item link='publications.dashboard.manage.show'}}
              </div>
              <div class="col-xs-2">
                <div class="btn-toolbar pull-right">
                  <button {{action 'delete' item.id}} class="btn btn-sm btn-danger"><i class="fa fa-trash" aria-hidden="true"></i></button>
                </div>
              </div>
            </div>
          </li>
        {{/each}}
      </ul>
      <div class="row">
        <div class="col-xs-12">
          {{pagination-pager pagination=model.meta.pagination}}
        </div>
      </div>
    {{else}}
      {{no-result icon="fa-file-o" displaytext=(t 'publications.dashboard.manage.drafts.youHaveNoDrafts')}}
    {{/if}}
  </div>
</div>
