<div class="gup-affiliations row bottom-spacing-40">
	<div class="col-xs-12">
	<h2>{{t 'admin.people.person.edit.list.affiliations_heading'}}</h2>
	 {{#each person as |person| }}
	 	{{#each person.departments_name_sv as |department|}}
			<span class="label label-default">{{department}}</span>
	 	{{/each}}
	 {{/each}}
	</div>
</div>

<div class="gup-published">
	<h2>{{t 'admin.people.person.edit.list.publications_heading'}}</h2>
  <div class="row">
    <div class="col-xs-12">
      {{#if model.length}}
        <div class="row number-of-results hidden">
          <div class="col-xs-12 text-center">
            <strong>{{t 'publications_list.numberOfHits'}}: {{model.meta.query.total}}</strong>
          </div>
        </div>
        <div class="row hidden">
          <div class="col-xs-12">
 
            <form class="form-inline">
              <label>{{t 'publications_list.sortByPreLabel'}}</label>
               {{#x-select value=sort_by class="form-control"}}
                  {{#if prompt}}{{#x-option}}{{prompt}}{{/x-option}}{{/if}}
                    {{#each sortSelectValues as |selectValue|}}
                      {{#x-option value=selectValue.value}}{{selectValue.label}}{{/x-option}}
                    {{/each}}
                {{/x-select}}
            </form>
          </div>
        </div>
        <ul class="list-unstyled dashboard-list">
          {{#each model as |item|}}
            <li>
              {{publication-list-row item=item link='publication'}}
            </li>
          {{/each}}
        </ul>
        <div class="row">
          <div class="col-xs-12">
            {{pagination-pager pagination=model.meta.pagination}}
          </div>
        </div>            
      {{else}}
        {{no-result displaytext=(t 'publications_list.zeroPublications')}}
      {{/if}}
    </div>
  </div>
</div>
