	<div style='margin:0.5em;padding:0.5em;border-bottom:1px solid black;background-color:aliceblue;'>
	<span {{bind-attr class=":form-group errors.title:has-error"}}>
		<label class="control-label">Titel:<br/>
			{{input type='text' classBinding=":form-control" value=model.title}}
		</label>
	</span>
	<span {{bind-attr class=":form-group errors.alt_title:has-error"}}>
		<label class="control-label">Alternativ titel:<br/>
			{{input type='text' classBinding=":form-control" value=model.alt_title}}
		</label>
	</span>
	<span {{bind-attr class=":form-group errors.pubyear:has-error"}}>
		<label class="control-label">Publikationsår:<br/>
			{{input type='text' classBinding=":form-control" value=model.pubyear}}
		</label>
	</span>
	</div>
	<div style='margin:0.5em;padding:0.5em;border-bottom:1px solid black;background-color:aliceblue;'>
	<span {{bind-attr class=":form-group errors.author:has-error"}}>
		<label class="control-label">Författare:<br/>
			{{input type='text' classBinding=":form-control" value=model.author}}
		</label>
	</span>
	<span {{bind-attr class=":form-group errors.author:has-error"}}>
		<label class="control-label">Affiliering:<br/>
			{{input type='text' classBinding=":form-control" value=model.author}}
		</label>
	</span>
	<span {{bind-attr class=":form-group errors.author:has-error"}}>
			+ 
	</span>
	</div>
	<div style='margin:0.5em;padding:0.5em;border-bottom:1px solid black;background-color:aliceblue;'>
	<span {{bind-attr class=":form-group errors.sourcetitle:has-error"}}>
		<label class="control-label">Tidskriftstitel:<br/>
			{{input type='text' classBinding=":form-control" value=model.sourcetitle}}
		</label>
	</span>
	<span {{bind-attr class=":form-group errors.sourcevolume:has-error"}}>
		<label class="control-label">Volym:<br/>
			{{input type='text' classBinding=":form-control" value=model.sourcevolume}}
		</label>
	</span>
	<span {{bind-attr class=":form-group errors.sourceissue:has-error"}}>
		<label class="control-label">Nr:<br/>
			{{input type='text' classBinding=":form-control" value=model.sourceissue}}
		</label>
	</span>
	<span {{bind-attr class=":form-group errors.sourcepages:has-error"}}>
		<label class="control-label">Sidor:<br/>
			{{input type='text' classBinding=":form-control" value=model.sourcepages}}
		</label>
	</span>
	<span {{bind-attr class=":form-group errors.issn:has-error"}}>
		<label class="control-label">issn:<br/>
			{{input type='text' classBinding=":form-control" value=model.issn}}
		</label>
	</span>
	<span {{bind-attr class=":form-group errors.eissn:has-error"}}>
		<label class="control-label">eissn:<br/>
			{{input type='text' classBinding=":form-control" value=model.eissn}}
		</label>
	</span>
	<span {{bind-attr class=":form-group errors.extid:has-error"}}>
		<label class="control-label">Externa ID:<br/>
			{{input type='text' classBinding=":form-control" value=model.extid}}
		</label>
	</span>
	<span {{bind-attr class=":form-group errors.publanguage:has-error"}}>
		<label class="control-label">Språk:<br/>
			{{input type='text' classBinding=":form-control" value=model.publanguage}}
		</label>
	</span>
	</div>
	
	<div style='margin:0.5em;padding:0.5em;border-bottom:1px solid black;background-color:aliceblue;'>
	<span {{bind-attr class=":form-group errors.links:has-error"}}>
		<label class="control-label">Länk:<br/>
			{{input type='text' classBinding=":form-control" value=model.links}}
		</label>
	</span>
	<span>+</span>
	</div>
	<div style='margin:0.5em;padding:0.5em;border-bottom:1px solid black;background-color:aliceblue;'>
	<span {{bind-attr class=":form-group errors.abstract:has-error"}}>
		<label class="control-label">Sammanfattning:<br/>
			{{textarea cols='40' rows='6' classBinding=":form-control" value=model.abstract}}
		</label>
	</span>
  <br/>
	<span {{bind-attr class=":form-group errors.category_hsv_local:has-error"}}>
		<label class="control-label">Ämne:<br/>
			{{input type='text' classBinding=":form-control" value=model.category_hsv_local}}
		</label>
	</span>
	<span {{bind-attr class=":form-group errors.keywords:has-error"}}>
		<label class="control-label">Nyckelord:<br/>
			{{input type='text' classBinding=":form-control" value=model.keywords}}
		</label>
	</span>
	<span {{bind-attr class=":form-group errors.project:has-error"}}>
		<label class="control-label">Projekt:<br/>
			{{input type='text' classBinding=":form-control" value=model.project}}
		</label>
	</span>
	<span {{bind-attr class=":form-group errors.pub_notes:has-error"}}>
		<label class="control-label">Kommentar:<br/>
			{{input type='text' classBinding=":form-control" value=model.pub_notes}}
		</label>
	</span>
	</div>
