



	<div class="row bottom-spacing-20">
		<div class="col-xs-6">
		  <span {{bind-attr class=":form-group errors.publication_type_id:has-error"}}>  </span>
		  <label class="control-label">Publikationstyp:</label>
		    {{view Ember.Select classNames="form-control"
		        content=publicationTypeCodes
		        value=selectedPublicationType
		        optionValuePath="content.publication_type_code"
		        optionLabelPath="content.publication_type_code"
		    }}
		</div>
		<div class="col-xs-6">
		  <label class="control-label">Innehållstyp:</label>
		  {{view Ember.Select classNames="form-control"
				content=contentTypes
				value=selectedContentType
				optionValuePath="content.id"
				optionLabelPath="content.content_type"
		  }}
		</div>
	</div><!-- end row -->
	{{getClassNameForSelectedPublicationTypeAndContentType}}


	<div id="title" {{bind-attr class=":row :bottom-spacing-20 getClassNameForSelectedPublicationTypeAndContentType"}}>
		<div class="col-xs-12">
			<span {{bind-attr class=":form-group errors.title:has-error"}}>
				<label class="control-label">Titel:</label>
				{{textarea rows=3 classBinding=":form-control" value=model.title}}
			</span>
		</div>
	</div> <!-- end row -->

	<div id="alt-title" {{bind-attr class=":row :bottom-spacing-20 getClassNameForSelectedPublicationTypeAndContentType"}}>
		<div class="col-xs-12">
			<span {{bind-attr class=":form-group errors.alt_title:has-error"}}>
				<label class="control-label">Alternativ titel:</label>
				{{textarea rows=3 classBinding=":form-control" value=model.alt_title}}
			</span>
		</div>
	</div> <!-- end row -->

<!--
  <div id="pubyear" {{bind-attr class=":row :bottom-spacing-20 getClassNameForSelectedPublicationTypeAndContentType"}}>
    <div class="col-xs-12">
      <span {{bind-attr class=":form-group errors.pubyear:has-error"}}>
        <label class="control-label">Publikationsår:</label>
        {{textarea rows=1 classBinding=":form-control" value=model.pubyear}}
      </span>
    </div>
  </div>
-->

	<div id="abstract" {{bind-attr class=":row :bottom-spacing-20 getClassNameForSelectedPublicationTypeAndContentType"}}>
		<div class="col-xs-12">
			<span {{bind-attr class=":form-group errors.abstract:has-error"}}>
				<label class="control-label">Sammanfattning:</label>
					{{textarea rows=12 classBinding=":form-control" value=model.abstract}}
			</span>
		</div>
	</div> <!-- end row -->

	<div id="meta" {{bind-attr class=":row :bottom-spacing-20 getClassNameForSelectedPublicationTypeAndContentType"}}>
		<div class="col-xs-2">
			<span {{bind-attr class=":form-group errors.pubyear:has-error"}}>
				<label class="control-label">Publikationsår:</label>
					{{input type='text' classBinding=":form-control" value=model.pubyear}}
			</span>
		</div>
		<div class="col-xs-2">
			<span {{bind-attr class=":form-group errors.publanguage:has-error"}}>
				<label class="control-label">Språk:</label>
					{{input type='text' classBinding=":form-control" value=model.publanguage}}

			</span>
		</div>
		<div class="col-xs-2">
			<span {{bind-attr class=":form-group errors.category_hsv_local:has-error"}}>
				<label class="control-label">Ämne:</label>
					{{input type='text' classBinding=":form-control" value=model.category_hsv_local}}

			</span>
		</div>
	</div> <!-- end row -->



	<div id="fulltext-link" {{bind-attr class=":row :bottom-spacing-20 getClassNameForSelectedPublicationTypeAndContentType"}}>
		<div class="col-xs-4">
			<span {{bind-attr class=":form-group errors.url:has-error"}}>
				<label class="control-label">Fulltextlänk:</label>
				{{input type='text' classBinding=":form-control" value=model.url}}
			</span>
		</div>
	</div> <!-- end row -->



	<div id="external-id" {{bind-attr class=":row :bottom-spacing-20 getClassNameForSelectedPublicationTypeAndContentType"}}>
		<div class="col-xs-4">
			<span {{bind-attr class=":form-group errors.extid:has-error"}}>
				<label class="control-label">Externa ID:</label>
				{{input type='text' classBinding=":form-control" value=model.extid}}
			</span>
		</div>
	</div> <!-- end row -->

	<div id="external-links" {{bind-attr class=":row :bottom-spacing-20 getClassNameForSelectedPublicationTypeAndContentType"}}>
		<div class="col-xs-12">
			<span {{bind-attr class=":form-group errors.links:has-error"}}>
				<label class="control-label">Externa länkar:</label>
				{{input type='text' classBinding=":form-control" value=model.links}}
			</span>
		</div>
	</div> <!-- end row -->


	<div id="keywords" {{bind-attr class=":row :bottom-spacing-20 getClassNameForSelectedPublicationTypeAndContentType"}}>
		<div class="col-xs-12">
			<span {{bind-attr class=":form-group errors.keywords:has-error"}}>
				<label class="control-label">Nyckelord:</label>
          {{textarea rows=5 classBinding=":form-control" value=model.keywords}}
			</span>
		</div>
	</div> <!-- end row -->

  <div id="project" {{bind-attr class=":row :bottom-spacing-20 getClassNameForSelectedPublicationTypeAndContentType"}}>
    <div class="col-xs-12">
      <span {{bind-attr class=":form-group errors.project:has-error"}}>
        <label class="control-label">Projekt:</label>
        {{input type='text' classBinding=":form-control" value=model.project}}
      </span>
    </div>
  </div> <!-- end row -->

	<div id="notes" {{bind-attr class=":row :bottom-spacing-20 getClassNameForSelectedPublicationTypeAndContentType"}}>
		<div class="col-xs-12">
			<span {{bind-attr class=":form-group errors.pub_notes:has-error"}}>
				<label class="control-label">Kommentar:</label>
				{{textarea rows=5 classBinding=":form-control" value=model.pub_notes}}

			</span>
		</div>
	</div> <!-- end row -->

	<h3>Författare</h3>
	<section id="author-component" {{bind-attr class="getClassNameForSelectedPublicationTypeAndContentType"}}>
		{{#each item in authorArr}}
			{{author-row item=item institutions=institutions removeAuthor='removeAuthorRow' isThisTheOnlyAuthorRow=isThisTheOnlyAuthorRow}}
		{{/each}}
		<div class="row bottom-spacing-20">
			<div class="col-xs-12">
				<div class="dotted-line"></div>
				<button class="btn btn-primary" {{action 'addNewAuthorRow'}}>Lägg till författare <i class="fa fa-plus"></i></button>
			</div>
		</div>

		<!--<div class="row bottom-spacing-20">
			<div class="col-xs-12">
				<span {{bind-attr class=":form-group errors.author:has-error"}}>
					<label class="control-label">Författare:</label>
						{{input type='text' classBinding=":form-control" value=model.author}}

				</span>
			</div>
		</div>  -->
	</section>

	<section id="magazine-details" {{bind-attr class="getClassNameForSelectedPublicationTypeAndContentType"}}>
		<div class="row bottom-spacing-20">
			<div class="col-xs-12">
				<div class="row">
					 <div class="col-xs-12 bottom-spacing-20">
						<span {{bind-attr class=":form-group errors.sourcetitle:has-error"}}>
							<label class="control-label">Publicerad i:</label>
								{{input type='text' classBinding=":form-control" value=model.sourcetitle}}

						</span>
					 </div>
					<div class="col-xs-1">
						<span {{bind-attr class=":form-group errors.sourcevolume:has-error"}}>
							<label class="control-label">Volym:</label>
								{{input type='text' classBinding=":form-control" value=model.sourcevolume}}

						</span>
					</div>
					<div class="col-xs-1">
						<span {{bind-attr class=":form-group errors.sourceissue:has-error"}}>
							<label class="control-label">Nr:</label>
								{{input type='text' classBinding=":form-control" value=model.sourceissue}}
						</span>
					</div>
					<div class="col-xs-2">
						<span {{bind-attr class=":form-group errors.sourcepages:has-error"}}>
							<label class="control-label">Sidor:</label>
								{{input type='text' classBinding=":form-control" value=model.sourcepages}}

						</span>
					</div>
					<div class="col-xs-4">
						<span {{bind-attr class=":form-group errors.issn:has-error"}}>
							<label class="control-label">issn:</label>
								{{input type='text' classBinding=":form-control" value=model.issn}}
						</span>
					</div>
					<div class="col-xs-4">
						<span {{bind-attr class=":form-group errors.eissn:has-error"}}>
							<label class="control-label">eissn:</label>
								{{input type='text' classBinding=":form-control" value=model.eissn}}
						</span>
					</div>
				</div>
			</div>
		</div> <!-- end row -->
	</section>


	<div id="article-number" {{bind-attr class=":row :bottom-spacing-20 getClassNameForSelectedPublicationTypeAndContentType"}}>
		<div class="col-xs-12">
			<span {{bind-attr class=":form-group errors.article_number:has-error"}}>
				<label class="control-label">Artikelnummer:</label>
					{{input type='text' classBinding=":form-control" value=model.article_number}}
			</span>
		</div>
	</div> <!-- end row -->

  <div id="extent" {{bind-attr class=":row :bottom-spacing-20 getClassNameForSelectedPublicationTypeAndContentType"}}>
    <div class="col-xs-12">
      <span {{bind-attr class=":form-group errors.extent:has-error"}}>
        <label class="control-label">Omfång:</label>
        {{input type='text' classBinding=":form-control" value=model.extent}}
      </span>
    </div>
  </div> <!-- end row -->

  <div id="publisher" {{bind-attr class=":row :bottom-spacing-20 getClassNameForSelectedPublicationTypeAndContentType"}}>
    <div class="col-xs-12">
      <span {{bind-attr class=":form-group errors.publisher:has-error"}}>
        <label class="control-label">Förläggare eller Förlag eller Utgivare ???:</label>
        {{input type='text' classBinding=":form-control" value=model.publisher}}
      </span>
    </div>
  </div> <!-- end row -->

  <div id="place" {{bind-attr class=":row :bottom-spacing-20 getClassNameForSelectedPublicationTypeAndContentType"}}>
    <div class="col-xs-12">
      <span {{bind-attr class=":form-group errors.place:has-error"}}>
        <label class="control-label">Ort eller Utgivningsort ???:</label>
        {{input type='text' classBinding=":form-control" value=model.place}}
      </span>
    </div>
  </div> <!-- end row -->

  <div id="series" {{bind-attr class=":row :bottom-spacing-20 getClassNameForSelectedPublicationTypeAndContentType"}}>
    <div class="col-xs-12">
      <span {{bind-attr class=":form-group errors.series:has-error"}}>
        <label class="control-label">Serie:</label>
        {{input type='text' classBinding=":form-control" value=model.series}}
      </span>
    </div>
  </div> <!-- end row -->

  <div id="isbn" {{bind-attr class=":row :bottom-spacing-20 getClassNameForSelectedPublicationTypeAndContentType"}}>
    <div class="col-xs-12">
      <span {{bind-attr class=":form-group errors.isbn:has-error"}}>
        <label class="control-label">isbn:</label>
        {{input type='text' classBinding=":form-control" value=model.isbn}}
      </span>
    </div>
  </div> <!-- end row -->

  <div id="artwork-type" {{bind-attr class=":row :bottom-spacing-20 getClassNameForSelectedPublicationTypeAndContentType"}}>
    <div class="col-xs-12">
      <span {{bind-attr class=":form-group errors.artwork_type:has-error"}}>
        <label class="control-label">Konstnärlig typ:</label>
        {{input type='text' classBinding=":form-control" value=model.artwork_type}}
      </span>
    </div>
  </div> <!-- end row -->

  <div id="editor" {{bind-attr class=":row :bottom-spacing-20 getClassNameForSelectedPublicationTypeAndContentType"}}>
    <div class="col-xs-12">
      <span {{bind-attr class=":form-group errors.editor:has-error"}}>
        <label class="control-label">Redaktör:</label>
        {{input type='text' classBinding=":form-control" value=model.editor}}
      </span>
    </div>
  </div> <!-- end row -->
