
	{{#if selectPublicationTypeIsVisible}}
		<div class="row ">
			<div class="col-xs-2">
			</div>
			<div class="select-publication-type-box col-xs-8 center-content">
				<form class="select-publication-type-dropdown form-inline">
				  <span {{bind-attr class=":form-group errors.publication_type_id:has-error"}}></span>
				    {{view "select" classNames="form-control"
				        content=publicationTypes
				        value=mayBecomeSelectedPublicationType
				        optionValuePath="content.code"
				        optionLabelPath="content.label"
				        prompt='Välj publikationstyp'
				    }}
				</form>
				{{#if descriptionOfMayBecomeSelectedPublicationType}}
					<div class="meta-description">
						<i class="fa fa-info-circle"></i> {{descriptionOfMayBecomeSelectedPublicationType}}
					</div>
				{{/if}}
				<div class="action-links">
					{{#if mayBecomeOldSelectedPublicationType}}
						<button class="btn btn-link" {{action 'cancelChangePublicationType'}}>Avbryt</button>
					{{/if}}
					<button class="btn btn-primary" {{action 'setAsSelectedPublicationType'}}>Välj</button>
				</div>
			</div>
			<div class="col-xs-2">
			</div>
		</div><!-- end row -->
	{{/if}}


	{{#if isSelectedPublicationValid}}
		{{selectedPublicationType}}:<button class="btn btn-link" {{action 'resetSelectedPublicationType'}}>Byt publikationstyp</button>
	{{/if}}

	{{#if contentTypesAreVisible}}
		{{#unless selectedPublicationTypeHasNoContentType}}
			{{#if selectedPublicationTypeHasNoOnlyOneContentType}}
			{{else}}
				<div class="row ">
					<div class="col-xs-6">
					  <label class="control-label">Innehållstyp:</label>
					  {{view Ember.Select classNames="form-control"
							content=contentTypes
							value=publication.content_type
							optionValuePath="content"
							optionLabelPath="content"
							prompt='Välj innehållstyp'
					  }}
					</div>
				</div><!-- end row -->
			{{/if}}
		{{/unless}}
	{{/if}}

	<div id="title" {{bind-attr class=":row"}}>
		<div class="col-xs-12">
			<span {{bind-attr class=":form-group errors.title:has-error"}}>
				{{field-component selectedPublicationType=getPublicationTypeObject fieldName="title" type="textarea" label="Titel:" value=publication.title}}
			</span>
		</div>
	</div> <!-- end row -->
	
	<div id="alt-title" {{bind-attr class=":row"}}>
		<div class="col-xs-12">
			<span {{bind-attr class=":form-group errors.alt_title:has-error"}}>
				{{field-component selectedPublicationType=getPublicationTypeObject fieldName="alt_title" type="textarea" label="Alternativ titel:" value=publication.alt_title}}
			</span>
		</div>
	</div> <!-- end row -->

	<div id="abstract" {{bind-attr class=":row"}}>
		<div class="col-xs-12">
			<span {{bind-attr class=":form-group errors.abstract:has-error"}}>
				{{field-component selectedPublicationType=getPublicationTypeObject fieldName="abstract" type="textarea" label="Sammanfattning" value=publication.abstract}}
			</span>
		</div>
	</div> <!-- end row -->

	<div id="meta" {{bind-attr class=":row"}}>
		<div class="col-xs-4">
				<span {{bind-attr class=":form-group errors.pubyear:has-error"}}>
					{{field-component selectedPublicationType=getPublicationTypeObject fieldName="pubyear" type="text" label="Publikationsår:" errors=errors.pubyear value=publication.pubyear}}		
				</span>
		</div>
		<div class="col-xs-4">
			<span {{bind-attr class=":form-group errors.publanguage:has-error"}}>
				{{field-component selectedPublicationType=getPublicationTypeObject fieldName="publanguage" type="text" label="Språk:" value=publication.publanguage}}
			</span>
		</div>
		<div class="col-xs-4">
			<span {{bind-attr class=":form-group errors.category_hsv_local:has-error"}}>
				{{field-component selectedPublicationType=getPublicationTypeObject fieldName="category_hsv_local" type="text" label="Ämne:" value=publication.category_hsv_local}}
			</span>
		</div>
	</div> <!-- end row -->



	<div id="fulltext-link" {{bind-attr class=":row : "}}>
		<div class="col-xs-4">
			<span {{bind-attr class=":form-group errors.url:has-error"}}>
				{{field-component selectedPublicationType=getPublicationTypeObject fieldName="url" type="text" label="Fulltextlänk:" value=publication.url}}
			</span>
		</div>
	</div> <!-- end row -->


	<div id="external-id" {{bind-attr class=":row : "}}>
		<div class="col-xs-4">
			<span {{bind-attr class=":form-group errors.extid:has-error"}}>
				{{field-component selectedPublicationType=getPublicationTypeObject fieldName="extid" type="text" label="Externa ID:" value=publication.extid}}
			</span>
		</div>
	</div> <!-- end row -->

	<div id="external-links" {{bind-attr class=":row :"}}>
		<div class="col-xs-12">
			<span {{bind-attr class=":form-group errors.links:has-error"}}>
				{{field-component selectedPublicationType=getPublicationTypeObject fieldName="links" type="text" label="Externa länkar:" value=publication.links}}
			</span>
		</div>
	</div> <!-- end row -->


	<div id="keywords" {{bind-attr class=":row : "}}>
		<div class="col-xs-12">
			<span {{bind-attr class=":form-group errors.keywords:has-error"}}>
				{{field-component selectedPublicationType=getPublicationTypeObject fieldName="keywords" type="textarea" label="Nyckelord:" value=publication.keywords}}
			</span>
		</div>
	</div> <!-- end row -->

  <div id="project" {{bind-attr class=":row : "}}>
	    <div class="col-xs-12">
	      <span {{bind-attr class=":form-group errors.project:has-error"}}>
			{{field-component selectedPublicationType=getPublicationTypeObject fieldName="project" type="text" label="Projekt:" value=publication.project}}

	      </span>
	    </div>
  </div> <!-- end row -->

	<div id="notes" {{bind-attr class=":row : "}}>
		<div class="col-xs-12">
			<span {{bind-attr class=":form-group errors.pub_notes:has-error"}}>
				{{field-component selectedPublicationType=getPublicationTypeObject fieldName="pub_notes" type="textarea" label="Kommentar:" value=publication.pub_notes}}
			</span>
		</div>
	</div> <!-- end row -->
	{{#if authorComponentIsVisible}}
		<section id="author-component" {{bind-attr class=""}}>
	    	<h3>Författare</h3>
			{{#each item in authorArr}}
				{{author-row item=item institutions=institutions removeAuthor='removeAuthorRow' isThisTheOnlyAuthorRow=isThisTheOnlyAuthorRow moveUp='moveUp' moveDown='moveDown'}}
			{{/each}}
			<div class="row ">
				<div class="col-xs-12">
					<div class="dotted-line"></div>
					<button class="btn btn-primary" {{action 'addNewAuthorRow'}}>Lägg till författare <i class="fa fa-plus"></i></button>
				</div>
			</div>
		</section>
	{{/if}}

<section id="magazine-details" {{bind-attr class=""}}>
		<div class="row ">
			<div class="col-xs-12">
				<div class="row">
					 <div class="col-xs-12 ">
						<span {{bind-attr class=":form-group errors.sourcetitle:has-error"}}>
							{{field-component selectedPublicationType=getPublicationTypeObject fieldName="sourcetitle" type="text" label="Publicerad i:" value=publication.sourcetitle}}
						</span>
					 </div>
					<div class="col-xs-1">
						<span {{bind-attr class=":form-group errors.sourcevolume:has-error"}}>
							{{field-component selectedPublicationType=getPublicationTypeObject fieldName="sourcevolume" type="text" label="Volym:" value=publication.sourcevolume}}
						</span>
					</div>
					<div class="col-xs-1">
						<span {{bind-attr class=":form-group errors.sourceissue:has-error"}}>
							{{field-component selectedPublicationType=getPublicationTypeObject fieldName="sourceissue" type="text" label="Nr:" value=publication.sourceissue}}
						</span>
					</div>
					<div class="col-xs-2">
						<span {{bind-attr class=":form-group errors.sourcepages:has-error"}}>
							{{field-component selectedPublicationType=getPublicationTypeObject fieldName="sourcepages" type="text" label="Sidor:" value=publication.sourcepages}}
						</span>
					</div>
					<div class="col-xs-2">
						<span {{bind-attr class=":form-group errors.issn:has-error"}}>
							{{field-component selectedPublicationType=getPublicationTypeObject fieldName="issn" type="text" label="ISSN:" value=publication.issn}}
						</span>
					</div>
					<div class="col-xs-2">
						<span {{bind-attr class=":form-group errors.eissn:has-error"}}>
							{{field-component selectedPublicationType=getPublicationTypeObject fieldName="eissn" type="text" label="EISSN:" value=publication.eissn}}
						</span>
					</div>
					<div class="col-xs-4">
						<span {{bind-attr class=":form-group errors.article-number:has-error"}}>
							{{field-component selectedPublicationType=getPublicationTypeObject fieldName="article_number" type="text" label="Artikelnummer:" value=publication.article_number}}
						</span>
					</div>
				</div>
			</div>
		</div> <!-- end row -->
	</section>



  <div id="extent" {{bind-attr class=":row : "}}>
	    <div class="col-xs-12">
	      <span {{bind-attr class=":form-group errors.extent:has-error"}}>
	        {{field-component selectedPublicationType=getPublicationTypeObject fieldName="extent" type="text" label="Omfång:" value=publication.extent}}
	      </span>
	    </div>
  </div> <!-- end row -->

  <div id="publisher" {{bind-attr class=":row : "}}>
	    <div class="col-xs-12">
	      <span {{bind-attr class=":form-group errors.publisher:has-error"}}>
	        	{{field-component selectedPublicationType=getPublicationTypeObject fieldName="publisher" type="text" label="Förlag:" value=publication.publisher}}
	      </span>
	    </div>
  </div> <!-- end row -->

  <div id="place" {{bind-attr class=":row :"}}>
    <div class="col-xs-12">
      <span {{bind-attr class=":form-group errors.place:has-error"}}>
        {{field-component selectedPublicationType=getPublicationTypeObject fieldName="place" type="text" label="Ort:" value=publication.place}}
      </span>
    </div>
  </div> <!-- end row -->

  <div id="series" {{bind-attr class=":row :"}}>
    <div class="col-xs-12">
      <span {{bind-attr class=":form-group errors.series:has-error"}}>
		{{field-component selectedPublicationType=getPublicationTypeObject fieldName="series" type="text" label="Serie:" value=publication.series}}
      </span>
    </div>
  </div> <!-- end row -->

  <div id="isbn" {{bind-attr class=":row :"}}>
    <div class="col-xs-12">
      <span {{bind-attr class=":form-group errors.isbn:has-error"}}>
        {{field-component selectedPublicationType=getPublicationTypeObject fieldName="isbn" type="text" label="ISBN:" value=publication.isbn}}
      </span>
    </div>
  </div> <!-- end row -->

  <div id="artwork-type" {{bind-attr class=":row : "}}>
    <div class="col-xs-12">
      <span {{bind-attr class=":form-group errors.artwork_type:has-error"}}>
		{{field-component selectedPublicationType=getPublicationTypeObject fieldName="artwork_type" type="text" label="Konstnärlig typ:" value=publication.artwork_type}}
      </span>
    </div>
  </div> <!-- end row -->

  <div id="editor" {{bind-attr class=":row :"}}>
    <div class="col-xs-12">
      <span {{bind-attr class=":form-group errors.editor:has-error"}}>
       	{{field-component selectedPublicationType=getPublicationTypeObject fieldName="editor" type="text" label="Redaktör:" value=publication.editor}}
      </span>
    </div>
  </div> <!-- end row -->

  <!-- Dissertaion fields -->

  <div id="diss-date" {{bind-attr class=":row : "}}>
    <div class="col-xs-12">
      <span {{bind-attr class=":form-group errors.dissdate:has-error"}}>
        {{field-component selectedPublicationType=getPublicationTypeObject fieldName="dissdate" type="text" label="Diss datum:" value=publication.dissdate}}
      </span>
    </div>
  </div> <!-- end row -->

  <div id="diss-time" {{bind-attr class=":row : "}}>
    <div class="col-xs-12">
      <span {{bind-attr class=":form-group errors.disstime:has-error"}}>
		{{field-component selectedPublicationType=getPublicationTypeObject fieldName="disstime" type="text" label="Diss tidpunkt:" value=publication.disstime}}
      </span>
    </div>
  </div> <!-- end row -->

  <div id="diss-location" {{bind-attr class=":row : "}}>
    <div class="col-xs-12">
      <span {{bind-attr class=":form-group errors.disslocation:has-error"}}>
        {{field-component selectedPublicationType=getPublicationTypeObject fieldName="disslocation" type="text" label="Diss ställe:" value=publication.disslocation}}
      </span>
    </div>
  </div> <!-- end row -->

  <div id="diss-opponent" {{bind-attr class=":row : "}}>
    <div class="col-xs-12">
      <span {{bind-attr class=":form-group errors.dissopponent:has-error"}}>
        {{field-component selectedPublicationType=getPublicationTypeObject fieldName="dissopponent" type="text" label="Opponent:" value=publication.dissopponent}}
      </span>
    </div>
  </div> <!-- end row -->

  <!-- Patent fields -->

  <div id="patent-applicant" {{bind-attr class=":row : "}}>
    <div class="col-xs-12">
      <span {{bind-attr class=":form-group errors.patent_applicant:has-error"}}>
        {{field-component selectedPublicationType=getPublicationTypeObject fieldName="patent_applicant" type="text" label="Patentsökare:" value=publication.patent_applicant}}
      </span>
    </div>
  </div> <!-- end row -->

  <div id="patent-application-number" {{bind-attr class=":row : "}}>
    <div class="col-xs-12">
      <span {{bind-attr class=":form-group errors.patent_application_number:has-error"}}>
        {{field-component selectedPublicationType=getPublicationTypeObject fieldName="patent_application_number" type="text" label="Ansökningsnummer:" value=publication.patent_application_number}}
      </span>
    </div>
  </div> <!-- end row -->

  <div id="patent-application-date" {{bind-attr class=":row : "}}>
    <div class="col-xs-12">
      <span {{bind-attr class=":form-group errors.patent_application_date:has-error"}}>
        {{field-component selectedPublicationType=getPublicationTypeObject fieldName="patent_application_date" type="text" label="Ansökningsdatum:" value=publication.patent_application_date}}
      </span>
    </div>
  </div> <!-- end row -->

  <div id="patent-number" {{bind-attr class=":row : "}}>
    <div class="col-xs-12">
      <span {{bind-attr class=":form-group errors.patent_number:has-error"}}>
        {{field-component selectedPublicationType=getPublicationTypeObject fieldName="patent_number" type="text" label="Patentnummer:" value=publication.patent_number}}
      </span>
    </div>
  </div> <!-- end row -->

  <div id="patent-date" {{bind-attr class=":row : "}}>
    <div class="col-xs-12">
      <span {{bind-attr class=":form-group errors.patent_date:has-error"}}>
        {{field-component selectedPublicationType=getPublicationTypeObject fieldName="patent_date" type="text" label="Patentdatum:" value=publication.patent_date}}
      </span>
    </div>
  </div> <!-- end row -->


