
	{{#if selectPublicationTypeIsVisible}}
		<div class="row">
			<div class="col-xs-2">
			</div>
			<div class="select-publication-type-box col-xs-8 center-content">
				<div class="panel panel-default">
					<div class="panel-body">
						<form class="select-publication-type-dropdown form-inline">
						  <span {{bind-attr class=":form-group errors.publication_type_id:has-error"}}></span>
						    {{view "select" classNames="form-control"
						        content=publicationTypes
						        value=mayBecomeSelectedPublicationType
						        optionValuePath="content.code"
						        optionLabelPath="content.name"
						        prompt=(t 'edit.form.selectPublicationTypePrompt')
						    }}
						</form>
						{{#if descriptionOfMayBecomeSelectedPublicationType}}
							<div class="meta-description">
								<i class="fa fa-info-circle"></i> {{descriptionOfMayBecomeSelectedPublicationType}}
							</div>
						{{/if}}
						<div class="action-links">
							{{#if mayBecomeOldSelectedPublicationType}}
								<button class="btn btn-link" {{action 'cancelChangePublicationType'}}>{{t 'edit.actions.btnCancel'}}</button>
							{{/if}}
							<button class="btn btn-primary btn-lg" {{action 'setAsSelectedPublicationType'}}>{{t 'edit.actions.btnSelect'}}</button>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xs-2">
			</div>
		</div><!-- end row -->
	{{else}}

	{{#if isSelectedPublicationValid}}
		{{getPublicationTypeObject.name}}:<button class="btn btn-link" {{action 'resetSelectedPublicationType'}}>{{t 'edit.form.changePublicationTypeLink'}}</button>
	{{/if}}

	{{#if contentTypesAreVisible}}
		{{#unless selectedPublicationTypeHasNoContentType}}
			{{#if selectedPublicationTypeHasNoOnlyOneContentType}}
			{{else}}
				<div class="row">
					<div class="col-xs-6">
						<span {{bind-attr class=":form-group errors.content_type:has-error"}}>
							{{field-component selectedPublicationType=getPublicationTypeObject fieldName="content_type" type="select"  errors=errors.content_type value=publication.content_type selectValues=getPublicationTypeObject.content_types prompt=(t 'edit.form.selectContentTypePrompt') label=(t 'edit.form.selectContentTypeLabel')}}
						</span>
					</div>
				</div>
			{{/if}}
		{{/unless}}
	{{/if}}

	<div class="row">
		<div class="col-md-9">
			<span {{bind-attr class=":form-group errors.title:has-error"}}>
				{{field-component selectedPublicationType=getPublicationTypeObject fieldName="title" type="textarea" errors=errors.title value=publication.title}}
			</span>
		</div>
	</div>

	<div class="row">
		<div class="col-md-9">
			<span {{bind-attr class=":form-group errors.alt_title:has-error"}}>
				{{field-component selectedPublicationType=getPublicationTypeObject fieldName="alt_title" type="textarea" errors=errors.alt_title value=publication.alt_title}}
			</span>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-3">
				<span {{bind-attr class=":form-group errors.pubyear:has-error"}}>
					{{field-component selectedPublicationType=getPublicationTypeObject fieldName="pubyear" type="text"  errors=errors.pubyear value=publication.pubyear}}
				</span>
		</div>
	</div>

	{{#if authorComponentIsVisible}}
		{{author-block errors=errors.authors authorArr=authorArr arrOfAuthorsFromImport=arrOfAuthorsFromImport institutions=institutions defaultInstitution=defaultInstitution}}
	{{/if}}

	<div class="row">
		<div class="col-md-9">
			<span {{bind-attr class=":form-group errors.editor:has-error"}}>
				{{field-component selectedPublicationType=getPublicationTypeObject fieldName="editor" type="text" errors=errors.editor value=publication.editor}}
			</span>
		</div>
	</div>

	<hr/>

	<!-- Dissertaion fields -->

	<div id="diss-date" class="row">
		<div class="col-md-9">
			<span {{bind-attr class=":form-group errors.dissdate:has-error"}}>
				{{field-component selectedPublicationType=getPublicationTypeObject fieldName="dissdate" type="date" errors=errors.dissdate value=publication.dissdate}}
			</span>
		</div>
	</div>

	<div id="diss-time" class="row">
		<div class="col-md-9">
			<span {{bind-attr class=":form-group errors.disstime:has-error"}}>
		{{field-component selectedPublicationType=getPublicationTypeObject fieldName="disstime" type="text" errors=errors.disstime value=publication.disstime}}
			</span>
		</div>
	</div>

	<div id="diss-location" class="row">
		<div class="col-md-9">
			<span {{bind-attr class=":form-group errors.disslocation:has-error"}}>
				{{field-component selectedPublicationType=getPublicationTypeObject fieldName="disslocation" type="text"  errors=errors.disslocation value=publication.disslocation}}
			</span>
		</div>
	</div>

	<div id="diss-opponent" class="row">
		<div class="col-md-9">
			<span {{bind-attr class=":form-group errors.dissopponent:has-error"}}>
				{{field-component selectedPublicationType=getPublicationTypeObject fieldName="dissopponent" type="text" errors=errors.dissopponent value=publication.dissopponent}}
			</span>
		</div>
	</div>

	<hr/>

	<div class="row">
		<div class="col-md-9 ">
				{{field-component selectedPublicationType=getPublicationTypeObject fieldName="sourcechooser" type="journal" issn=publication.issn eissn=publication.eissn  journal_id=publication.journal_id sourcetitle=publication.sourcetitle  }}
		</div>
	</div>

	<div class="row">
		<div class="col-md-9 ">
			<span {{bind-attr class=":form-group errors.sourcetitle:has-error"}}>
				{{field-component selectedPublicationType=getPublicationTypeObject fieldName="sourcetitle" type="text"  disabled=publication.journal_id errors=errors.sourcetitle value=publication.sourcetitle}}
			</span>
		</div>
	</div>

	<div class="row">
		<div class="col-md-9 ">
			<span {{bind-attr class=":form-group errors.sourcetitle:has-error"}}>
				{{field-component selectedPublicationType=getPublicationTypeObject fieldName="journal_id" type="text"  disabled=publication.journal_id errors=errors.sourcetitle value=publication.journal_id}}
			</span>
		</div>
	</div>


	<div class="row">
		<div class="col-md-3">
			<span {{bind-attr class=":form-group errors.issn:has-error"}}>
				{{field-component selectedPublicationType=getPublicationTypeObject fieldName="issn" type="issn"  disabled=publication.journal_id errors=errors.issn value=publication.issn}}
			</span>
		</div>
		<div class="col-md-3">
			<span {{bind-attr class=":form-group errors.eissn:has-error"}}>
				{{field-component selectedPublicationType=getPublicationTypeObject fieldName="eissn" type="issn"  disabled=publication.journal_id errors=errors.eissn value=publication.eissn}}
			</span>
		</div>
	</div>

	<div class="row">
		<div class="col-md-3">
			<span {{bind-attr class=":form-group errors.sourcevolume:has-error"}}>
				{{field-component selectedPublicationType=getPublicationTypeObject fieldName="sourcevolume" type="text"  errors=errors.sourcevolume value=publication.sourcevolume}}
			</span>
		</div>
		<div class="col-md-3">
			<span {{bind-attr class=":form-group errors.sourceissue:has-error"}}>
				{{field-component selectedPublicationType=getPublicationTypeObject fieldName="sourceissue" type="text" errors=errors.sourceissue value=publication.sourceissue}}
			</span>
		</div>
		<div class="col-md-3">
			<span {{bind-attr class=":form-group errors.sourcepages:has-error"}}>
				{{field-component selectedPublicationType=getPublicationTypeObject fieldName="sourcepages" type="text"  errors=errors.sourcepages value=publication.sourcepages}}
			</span>
		</div>
		<div class="col-md-3">
			<span {{bind-attr class=":form-group errors.article-number:has-error"}}>
				{{field-component selectedPublicationType=getPublicationTypeObject fieldName="article_number" type="text"  errors=errors.article_number value=publication.article_number}}
			</span>
		</div>
	</div>


	<div class="row">
		<div class="col-md-6">
			<span {{bind-attr class=":form-group errors.isbn:has-error"}}>
				{{field-component selectedPublicationType=getPublicationTypeObject fieldName="isbn" type="isbn"  errors=errors.isbn value=publication.isbn}}
			</span>
		</div>
	</div>

	<div class="row">
		<div class="col-md-6">
			<span {{bind-attr class=":form-group errors.publanguage:has-error"}}>
				{{field-component selectedPublicationType=getPublicationTypeObject fieldName="publanguage" type="select"  errors=errors.publanguage value=publication.publanguage selectValues=languages}}
			</span>
		</div>
	</div>

	<div class="row">
		<div class="col-md-9">
			<span {{bind-attr class=":form-group errors.extid:has-error"}}>
				{{field-component selectedPublicationType=getPublicationTypeObject fieldName="extid" type="text" errors=errors.extid value=publication.extid}}
			</span>
		</div>
	</div>

	<div class="row">
		<div class="col-md-9">
			<span {{bind-attr class=":form-group errors.url:has-error"}}>
				{{field-component selectedPublicationType=getPublicationTypeObject fieldName="url" type="text"  errors=errors.url value=publication.url}}
			</span>
		</div>
	</div>

	<div class="row">
		<div class="col-md-9">
			<span {{bind-attr class=":form-group errors.links:has-error"}}>
				{{field-component selectedPublicationType=getPublicationTypeObject fieldName="links" type="text" errors=errors.links value=publication.links}}
			</span>
		</div>
	</div>

	<div class="row">
			<div class="col-md-3">
				<span {{bind-attr class=":form-group errors.extent:has-error"}}>
					{{field-component selectedPublicationType=getPublicationTypeObject fieldName="extent" type="text" errors=errors.extent value=publication.extent}}
				</span>
			</div>
	</div>

	<div class="row">
			<div class="col-md-9">
				<span {{bind-attr class=":form-group errors.publisher:has-error"}}>
						{{field-component selectedPublicationType=getPublicationTypeObject fieldName="publisher" type="text"  errors=errors.publisher value=publication.publisher}}
				</span>
			</div>
	</div>

	<div class="row">
		<div class="col-md-9">
			<span {{bind-attr class=":form-group errors.place:has-error"}}>
				{{field-component selectedPublicationType=getPublicationTypeObject fieldName="place" type="text"  errors=errors.place value=publication.place}}
			</span>
		</div>
	</div>

	<div class="row">
		<div class="col-md-9">
			<span {{bind-attr class=":form-group errors.series:has-error"}}>
		{{field-component selectedPublicationType=getPublicationTypeObject fieldName="series" type="text"  errors=errors.series value=publication.series}}
			</span>
		</div>
	</div>

	<hr/>

	<div class="row">
		<div class="col-xs-12">
			<span {{bind-attr class=":form-group errors.category_hsv_local:has-error"}}>
				{{field-component selectedPublicationType=getPublicationTypeObject fieldName="category_hsv_local" type="category-selector" errors=errors.category_hsv_local value=publication.category_hsv_local categoryObjects=categoryObjectsList}}
			</span>
		</div>
	</div>

	<div class="row">
		<div class="col-md-9">
			<span {{bind-attr class=":form-group errors.abstract:has-error"}}>
				{{field-component selectedPublicationType=getPublicationTypeObject fieldName="abstract" type="textarea" errors=errors.abstract value=publication.abstract}}
			</span>
		</div>
	</div>

	<div class="row">
		<div class="col-md-9">
			<span {{bind-attr class=":form-group errors.keywords:has-error"}}>
				{{field-component selectedPublicationType=getPublicationTypeObject fieldName="keywords" type="textarea" errors=errors.keywords value=publication.keywords}}
			</span>
		</div>
	</div>

	<hr/>

	<div class="row">
		<div class="col-md-9">
			<span {{bind-attr class=":form-group errors.project:has-error"}}>
				{{field-component selectedPublicationType=getPublicationTypeObject fieldName="project" type="text" errors=errors.project value=publication.project}}
			</span>
		</div>
	</div>

	<div class="row">
		<div class="col-md-9">
			<span {{bind-attr class=":form-group errors.pub_notes:has-error"}}>
				{{field-component selectedPublicationType=getPublicationTypeObject fieldName="pub_notes" type="textarea" errors=errors.pub_notes value=publication.pub_notes}}
			</span>
		</div>
	</div>






	<div id="artwork-type" class="row">
		<div class="col-md-9">
			<span {{bind-attr class=":form-group errors.artwork_type:has-error"}}>
		{{field-component selectedPublicationType=getPublicationTypeObject fieldName="artwork_type" type="text"  errors=errors.artwork_type value=publication.artwork_type}}
			</span>
		</div>
	</div>


	<!-- Patent fields -->

	<div id="patent-applicant" class="row">
		<div class="col-md-9">
			<span {{bind-attr class=":form-group errors.patent_applicant:has-error"}}>
				{{field-component selectedPublicationType=getPublicationTypeObject fieldName="patent_applicant" type="text"  errors=errors.patent_applicant value=publication.patent_applicant}}
			</span>
		</div>
	</div>

	<div id="patent-application-number" class="row">
		<div class="col-md-9">
			<span {{bind-attr class=":form-group errors.patent_application_number:has-error"}}>
				{{field-component selectedPublicationType=getPublicationTypeObject fieldName="patent_application_number" type="text" errors=errors.patent_application_number value=publication.patent_application_number}}
			</span>
		</div>
	</div>

	<div id="patent-application-date" class="row">
		<div class="col-md-9">
			<span {{bind-attr class=":form-group errors.patent_application_date:has-error"}}>
				{{field-component selectedPublicationType=getPublicationTypeObject fieldName="patent_application_date" type="text"  errors=errors.patent_application_date value=publication.patent_application_date}}
			</span>
		</div>
	</div>

	<div id="patent-number" class="row">
		<div class="col-md-9">
			<span {{bind-attr class=":form-group errors.patent_number:has-error"}}>
				{{field-component selectedPublicationType=getPublicationTypeObject fieldName="patent_number" type="text"  errors=errors.patent_number value=publication.patent_number}}
			</span>
		</div>
	</div>

	<div id="patent-date" class="row">
		<div class="col-md-9">
			<span {{bind-attr class=":form-group errors.patent_date:has-error"}}>
				{{field-component selectedPublicationType=getPublicationTypeObject fieldName="patent_date" type="date"  errors=errors.patent_date value=publication.patent_date}}
			</span>
		</div>
	</div>

	<hr/>

  {{publication-identifier-block publicationIdentifiers=publication.publication_identifiers publicationIdentifierCodes=publicationIdentifierCodes}}

	{{/if}}
