<div class="row">
{{#if mayBecomeSelectedPublicationType}}
      {{publicationtype-item publicationTypes=publicationTypes code=mayBecomeSelectedPublicationType current=true}}
{{/if}}
{{#if suggestedPublicationType}}
      {{publicationtype-item publicationTypes=publicationTypes code=suggestedPublicationType suggested=true}}
{{/if}}
</div>
<div class="row bottom-spacing-20">
  <div class="col-xs-12">
    <h2>Välj publikationstyp</h2>
  </div>
</div>
<div class="row">
<div class="col-xs-12">
  <ul class="nav nav-pills">
    <li role="presentation" class={{if isSelectedAll 'active'}}><a href="#" {{action 'setPublicationTypeFilter' 'all'}}>Alla</a></li>
    <li role="presentation" class={{if isSelectedBooks 'active'}}><a href="#" {{action 'setPublicationTypeFilter' 'books'}}>Böcker</a></li>
    <li role="presentation" class={{if isSelectedArticles 'active'}}><a href="#" {{action 'setPublicationTypeFilter' 'articles'}}>Artiklar</a></li>
    <li role="presentation" class={{if isSelectedConference 'active'}}><a href="#" {{action 'setPublicationTypeFilter' 'conference'}}>Konferensbidrag</a></li>
    <li role="presentation" class={{if isSelectedArtworks 'active'}}><a href="#" {{action 'setPublicationTypeFilter' 'artworks'}}>Konstnärliga arbeten</a></li>
    <li role="presentation" class={{if isSelectedOther 'active'}}><a href="#" {{action 'setPublicationTypeFilter' 'other'}}>Övrigt</a></li>
  </ul>
  </div>
  </div>
    {{#if showPublicationTypeGroupArticles}}
    <div class="row">
      <div class="col-xs-12">
        <h3>Artikel</h3>
      </div>
      {{publicationtype-item publicationTypes=publicationTypes code='journal-articles'}}
      {{publicationtype-item publicationTypes=publicationTypes code='review-articles'}}
      {{publicationtype-item publicationTypes=publicationTypes code='magazine-articles'}}
      {{publicationtype-item publicationTypes=publicationTypes code='editorial-letters'}}
      {{publicationtype-item publicationTypes=publicationTypes code='book-reviews'}}
      {{publicationtype-item publicationTypes=publicationTypes code='newspaper-article'}}
    </div>
    {{/if}}
    {{#if showPublicationTypeGroupBooks}}
    <div class="row">
      <div class="col-xs-12">
        <h3>Bok eller kapitel i bok</h3>
      </div>
      {{publicationtype-item publicationTypes=publicationTypes code='books'}}
      {{publicationtype-item publicationTypes=publicationTypes code='book-chapters'}}
      {{publicationtype-item publicationTypes=publicationTypes code='doctoral-thesis'}}
      {{publicationtype-item publicationTypes=publicationTypes code='licentiate-thesis'}}
      {{publicationtype-item publicationTypes=publicationTypes code='edited-book'}}
      {{publicationtype-item publicationTypes=publicationTypes code='translations'}}
      {{publicationtype-item publicationTypes=publicationTypes code='reports'}}
      {{publicationtype-item publicationTypes=publicationTypes code='report-chapter'}}
    </div>
    {{/if}}
    {{#if showPublicationTypeGroupConference}}
    <div class="row">
      <div class="col-xs-12">
        <h3>Konferensbidrag mm</h3>
      </div>
      {{publicationtype-item publicationTypes=publicationTypes code='conference-papers'}}
      {{publicationtype-item publicationTypes=publicationTypes code='conference-contributions'}}
      {{publicationtype-item publicationTypes=publicationTypes code='poster'}}
      {{publicationtype-item publicationTypes=publicationTypes code='proceeding'}}
    </div>
    {{/if}}
    {{#if showPublicationTypeGroupArtworks}}
    <div class="row">
      <div class="col-xs-12">
        <h3>Konstnärliga arbeten</h3>
          {{publicationtype-item publicationTypes=publicationTypes code='original-creative-work'}}
          {{publicationtype-item publicationTypes=publicationTypes code='curated-exhibition'}}
      </div>
    </div>
    {{/if}}
    {{#if showPublicationTypeGroupOther}}
    <div class="row">
      <div class="col-xs-12">
        <h3>Övrigt</h3>
      </div>
      {{publicationtype-item publicationTypes=publicationTypes code='journal-issue'}}
      {{publicationtype-item publicationTypes=publicationTypes code='working-paper'}}
      {{publicationtype-item publicationTypes=publicationTypes code='encyclopedia-entry'}}
      {{publicationtype-item publicationTypes=publicationTypes code='patent'}}
      {{publicationtype-item publicationTypes=publicationTypes code='other'}}
    </div>
    {{/if}}
  <div class="action-links pull-right">
    {{#if mayBecomeOldSelectedPublicationType}}
      <button class="btn btn-link" {{action 'cancelChangePublicationType'}}>{{t 'edit.actions.btnCancel'}}</button>
    {{/if}}
  </div>

