
	{{#if selectPublicationTypeIsVisible}}
    {{partial 'publications/publicationtypes/selector'}}
	{{else}}
	{{#if isSelectedPublicationValid}}
		{{getPublicationTypeObject.name}}:<button class="btn btn-link" {{action 'resetSelectedPublicationType'}}>{{t 'edit.form.changePublicationTypeLink'}}</button>
	{{/if}}

  {{#if refValueSelectionVisible}}
				<div class="row">
					<div class="col-xs-6">
						<span class="form-group {{if errors.ref_value 'has-error'}}">
							{{field-component selectedPublicationType=getPublicationTypeObject fieldName="ref_value" type="select"  errors=errors.ref_value value=publication.ref_value selectValues=getPublicationTypeObject.ref_select_options prompt=(t 'edit.form.selectContentTypePrompt') label=(t 'edit.form.selectContentTypeLabel')}}
						</span>
					</div>
				</div>
  {{/if}}

	<div class="row">
		<div class="col-md-9">
			<span class="form-group {{if errors.title 'has-error'}}">
				{{field-component selectedPublicationType=getPublicationTypeObject fieldName="title" type="textarea" errors=errors.title value=publication.title}}
			</span>
		</div>
	</div>

	<div class="row">
		<div class="col-md-9">
			<span class="form-group {{if errors.alt_title 'has-error'}}">
				{{field-component selectedPublicationType=getPublicationTypeObject fieldName="alt_title" type="textarea" errors=errors.alt_title value=publication.alt_title}}
			</span>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-3">
				<span class="form-group {{if errors.pubyear 'has-error'}}">
					{{field-component selectedPublicationType=getPublicationTypeObject fieldName="pubyear" type="text"  errors=errors.pubyear value=publication.pubyear}}
				</span>
		</div>
	</div>

	{{#if authorComponentIsVisible}}
		{{author-block errors=errors.authors authorArr=authorArr selectedPublicationType=getPublicationTypeObject arrOfAuthorsFromImport=arrOfAuthorsFromImport institutions=institutions defaultInstitution=defaultInstitution}}
	{{/if}}

	<hr/>
{{#field-group}}

	<!-- Dissertaion fields -->

	<div id="diss-date" class="row">
		<div class="col-md-9">
			<span class="form-group {{if errors.dissdate 'has-error'}}">
				{{field-component selectedPublicationType=getPublicationTypeObject fieldName="dissdate" type="date" errors=errors.dissdate value=publication.dissdate}}
			</span>
		</div>
	</div>

	<div id="diss-time" class="row">
		<div class="col-md-9">
			<span class="form-group {{if errors.disstime 'has-error'}}">
		{{field-component selectedPublicationType=getPublicationTypeObject fieldName="disstime" type="text" errors=errors.disstime value=publication.disstime}}
			</span>
		</div>
	</div>

	<div id="diss-location" class="row">
		<div class="col-md-9">
			<span class="form-group {{if errors.disslocation 'has-error'}}">
				{{field-component selectedPublicationType=getPublicationTypeObject fieldName="disslocation" type="text"  errors=errors.disslocation value=publication.disslocation}}
			</span>
		</div>
	</div>

	<div id="diss-opponent" class="row">
		<div class="col-md-9">
			<span class="form-group {{if errors.dissopponent 'has-error'}}">
				{{field-component selectedPublicationType=getPublicationTypeObject fieldName="dissopponent" type="text" errors=errors.dissopponent value=publication.dissopponent}}
			</span>
		</div>
	</div>

{{/field-group}}
{{#field-group}}
	<div class="row">
		<div class="col-md-9 ">
			<span class="form-group {{if errors.sourcetitle 'has-error'}}">
				{{field-component selectedPublicationType=getPublicationTypeObject fieldName="sourcetitle" type="journal" issn=publication.issn eissn=publication.eissn  journal_id=publication.journal_id sourcetitle=publication.sourcetitle errors=errors.sourcetitle }}
			</span>
		</div>
	</div>

	<div class="row">
		<div class="col-md-3">
			<span class="form-group {{if errors.issn 'has-error'}}">
				{{field-component selectedPublicationType=getPublicationTypeObject fieldName="issn" type="issn"  disabled=publication.journal_id errors=errors.issn value=publication.issn}}
			</span>
		</div>
		<div class="col-md-3">
			<span class="form-group {{if errors.eissn 'has-error'}}">
				{{field-component selectedPublicationType=getPublicationTypeObject fieldName="eissn" type="issn"  disabled=publication.journal_id errors=errors.eissn value=publication.eissn}}
			</span>
		</div>
	</div>

	<div class="row">
		<div class="col-md-3">
			<span class="form-group {{if errors.sourcevolume 'has-error'}}">
				{{field-component selectedPublicationType=getPublicationTypeObject fieldName="sourcevolume" type="text"  errors=errors.sourcevolume value=publication.sourcevolume}}
			</span>
		</div>
		<div class="col-md-3">
			<span class="form-group {{if errors.sourceissue 'has-error'}}">
				{{field-component selectedPublicationType=getPublicationTypeObject fieldName="sourceissue" type="text" errors=errors.sourceissue value=publication.sourceissue}}
			</span>
		</div>
		<div class="col-md-3">
			<span class="form-group {{if errors.sourcepages 'has-error'}}">
				{{field-component selectedPublicationType=getPublicationTypeObject fieldName="sourcepages" type="text"  errors=errors.sourcepages value=publication.sourcepages}}
			</span>
		</div>
		<div class="col-md-3">
			<span class="form-group {{if errors.article-number 'has-error'}}">
				{{field-component selectedPublicationType=getPublicationTypeObject fieldName="article_number" type="text"  errors=errors.article_number value=publication.article_number}}
			</span>
		</div>
	</div>


	<div class="row">
		<div class="col-md-6">
			<span class="form-group {{if errors.isbn 'has-error'}}">
				{{field-component selectedPublicationType=getPublicationTypeObject fieldName="isbn" type="isbn"  errors=errors.isbn value=publication.isbn}}
			</span>
		</div>
	</div>

	<div class="row">
		<div class="col-md-6">
			<span class="form-group {{if errors.publanguage 'has-error'}}">
				{{field-component selectedPublicationType=getPublicationTypeObject fieldName="publanguage" type="select"  errors=errors.publanguage value=publication.publanguage selectValues=languages}}
			</span>
		</div>
	</div>

	<div class="row">
		<div class="col-md-9">
			<span class="form-group {{if errors.url 'has-error'}}">
				{{field-component selectedPublicationType=getPublicationTypeObject fieldName="url" type="text"  errors=errors.url value=publication.url}}
			</span>
		</div>
	</div>

	<div class="row">
		<div class="col-md-9">
			<span class="form-group {{if errors.links 'has-error'}}">
				{{field-component selectedPublicationType=getPublicationTypeObject fieldName="links" type="text" errors=errors.links value=publication.links}}
			</span>
		</div>
	</div>

	<div class="row">
			<div class="col-md-3">
				<span class="form-group {{if errors.extent 'has-error'}}">
					{{field-component selectedPublicationType=getPublicationTypeObject fieldName="extent" type="text" errors=errors.extent value=publication.extent}}
				</span>
			</div>
	</div>

	<div class="row">
			<div class="col-md-9">
				<span class="form-group {{if errors.publisher 'has-error'}}">
						{{field-component selectedPublicationType=getPublicationTypeObject fieldName="publisher" type="text"  errors=errors.publisher value=publication.publisher}}
				</span>
			</div>
	</div>

	<div class="row">
		<div class="col-md-9">
			<span class="form-group {{if errors.place 'has-error'}}">
				{{field-component selectedPublicationType=getPublicationTypeObject fieldName="place" type="text"  errors=errors.place value=publication.place}}
			</span>
		</div>
	</div>

	<div class="row">
		<div class="col-md-9">
			<span class="form-group {{if errors.series 'has-error'}}">
		          {{field-component selectedPublicationType=getPublicationTypeObject fieldName="series" type="multiselect"  errors=errors.series selectValues=series value=selectedSeries}}
			</span>
		</div>
	</div>

{{/field-group}}
{{#field-group}}
	<div class="row">
		<div class="col-xs-12">
			<span class="form-group {{if errors.category_hsv_local 'has-error'}}">
				{{field-component selectedPublicationType=getPublicationTypeObject fieldName="category_hsv_local" type="category-selector" errors=errors.category_hsv_local value=publication.category_hsv_local categoryObjects=categoryObjectsList}}
			</span>
		</div>
	</div>

	<div class="row">
		<div class="col-md-9">
			<span class="form-group {{if errors.abstract 'has-error'}}">
				{{field-component selectedPublicationType=getPublicationTypeObject fieldName="abstract" type="textarea" errors=errors.abstract value=publication.abstract}}
			</span>
		</div>
	</div>

	<div class="row">
		<div class="col-md-9">
			<span class="form-group {{if errors.keywords 'has-error'}}">
				{{field-component selectedPublicationType=getPublicationTypeObject fieldName="keywords" type="textarea" errors=errors.keywords value=publication.keywords}}
			</span>
		</div>
	</div>
{{/field-group}}
{{#field-group}}
	<div class="row">
		<div class="col-md-9">
			<span class="form-group {{if errors.project 'has-error'}}">
		          {{field-component selectedPublicationType=getPublicationTypeObject fieldName="project" type="multiselect"  errors=errors.project selectValues=projects value=selectedProjects}}
			</span>
		</div>
	</div>

	<div class="row">
		<div class="col-md-9">
			<span class="form-group {{if errors.pub_notes 'has-error'}}">
				{{field-component selectedPublicationType=getPublicationTypeObject fieldName="pub_notes" type="textarea" errors=errors.pub_notes value=publication.pub_notes}}
			</span>
		</div>
	</div>
{{/field-group}}





	<div id="artwork-type" class="row">
		<div class="col-md-9">
			<span class="form-group {{if errors.artwork_type 'has-error'}}">
		{{field-component selectedPublicationType=getPublicationTypeObject fieldName="artwork_type" type="text"  errors=errors.artwork_type value=publication.artwork_type}}
			</span>
		</div>
	</div>


	<!-- Patent fields -->

	<div id="patent-applicant" class="row">
		<div class="col-md-9">
			<span class=":form-group {{if errors.patent_applicant 'has-error'}}">
				{{field-component selectedPublicationType=getPublicationTypeObject fieldName="patent_applicant" type="text"  errors=errors.patent_applicant value=publication.patent_applicant}}
			</span>
		</div>
	</div>

	<div id="patent-application-number" class="row">
		<div class="col-md-9">
			<span class="form-group {{if errors.patent_application_number 'has-error'}}">
				{{field-component selectedPublicationType=getPublicationTypeObject fieldName="patent_application_number" type="text" errors=errors.patent_application_number value=publication.patent_application_number}}
			</span>
		</div>
	</div>

	<div id="patent-application-date" class="row">
		<div class="col-md-9">
			<span class="form-group {{if errors.patent_application_date 'has-error'}}">
				{{field-component selectedPublicationType=getPublicationTypeObject fieldName="patent_application_date" type="text"  errors=errors.patent_application_date value=publication.patent_application_date}}
			</span>
		</div>
	</div>

	<div id="patent-number" class="row">
		<div class="col-md-9">
			<span class="form-group {{if errors.patent_number 'has-error'}}">
				{{field-component selectedPublicationType=getPublicationTypeObject fieldName="patent_number" type="text"  errors=errors.patent_number value=publication.patent_number}}
			</span>
		</div>
	</div>

	<div id="patent-date" class="row">
		<div class="col-md-9">
			<span class="form-group {{if errors.patent_date 'has-error'}}">
				{{field-component selectedPublicationType=getPublicationTypeObject fieldName="patent_date" type="date"  errors=errors.patent_date value=publication.patent_date}}
			</span>
		</div>
	</div>

	<hr/>

  {{publication-identifier-block publicationIdentifiers=publication.publication_identifiers publicationIdentifierCodes=publicationIdentifierCodes}}

	{{/if}}
