<div class="row bottom-spacing-20">
  <div class="col-xs-12">
    <h2>Välj publikationstyp</h2>
  </div>
</div>
<div class="row">
{{#if mayBecomeSelectedPublicationType}}
      {{publicationtype-item publicationTypes=publicationTypes code=mayBecomeSelectedPublicationType current=true}}
{{/if}}
{{#if suggestedPublicationType}}
      {{publicationtype-item publicationTypes=publicationTypes code=suggestedPublicationType suggested=true}}
{{/if}}
</div>
<div class="row">
<div class="col-xs-12">
  <ul class="nav nav-pills">
    <li role="presentation" class={{if isSelectedAll 'active'}}><a href="#" {{action 'setPublicationTypeFilter' 'all'}}>Alla</a></li>
    <li role="presentation" class={{if isSelectedArticles 'active'}}><a href="#" {{action 'setPublicationTypeFilter' 'articles'}}>Artiklar</a></li>
    <li role="presentation" class={{if isSelectedBooks 'active'}}><a href="#" {{action 'setPublicationTypeFilter' 'books'}}>Böcker, kapitel och rapporter</a></li>
    <li role="presentation" class={{if isSelectedConference 'active'}}><a href="#" {{action 'setPublicationTypeFilter' 'conference'}}>Konferensbidrag</a></li>
    {{#if session.data.authenticated.can_administrate}}
      <li role="presentation" class={{if isSelectedArtworks 'active'}}><a href="#" {{action 'setPublicationTypeFilter' 'artworks'}}>Konstnärliga arbeten</a></li>
    {{/if}}
    <li role="presentation" class={{if isSelectedOther 'active'}}><a href="#" {{action 'setPublicationTypeFilter' 'other'}}>Övrigt</a></li>
  </ul>
  </div>
  </div>
    {{#if showPublicationTypeGroupArticles}}
    <div class="row">
      <div class="col-xs-12">
        <h3>Artiklar</h3>
      </div>
      {{publicationtype-item publicationTypes=publicationTypes code='publication_journal-article'}}
      {{publicationtype-item publicationTypes=publicationTypes code='publication_review-article'}}
      {{publicationtype-item publicationTypes=publicationTypes code='publication_magazine-article'}}
      {{publicationtype-item publicationTypes=publicationTypes code='publication_editorial-letter'}}
      {{publicationtype-item publicationTypes=publicationTypes code='publication_book-review'}}
      {{publicationtype-item publicationTypes=publicationTypes code='publication_newspaper-article'}}
    </div>
    {{/if}}
    {{#if showPublicationTypeGroupBooks}}
    <div class="row">
      <div class="col-xs-12">
        <h3>Böcker, kapitel och rapporter</h3>
      </div>
      {{publicationtype-item publicationTypes=publicationTypes code='publication_book'}}
      {{publicationtype-item publicationTypes=publicationTypes code='publication_textbook'}}
      {{publicationtype-item publicationTypes=publicationTypes code='publication_textcritical-edition'}}
      {{publicationtype-item publicationTypes=publicationTypes code='publication_book-chapter'}}
      {{publicationtype-item publicationTypes=publicationTypes code='publication_doctoral-thesis'}}
      {{publicationtype-item publicationTypes=publicationTypes code='publication_licentiate-thesis'}}
      {{publicationtype-item publicationTypes=publicationTypes code='publication_edited-book'}}
      {{publicationtype-item publicationTypes=publicationTypes code='publication_report'}}
      {{publicationtype-item publicationTypes=publicationTypes code='publication_report-chapter'}}
    </div>
    {{/if}}
    {{#if showPublicationTypeGroupConference}}
    <div class="row">
      <div class="col-xs-12">
        <h3>Konferensbidrag</h3>
      </div>
      {{publicationtype-item publicationTypes=publicationTypes code='conference_paper'}}
      {{publicationtype-item publicationTypes=publicationTypes code='conference_other'}}
      {{publicationtype-item publicationTypes=publicationTypes code='conference_poster'}}
      {{publicationtype-item publicationTypes=publicationTypes code='conference_proceeding'}}
    </div>
    {{/if}}
    {{#if session.data.authenticated.can_administrate}}
      {{#if showPublicationTypeGroupArtworks}}
      <div class="row">
        <div class="col-xs-12">
          <h3>Konstnärliga arbeten</h3>
            {{publicationtype-item publicationTypes=publicationTypes code='artistic-work_original-creative-work' onlyAdmin=true}}
        </div>
      </div>
      {{/if}}
    {{/if}}
    {{#if showPublicationTypeGroupOther}}
    <div class="row">
      <div class="col-xs-12">
        <h3>Övrigt</h3>
      </div>
      {{publicationtype-item publicationTypes=publicationTypes code='publication_journal-issue'}}
      {{publicationtype-item publicationTypes=publicationTypes code='publication_working-paper'}}
      {{publicationtype-item publicationTypes=publicationTypes code='publication_encyclopedia-entry'}}
      {{publicationtype-item publicationTypes=publicationTypes code='intellectual-property_patent'}}
      {{publicationtype-item publicationTypes=publicationTypes code='other'}}
    </div>
    {{/if}}
  <div class="action-links pull-right">
    {{#if mayBecomeOldSelectedPublicationType}}
      <button class="btn btn-link" {{action 'cancelChangePublicationType'}}>{{t 'edit.actions.btnCancel'}}</button>
    {{/if}}
  </div>

