<div class="row">
  <div class="form-group">
    {{debounced-input value=qp class="form-control" placeholder=(t 'text.query_person') debounceWait=200 fireAtStart=false}}
  </div>
</div>
<hr/>
{{#if personChangeWarningAfterEditActive}}
<div class="alert alert-warning">
  {{t 'messages.personChangeWarningAfterEdit'}}
</div>
{{/if}}
<div class="row">
  {{#if model}}
  <table class="table">
    <thead>
      <tr>
        <th>{{t 'text.person.id'}}</th>
        <th>{{t 'text.person.first_name'}}</th>
        <th>{{t 'text.person.last_name'}}</th>
        <th>{{t 'text.person.xaccount'}}</th>
        <th>{{t 'text.person.orcid'}}</th>
        <th>{{t 'text.person.birthyear'}}</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {{#each model as |person|}}
      <tr>
        <td>{{person.id}}</td>
        <td>{{person.first_name}}</td>
        <td>{{person.last_name}}</td>
        <td>{{person.xaccount}}</td>
        <td>{{person.orcid}}</td>
        <td>{{person.year_of_birth}}</td>
        <td>
          {{#link-to 'admin.person.edit' person.id class="btn btn-default"}}
            {{t 'edit.actions.btnEdit'}}
          {{/link-to}}
          {{#if person.has_active_publications}}
          <button class="btn btn-default disabled">
            {{t 'edit.actions.btnDelete'}}
          </button>
          {{else}}
          <button class="btn btn-default" {{action 'deletePerson' person}}>
            {{t 'edit.actions.btnDelete'}}
          </button>
          {{/if}}
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>
  {{else}}
    {{#if qp}}
      <div class="col-xs-12">
        {{t 'text.query_person_none'}}
      </div>
    {{/if}}
  {{/if}}
</div>