<!-- T_YES-READY -->
<!-- S_YES-READY -->
<!-- Button-->
{{#if isDelayed}}
<span title="{{publication.biblreview_postpone_comment}}">{{t 'components.delayReviewModal.reviewPostponedUntil'}} <strong>{{startDate}}</strong></span>
{{else}}
<a href="javascript:void();" class={{buttonClass}} data-toggle="modal" data-target="#delayReviewModal">
  <i class="fa fa-clock-o"></i> {{t 'components.delayReviewModal.delay'}}
</a>
{{/if}}

<!-- Modal -->
<div class="modal fade" id="delayReviewModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel3">{{t 'components.delayReviewModal.delayHeader'}}</h4>
      </div>
      <div class="modal-body">
        <div class="form-group">
        <h4>{{t 'components.delayReviewModal.date'}}</h4>
          <div class="radio-inline">
        {{#radio-button value="calendar" groupValue=optDate changed="dateOptionChanged"}}V채lj datum{{/radio-button}}
        </div>
          <div class="radio-inline">
        {{#radio-button value="onemonth" groupValue=optDate changed="dateOptionChanged"}}1 m책n{{/radio-button}}
        </div>
          <div class="radio-inline">
        {{#radio-button value="threemonths" groupValue=optDate changed="dateOptionChanged"}}3 m책n{{/radio-button}}
        </div>
          <div class="radio-inline">
        {{#radio-button value="sixmonths" groupValue=optDate changed="dateOptionChanged"}}6 m책n{{/radio-button}}
        </div>
          {{pikaday-input value=date class="form-control" format='YYYY-MM-DD' allowBlank=false firstDay=1 placeholder="YYYY-MM-DD" disabled=datePickerDisabled onSelection=(action (mut date))}}
        </div>
        <h4>{{t 'components.delayReviewModal.comment'}}</h4>

          <div class="form-group">
          <div class="radio-inline">
            {{#radio-button value="freetext" groupValue=optText changed="textOptionChanged"}}Fritext{{/radio-button}}
            </div>
          <div class="radio-inline">
            {{#radio-button value="e-pub-ahead" groupValue=optText changed="textOptionChanged"}}E-pub ahead of print{{/radio-button}}
            </div>
          {{textarea value=comment cols=80 rows=6 classNames='form-control' disabled=commentFieldDisabled}}
          </div>
        </div>
      <div class="modal-footer">
        <button class="btn btn-link" data-dismiss="modal">Avbryt</button>
        <button class="btn btn-primary navbar-btn" data-dismiss="modal" {{action 'sendDelay'}}>{{t 'components.delayReviewModal.btnDelay'}}</button>
      </div>
    </div>
  </div>
</div>
