<div class="publication-list-row">
  <div class="row">
    <div class="col-xs-12">
      <h3>{{#link-to link item.id (query-params other_version=null)}} {{titleString}} {{#if hasOpenAccess}} <span><img style="height:14px;" src="/img/Open_Access_logo_PLoS_white.svg" title="Open Access" alt="Open Access">  </span> {{/if}}{{/link-to}}</h3>

    </div>
    <div class="col-xs-12">
      <p>
        {{#if showExtraData}}
            {{#if item.pubyear}}
              <div><strong>{{t 'components.publicationListRow.publicationYear'}}:</strong> {{item.pubyear}}</div>
            {{/if}}
            {{#if item.sourcetitle}}
              <div><strong>{{t 'components.publicationListRow.publishedInLabel'}}:</strong> {{item.sourcetitle}},
                {{#if item.sourcevolume}}
                  {{item.sourcevolume}}
                {{/if}}
                {{#if item.sourceissue}}
                 ({{item.sourceissue}}),
                {{/if}}
                {{#if item.sourcepages}}
                  ({{item.sourcepages}})
                {{/if}}
              </div>
            {{/if}}
        {{/if}}
        {{#if item.authors}}
            <div><strong>{{t 'components.publicationListRow.authorLabel'}}:</strong> 
              {{#if item.authors}} {{format-authors item.authors 0 10}}{{/if}}
                {{#if allowToggleAuthors}}
                  {{#unless showMoreAuthors}}
                    <a href="javascript:void();" {{action 'showAllAuthors'}}>et al.</a>
                  {{/unless}}
                {{/if}}
                {{#if showMoreAuthors}}
                  {{#if item.authors}} {{format-authors item.authors 10}}{{/if}}   
                {{/if}}
          </div>
        {{/if}}
      </p>
      {{#if showMetaData}}
      <table class="table">
        <tr class="hidden">
          <th>{{t 'components.publicationListRow.publicationID'}}:</th><td>{{item.id}}</td>
        </tr>
        <tr>
        <th>{{t 'components.publicationListRow.publicationType'}}:</th><td>{{item.publication_type_label}}{{#if isRef}}, {{getLowercaseRefValue}}{{/if}}

        </td>
        </tr>
        <tr>
        <th>{{t 'components.publicationListRow.publicationYear'}}:</th><td>{{item.pubyear}}</td>
        </tr>
        {{#if item.sourcetitle}}
        <tr>
        <th>{{t 'components.publicationListRow.publishedInLabel'}}:</th><td>{{item.sourcetitle}}</td>
        </tr>
        {{/if}}
        {{#if item.made_public_in}}
        <tr>
        <th>{{t 'components.publicationListRow.madePublicInLabel'}}:</th><td>{{item.made_public_in}}</td>
        </tr>
        {{/if}}

      </table>
      {{/if}}
    </div>
  </div>
</div>
