<div class="selectDiv form-inline">
{{t 'biblreview.showDelayedOnly'}} {{input type="checkbox" checked=only_delayed}}


  {{view Ember.Select 
    content=pubyears  
    optionValuePath="content.id"
    optionLabelPath="content.pubyear"
    value=pubyear
    class="form-control"
  }}

  {{view Ember.Select 
      value=pubtype
      content=publicationsController.publicationTypes
      optionValuePath="content.code"
      optionLabelPath="content.name"
      prompt="Välj"
      class="form-control"
  }}

</div>
<table class="table especial">
<thead>
<tr>
    <th id="pubidid"  >{{t 'biblreview.pubid'}}  </th>  
    <th id="titleid"  >{{t 'biblreview.title'}}  </th>  
    <th id="yearid"   >{{t 'biblreview.year'}}   </th>  
    <th id="pubtypeid">{{t 'biblreview.pubtype'}}</th>  
</tr>
</thead>
<tbody>
{{#each model as |publication|}}
<tr>
    <td>{{publication.id}}</td>
    <td>{{#link-to 'publications.show' publication.pubid (query-params viewMode="advanced")}}{{publication.title}}{{/link-to}}</td>
    <td>{{publication.pubyear}}</td>
    <td>{{publication.publication_type}}</td>
</tr>

{{/each}}
</tbody>
</table>
{{pagination-pager pagination=model.meta.pagination}}
