<div class="selectDiv form-inline">
  <div class="checkbox">
    <label> {{t 'biblreview.showDelayedOnly'}} {{input type="checkbox" checked=only_delayed}}</label>
  </div>

  {{view Ember.Select 
    content=pubyears  
    optionValuePath="content.id"
    optionLabelPath="content.pubyear"
    value=pubyear
    class="form-control"
  }}

  {{view Ember.Select 
      value=pubtype
      content=publicationsController.publicationTypes
      optionValuePath="content.code"
      optionLabelPath="content.name"
      prompt="Välj"
      class="form-control"
  }}

</div>

<div class="row">
  <div class="col-xs-12">
    {{#if model.length}}
    <ul class="list-unstyled dashboard-list">
      {{#each model as |item|}}
      <li>
        {{publication-list-row item=item link='publications.show'}}
      </li>
      {{/each}}
    </ul>
    {{else}}
    {{t 'text.youHaveNoPublicationsForReview'}}
    {{/if}}
  </div>
</div>
{{pagination-pager pagination=model.meta.pagination}}
