<div class="row">
  <div class="col-xs-12">
    {{#if model.length}}
    <ul class="list-unstyled dashboard-list">
      {{#each item in model}}
      <li>
        <div class="row">
          <div class="col-xs-10">
            {{#if item.title}}
            <div class="row">
              <div class="col-xs-12">
                <div class="dashboard-list-header">{{#link-to 'publications.show' item.pubid }}{{item.title}}{{/link-to}}</div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12"><strong>{{t 'publication.labels.createdAt'}}:</strong> {{format-date item.created_at}}</div>
            </div>

            {{else}}
            <div class="dashboard-list-header">{{#link-to 'publications.show' item.pubid }}Titel ej angiven{{/link-to}}</div>
            {{/if}}
          </div>
          <div class="col-xs-2">
            <div class="btn-toolbar pull-right">
              <button {{action 'delete' item.id}} class="btn btn-sm btn-danger"><i class="fa fa-times"></i></button>
            </div>
          </div>
        </div>
      </li>
      {{/each}}
    </ul>
    {{else}}
    {{t 'text.youHaveNoDrafts'}}
    {{/if}}
  </div>
</div>
