<p class="lead">Text som förklarar vad detta är och varför man ska hålla på med det osv.</p>

<div class="row">
  <div class="col-xs-12">
    {{#if model.length}}
    <ul class="list-unstyled dashboard-list">
      {{#each item in model}}
      <li>
        <div class="row">
          <div class="col-xs-10">
            <div class="row">
              <div class="col-xs-12">
                {{publication-list-row item=item link='publications.show.edit'}}
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12">
                {{review-item item=item}}                
              </div>
            </div>
          </div>
          <div class="col-xs-2">
            <div class="btn-toolbar pull-right">
              <button {{action 'approve' item}} class="btn btn-sm btn-success">Godkänn</button>
            </div>
          </div>
        </div>
      </li>
      {{/each}}
    </ul>
    {{else}}
    {{t 'text.youHaveNoDrafts'}}
    {{/if}}
  </div>
</div>
