<p class="lead">Text som förklarar vad detta är och varför man ska hålla på med det osv.</p>

<div class="row">
  <div class="col-xs-12">
    {{#if model.length}}
    <ul class="list-unstyled dashboard-list">
      {{#each item in model}}
      <li>
        <div class="row">
          <div class="col-xs-10">
            <div class="row">
              <div class="col-xs-12">
                {{publication-list-row item=item link='publications.show.edit'}}
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12">
                <div class="panel panel-warning">
                  <div class="panel-heading">
                    <h3 class="panel-title">Granska och godkänn följande:</h3>
                  </div>
                  <div class="panel-body">
                    <dl class="dl-horizontal">
                      <dt>Publikationstyp:</dt>
                      <dd>{{item.publication_type}}</dd>
                      <dt>Innehållsmärkning:</dt>
                      <dd>{{item.content_type}}</dd>
                      <dt>Din affiliering:</dt>
                      {{#each department in item.affiliation.departments}}
                      <dd>{{department.name}}</dd>
                      {{/each}}
                      <dt>Ämnesord:</dt>
                      {{#each category in item.category_objects}}
                      <dd>{{category.name_path}}</dd>
                      {{/each}}
                    </dl>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-2">
            <div class="btn-toolbar pull-right">
              <button {{action 'approve' item.id}} class="btn btn-sm btn-success">Godkänn</button>
            </div>
          </div>
        </div>
      </li>
      {{/each}}
    </ul>
    {{else}}
    {{t 'text.youHaveNoDrafts'}}
    {{/if}}
  </div>
</div>
