<div class="row">
{{#if messages.alert_message.message}}
<div class="col-xs-12">
  <div class="alert alert-warning alert-message"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> {{messages.alert_message.message}}</div>
</div>
{{/if}}
<div class="col-xs-12 col-md-8 ">
  <div class="row">

<div class="col-xs-12">
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="new-icon-background" />
      <h3>{{t 'labels.registerNewPublication'}}</h3>
      {{#link-to 'publications.new' class="btn btn-primary" id="register-new-link"}}{{t 'labels.registerNew'}}{{/link-to}}
    </div>
  </div>
</div>
<div class="col-xs-12">
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="search-icon-background" />
      <h3>{{t 'labels.searchForPublicationWithPubid'}}</h3>
      <div class="row">
        <div class="col-xs-6">
          {{input enter="showPublication" class="form-control" value=publication_id placeholder=(t 'mainMenu.searchById') }}
        </div>
        <div class="col-xs-6">
          <span class="gup-error">{{application.publication_id_error}}</span>
        </div>
      </div>
      
    </div>
  </div>
</div>
  </div>
</div>
<div class="col-xs-12 col-md-4 ">
{{#if messages.news_message.message}}
<h2>{{messages.news_message.start_date}}</h2>
  {{messages.news_message.message}}
{{/if}}
</div>

</div>
