<div class="col-xs-12 col-md-8 ">
  <div class="panel panel-default">
    <div class="panel-body">
    <div class="new-icon-background" />
    <h3>{{t 'labels.registerNewPublication'}}</h3>
    {{#link-to 'publications.new' class="btn btn-primary"}}{{t 'labels.registerNew'}}{{/link-to}}
</div>
</div>
</div>
<div class="col-xs-12 col-md-8 ">
  <div class="panel panel-default">
    <div class="panel-body">
    <div class="search-icon-background" />
    <h3>{{t 'labels.searchForPublicationWithPubid'}}</h3>
  {{input enter="showPublication" value=publication_id placeholder=(t 'mainMenu.searchById')}}
  <span style="color:red">{{application.publication_id_error}}</span>
</div>
</div>
</div>

