<div id="spinner">
	<i class="fa fa-circle-o-notch fa-spin"></i>
</div>

<div class="container messages">
	{{partial 'msgheader'}}
</div>

{{partial 'header'}}

{{partial 'main-menu'}}

<div class="container">
	{{outlet}}
</div>

{{partial 'footer'}}
