
<nav class="navbar navbar-default navbar-fixed-top {{if isViewModeAdvanced 'advanced-view'}}" role="navigation">
  <div class="container-fluid">
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="navbar-header">
      {{#link-to 'publications.dashboard.start' class="navbar-brand"}}
      {{t 'mainMenu.applicationName'}}
      {{/link-to}}
    </div>

      {{#if session.isAuthenticated}}
      <p class="navbar-text navbar-right"><i class="fa fa-lock"></i> {{session.username}} (<small><a href="javascript:void(0)" {{action 'invalidateSession'}}>{{t 'mainMenu.logOut'}}</a></small>)</p>
      {{else}}
      {{/if}}
      <p class="navbar-text navbar-right"><a href="javascript:void(0)" {{action 'toggleLang'}}>{{t 'mainMenu.lang'}}</a></p>
        {{#if session.content.can_bibreview}}
            <p class="navbar-text navbar-right"><a href="javascript.void(0)" {{action 'toggleViewMode'}}>{{#if isViewModeBasic}}Aktivera granskningsvy{{else}}Inaktivera granskningsvy{{/if}}</a></p>
        {{/if}}
  </div><!-- /.container -->
</nav>

