
<nav class="navbar navbar-default navbar-fixed-top {{if isViewModeAdvanced 'advanced-view'}}" role="navigation">
  <div class="container-fluid">
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="navbar-header">
      {{#link-to 'publications.dashboard.manage.published' class="navbar-brand" id='navbar-home'}}
      {{t 'mainMenu.applicationName'}}
      {{/link-to}}
      <ul class="nav navbar-nav">
        <li title={{t 'tabTitle.drafts'}}>{{#link-to 'publications.dashboard.manage'}}Publikationer{{/link-to}}</li>
        <li title={{t 'tabTitle.forReview'}}>
          {{#link-to 'publications.dashboard.review'}}{{t 'text.forReview'}}
          {{#if showReviewCount}}
            <span class="badge badge-red">{{userdata.counts.review}}</span>
          {{/if}}
          {{/link-to}}
        </li>
        {{#if session.data.authenticated.can_administrate}}
          <li title={{t 'tabTitle.admin'}}>{{#link-to 'publications.dashboard.admin' id='admin-tab'}}{{t 'text.admin'}}{{/link-to}}</li>
        {{/if}}
        {{#if session.data.authenticated.can_biblreview}}
          <li title={{t 'tabTitle.forBReview'}}>{{#link-to 'publications.dashboard.biblreview'  (query-params page='1')}}{{t 'text.forBReview'}}{{/link-to}}</li>
        {{/if}}
        {{#if session.data.authenticated.can_administrate}}
          <li title={{t 'tabTitle.registeredOrEditedByMe' }}>{{#link-to 'publications.dashboard.touched' (query-params page='1')}}  {{t 'text.registeredOrEditedByMe'}}{{/link-to}}</li>
        {{/if}}
        <li title={{t 'tabTitle.reports'}}>{{#link-to 'publications.dashboard.reports'}}{{t 'text.reports'             }}{{/link-to}}</li>
      </ul>
    </div>

    {{#if session.isAuthenticated}}
    <p class="navbar-text navbar-right"><i class="fa fa-lock"></i> {{session.data.authenticated.username}} (<small><a href="javascript:void(0)" class="logout-link" {{action 'invalidateSession'}}>{{t 'mainMenu.logOut'}}</a></small>)</p>
    {{else}}
    {{/if}}
    <p class="navbar-text navbar-right"><a href="javascript:void(0)" {{action 'toggleLang'}}>{{t 'mainMenu.lang'}}</a></p>
  </div><!-- /.container -->
</nav>

