
<nav class="navbar navbar-default navbar-fixed-top gub-header {{if isViewModeAdvanced 'advanced-view'}}" role="navigation">
  <div class="container-fluid">
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="navbar-header">
      <div class="navbar-brand">
        <img alt="Gothenburg University Library" src="img/gub-textlogo-en.svg">
      </div>
      <div class="navbar-appname">
        <span class="divider" />
        {{#link-to 'publications.dashboard.manage.published'}}
        {{t 'mainMenu.applicationName'}}
        {{/link-to}}
      </div>

      <ul class="nav navbar-nav">
        <li title={{t 'mainMenu.publications'}}>{{#link-to 'publications.dashboard.manage'}}{{t 'mainMenu.publications'}}{{/link-to}}</li>
        <li title={{t 'mainMenu.forReview'}}>
          {{#link-to 'publications.dashboard.review'}}{{t 'mainMenu.forReview'}}
          {{#if showReviewCount}}
            <span class="badge badge-red">{{userdata.counts.review}}</span>
          {{/if}}
          {{/link-to}}
        </li>
        {{#if session.data.authenticated.can_administrate}}
          <li title={{t 'mainMenu.admin'}}>{{#link-to 'publications.dashboard.admin' id='admin-tab'}}{{t 'mainMenu.admin'}}{{/link-to}}</li>
        {{/if}}
        {{#if session.data.authenticated.can_biblreview}}
          <li title={{t 'mainMenu.forBReview'}}>{{#link-to 'publications.dashboard.biblreview'  (query-params page='1')}}{{t 'mainMenu.forBReview'}}{{/link-to}}</li>
        {{/if}}
        {{#if session.data.authenticated.can_administrate}}
          <li title={{t 'mainMenu.registeredOrEditedByMe' }}>{{#link-to 'publications.dashboard.touched' (query-params page='1')}}  {{t 'mainMenu.registeredOrEditedByMe'}}{{/link-to}}</li>
        {{/if}}
        <li title={{t 'mainMenu.reports'}}>{{#link-to 'publications.dashboard.reports'}}{{t 'mainMenu.reports'             }}{{/link-to}}</li>
      </ul>
    </div>

    {{#if session.isAuthenticated}}
    <p class="navbar-text navbar-right"><i class="fa fa-lock"></i> {{session.data.authenticated.username}} (<small><a href="javascript:void(0)" class="logout-link" {{action 'invalidateSession'}}>{{t 'mainMenu.logOut'}}</a></small>)</p>
    {{else}}
    {{/if}}
    <p class="navbar-text navbar-right"><a href="javascript:void(0)" {{action 'toggleLang'}}>{{t 'mainMenu.lang'}}</a></p>
  </div><!-- /.container -->
</nav>

