{{#if error }}
  <div class="row">
    <div class="col-xs-12">
    {{no-result icon="fa-frown-o" displaytext=(t 'publications.dashboard.manage.show.index.errorMissingPublication')}}
    </div>
  </div>
{{else}}
  {{#if isExtendedViewMode}}
    <div class="row">
      <div class="col-xs-8 col-xs-offset-2">
        <div class="alert alert-info">
          {{t 'publications.dashboard.manage.show.index.reviewModeInfo'}} <a href="javascript.void(0)" {{action 'toggleViewMode'}}>{{t 'publications.dashboard.manage.show.index.reviewModeCancel'}}<i class="fa fa-compress"></i></a>
        </div>
      </div>
    </div>
  {{/if}}
  <div class="row">
    <div class="col-xs-3">
      <a href="javascript:void();" {{action 'goBack'}}><i class="fa fa-chevron-left"></i> {{t 'publications.dashboard.manage.show.index.btnBack'}}</a>
    </div>
    <div class="col-xs-9">
      <nav id="publication-toolbar" class="pull-right">
        <ul class="list-inline">
          <li>
            {{file-upload id="gup-input-upload" class="gup-input-upload" fileUploadProgress=fileUploadProgress fileUploadError=fileUploadError assetData=assetData uploadExtraData=(hash publication_id=model.id)}}

            <label for="gup-input-upload"><i class="fa fa-paperclip" aria-hidden="true"></i> {{t 'publications.dashboard.manage.show.index._subnav.attachFile'}} </label>
            {{file-upload-widget publication=model assetData=assetData fileUploadProgress=fileUploadProgress}}
          </li>
          <li>{{#link-to 'publications.dashboard.manage.show.edit' model }}<i class="fa fa-pencil"></i> {{t 'publications.dashboard.manage.show.index._subnav.edit'}} {{/link-to}}</li>
          {{#if session.data.authenticated.can_delete_published}}
            <li><a href="javascript:void();" {{action 'deletePublication' model.id}}><i class="fa fa-trash" title=""></i> {{t 'publications.dashboard.manage.show.index._subnav.delete'}} </a></li>
          {{/if}}
          {{#unless session.data.authenticated.can_biblreview}}
            <li>{{mailer-modal publication=model}}</li>
          {{/unless}}
          {{#if isExtendedViewMode}}
            {{#if session.data.authenticated.can_biblreview}}
              {{#if model.published_at}}
                {{#unless model.biblreviewed_at}}
                  <li>{{delay-review-modal publication=model}}</li>
                  <li><a href="javascript:void();" {{action 'approvePublication' model.id}}><i class="fa fa-check"></i> {{t 'publications.dashboard.manage.show.index._subnav.biblreview'}}</a></li>
                {{/unless}}
              {{/if}}
            {{/if}}
          {{/if}}
          {{#if session.data.authenticated.can_biblreview}}
              {{#if isExtendedViewMode}}
            <li>
                <a href="javascript.void(0)" {{action 'toggleViewMode'}}> <i class="fa fa-compress"></i> {{t 'publications.dashboard.manage.show.index._subnav.viewMode'}} </a>
            </li>
            {{#if isExtendedCompareMode}}
            <li>
                <a href="javascript.void(0)" {{action 'toggleCompareMode'}}> <i class="fa fa-compress"></i> {{t 'publications.dashboard.manage.show.index._subnav.reviewMode'}} </a>
            </li>
            {{else}}
            <li>
                <a href="javascript.void(0)" {{action 'toggleCompareMode'}}> <i class="fa fa-compress"></i> {{t 'publications.dashboard.manage.show.index._subnav.compare'}}</a>
            </li>
            {{/if}}
              {{else}}
            <li>
                <a href="javascript.void(0)" {{action 'toggleViewMode'}}><i class="fa fa-expand"></i> {{t 'publications.dashboard.manage.show.index._subnav.reviewMode'}}</a>
            </li>
              {{/if}}
          {{/if}}
        </ul>
      </nav>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      {{#if fileUploadError}}
        <div class="alert alert-danger alert-dismissible" role="alert">{{fileUploadError}}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true"><i class="fa-close fa"></i></span></button>
        </div>
      {{/if}}
      <div class="progress" id="gup-progress-bar">
        <div class="progress-bar" role="progressbar" aria-valuenow="{{fileUploadProgress}}" aria-valuemin="0" aria-valuemax="100" style="width: {{fileUploadProgress}}%;">
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-10">
      <h2>{{model.title}}</h2>
      {{#if model.epub_ahead_of_print}}
        <div class="alert alert-warning">
        {{t 'publications.dashboard.manage.show.index.epubAheadOfPrintSince'}}{{format-date model.epub_ahead_of_print}}
        </div>
      {{/if}}
    </div>
  </div>
  {{#if isExtendedViewMode}}
    <div class="row">
      <div class="col-xs-12">
        {{#if isExtendedCompareMode}}
        {{publication-display publication=model publicationType=getPublicationTypeObject mode='compare' otherPublication=otherPublication otherIsSelected=otherPublicationSelected other_version=other_version}}
        {{else}}
        {{publication-display publication=model publicationType=getPublicationTypeObject mode='review'}}
        {{/if}}
      </div>
    </div>
    <div class="row">
      <div class="col-xs-10">
        <dl class="dl-horizontal dl-biblreview">
          {{#if 0}}
          <dt>{{t 'publication.labels.createdAt'}}</dt><dd>{{format-date model.created_at}}</dd>
          <dt>{{t 'publication.labels.createdBy'}}</dt><dd>{{model.version_created_by}}</dd>
          {{#if model.published_at}}<dt>{{t 'publications.dashboard.manage.show.index.meta.updatedAt'}}</dt><dd>{{format-date model.updated_at}}</dd>{{/if}}
            {{#if model.version_updated_by}}<dt>{{t 'publications.dashboard.manage.show.index.meta.updatedBy'}}</dt><dd>{{model.version_updated_by}}</dd>{{/if}}
              {{#if model.published_at}}<dt>{{t 'publications.dashboard.manage.show.index.meta.publishedAt'}}</dt><dd>{{format-date model.published_at}}</dd>{{/if}}
                {{#if model.biblreview_postponed_until}}<dt>{{t 'publications.dashboard.manage.show.index.meta.reviewStart'}}</dt><dd>{{format-date model.biblreview_postponed_until}}</dd>{{/if}}
                  {{#if model.biblreview_postpone_comment}}<dt>{{t 'publications.dashboard.manage.show.index.meta.delayComment'}}</dt><dd>{{model.biblreview_postpone_comment}}</dd>{{/if}}
                    {{#if model.biblreviewed_by}}<dt>{{t 'publication.labels.reviewedBy'}}</dt><dd>{{model.biblreviewed_by}}</dd>{{/if}}
                      {{#if model.biblreviewed_at}}<dt>{{t 'publications.dashboard.manage.show.index.meta.reviewedAt'}}</dt><dd>{{format-date model.biblreviewed_at}}</dd>{{/if}}
                      {{else}}
                        <dt>{{t 'publications.dashboard.manage.show.index.meta.createdAt'}}</dt>
                        <dd><span>{{format-date model.created_at}}</span> {{t 'publications.dashboard.manage.show.index.meta.by'}}  <span>{{model.version_created_by}}</span></dd>
                        {{#if model.updated_at}}
                          <dt>{{t 'publications.dashboard.manage.show.index.meta.updatedAt'}}</dt>
                          <dd><span>{{format-date model.updated_at}}</span> {{t 'publications.dashboard.manage.show.index.meta.by'}} <span>{{model.version_updated_by}}</span></dd>
                        {{/if}}
                        {{#if model.published_at}}
                          <dt>{{t 'publications.dashboard.manage.show.index.meta.publishedAt'}}</dt>
                          <dd><span>{{format-date model.published_at}}</span> {{t 'publications.dashboard.manage.show.index.meta.by'}}  <span>{{model.version_created_by}}</span></dd>
                        {{/if}}
                        {{#if model.biblreview_postponed_until}}
                          <dt>{{t 'publications.dashboard.manage.show.index.meta.reviewPostponedUntil'}}</dt>
                          <dd><span>{{format-date model.biblreview_postponed_until 'YYYY-MM-DD'}}</span>
                          {{#if model.biblreview_postpone_comment}}
                            ({{model.biblreview_postpone_comment}})
                          {{/if}}
                          </dd>
                        {{/if}}
                        {{#if model.biblreviewed_at}}
                          <dt>{{t 'publications.dashboard.manage.show.index.meta.reviewedAt'}}</dt>
                          <dd><span>{{format-date model.biblreviewed_at}}</span> {{t 'publications.dashboard.manage.show.index.meta.by'}}  <span>{{model.biblreviewed_by}}</span></dd>
                        {{/if}}
          {{/if}}
        </dl>
      </div>
    </div>
  {{else}}
    <div class="row">
      <div class="col-xs-10">
        {{publication-display publication=model publicationType=getPublicationTypeObject mode='preview'}}
      </div>
    </div>
  {{/if}}

{{/if}}



